<div class="wrapper-feed">
    <div class="tab-situations-feed"></div>


    <div class="box-post-to-wall">
        <div class="feed-box">
            <div class="img-post-wall"><img src="images/icon/post.png"/></div>
        </div>
        <div class="feed-head-comment-wall">
            <table>  
                <tr>
                    <td class="comment-to-wall">
                        <div class="upimages-box wall-upload"><img src="images/icon/cam15.png" title="แนบรูปภาพ"></div>
                        <div class="img-profile"> <img style="width: 25px; height: 25px;" ng-if="facebookInfo.id" ng-src="https://graph.facebook.com/{{ facebookInfo.id }}/picture"/></div>
                        <input type="text" placeholder="comment..." disabled/>
                    </td>
                    <td class="post-to-wall"><button class="btn btn-small btn-primary" disabled>Post</button></td>
                </tr>
            </table>          
        </div>
        <div style="clear: both;"></div>
    </div>

    <div id="fetching-data-feed" style="display: none;">
        <div id="facebookG">
            <div id="blockG_1" class="facebook_blockG">
            </div>
            <div id="blockG_2" class="facebook_blockG">
            </div>
            <div id="blockG_3" class="facebook_blockG">
            </div>
        </div>
        <div>Fetching data, please wait ...</div>
    </div>

    <div id="temp-data-feed">

    </div>

    <div id="fetched-data-feed" class="box-new-feed" ng-repeat="(ki, item) in matchFeeds">


        <div class="box-feed">
            <div class="feed-situations">
                <div class="img-user-feed">
                    <img ng-src="/images/countries/{{ item.match.competitionId}}.png">
                    <div><img src="images/icon/bet2.png" style="width: 30px; height: 30px;">
                        <br/><b>{{ item.match.hdp}}</b><br/>HDP
                    </div>
                    <div style="clear: both;"></div>
                </div>
            </div>

            <table ng-click="redirectToGamePage(item.match.mid)" style="cursor: pointer;">

                <!--<tr class="head-feed">
                    <td class="box-icon-bet"><img ng-src="images/countries/{{ item.match.competitionId }}.png"/></td>
                    <td><span class="font-name user-name-feed">{{ allLeagues[item.match._lid].name || item.match.LeagueName }}</span></td>
                    <td class="time-to-post">{{ item.match.date | formatDate:'DD MMMM YYYY HH:mm'}}</td>
                </tr>-->
                <tr class="head-feed">      
                    <td class="time-date-post">{{ item.match.date | formatDate:'DD MMMM YYYY HH:mm'}}</td>
                    <td class="league-name-title">{{ allLeagues[item.match._lid].name || item.match.LeagueName }}</td>
                </tr>

                <tr class="teamplay">
                    <td colspan="2" class="team-playing">
                        <table>
                            <tr>
                                <td class="sec-team1"> <img src="{{ item.logos[item.match.hid]['256x256']}}"/></td>
                                <td class="hdpr"><b>{{ item.match.hdp}}</b> <br/> <span class="macth-hdp">({{ item.match.hdp_home}}) : ({{ item.match.hdp_away}})</span></td>
                                <td class="sec-team2"><img src="{{ item.logos[item.match.gid]['256x256']}}"/> </td>
                            </tr>
                            <tr>
                                <td colspan="3">
                                    <table>
                                        <tr>
                                            <td class="teams1"><span ng-class="{'team-favored': item.match.hdp < 0}">{{ allTeams[item.match.hid].name || item.match.HomeName }}</span>
                                                <div class="last-stat-fivematch"> <span class="text-green">W</span> | <span class="text-red">L</span> | <span class="text-green">W</span> | <span class="text-red">L</span> | D</div>
                                            </td>
                                            <td class="teams2"><span ng-class="{'team-favored': item.match.hdp > 0}">{{ allTeams[item.match.gid].name || item.match.AwayName }}</span> 
                                                <div class="last-stat-fivematch"> <span class="text-green">W</span> | <span class="text-red">L</span> | <span class="text-green">W</span> | <span class="text-red">L</span> | D</div>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                            <tr style="display: none;">
                                <td class="sec-team1"><span ng-class="{'team-favored': item.match.hdp < 0}">{{ allTeams[item.match.hid].name || item.match.HomeName }}</span></td>
                                <td class="hdp-r"></td>
                                <td class="sec-team2"><span ng-class="{'team-favored': item.match.hdp > 0}">{{ allTeams[item.match.gid].name || item.match.AwayName }}</span> </td>
                            </tr>
                        </table>
                    </td>
                </tr>



                <!--
                <tr>
                    <td colspan="2">{{ item.message }}</td>
                </tr>
                <tr>
                    <td colspan="2" class="team-playing">
                        <a href="#!/match/{{ item.mid }}">
                            {{ item.oddsTimestamp | parseOdds:'home' }} <span ng-class="{'team-selected': item.choose == 'home'}">{{ allTeams[item.hid].name }}</span> <img src="{{ logoUrl }}/{{ item.hid }}_32x32.png"/>
                            {{ item.betHdp }}
                            <img src="{{ logoUrl }}/{{ item.gid }}_32x32.png"/> <span ng-class="{'team-selected': item.choose == 'away'}">{{ allTeams[item.gid].name }}</span> {{ item.oddsTimestamp | parseOdds:'away' }}
                        </a>
                    </td>
                </tr>
                <tr>
                    <td class="more" style="display: none;"><span class="more-info">แสดง</span></td>
                </tr>
                -->



            </table>


            <div class="wrapper-box-feed-comment" style="display: snone;">
                <div class="box-feed-comment">
                    <table>
                        <tr>
                            <td class="people-like">{{ item.beton.home.count}}</td>
                            <td class="user-like"><span class="img-people-like" ng-repeat="user in item.beton.home.list| limitTo:5"><a href="/profile.php?id={{ user.fb_uid}}"><img ng-src="https://graph.facebook.com/{{ user.fb_uid}}/picture"/></a></span></td>
                            <td class="vs-like">VS</td>
                            <td class="user-like"><span class="img-people-like" ng-repeat="user in item.beton.away.list| limitTo:5"><a href="/profile.php?id={{ user.fb_uid}}"><img ng-src="https://graph.facebook.com/{{ user.fb_uid}}/picture"/></a></span></td>
                            <td class="people-like">{{ item.beton.away.count}}</td>
                        </tr>
                    </table>
                </div>


                <div class="tab-more-feed-comment" ng-show="item.betlist.length > 5">
                    <img src="images/icon/commented.png"/> <a href="">ดูอีก 5 ความคิดเห็น</a>
                </div>
                <div class="box-show-comment" ng-repeat="comment in item.betlist">
                    <table>
                        <tr>
                            <!--<td class="user-comment-img"></td>-->
                            <!-- <td class="user-comment-img"><a href="/profile.php?id={{ comment.fb_uid }}"><img ng-src="https://graph.facebook.com/{{ comment.fb_uid }}/picture"/></a></td>-->
                            <td class="user-comment"><a href="/profile.php?id={{ comment.fb_uid}}"><img ng-src="https://graph.facebook.com/{{ comment.fb_uid}}/picture"/></a>
                                <div class="commented-box" style="width: 440px; float: left;"><b>{{ comment.displayname}}</b> <span class="team-user-selected" ng-switch="comment.choose">
                                        <span ng-switch-when="home">@{{ allTeams[item.match.hid].name || item.match.HomeName }}</span>
                                        <span ng-switch-when="away">@{{ allTeams[item.match.gid].name || item.match.AwayName }}</span>
                                    </span> {{ comment.message}}
                                    <span class="time-post">
                                        <ul>
                                            <li class="time-post-comment-user">{{ comment.comment_at | timeago }}</li>
                                            <li class="user-liked">  <img src="images/icon/heart.png" ng-click="likeComment(comment.id, ki, $index)"/> ({{ comment.like}})</li>
                                        </ul>
                                    </span>
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>

                <!-- comment input -->

                <div class="box-show-comment">
                    <table>
                        <tr>
                            <!-- <td class="user-comment-img"></td>-->
                            <td class="comment">
                                <div class="upimages-box"><img src="images/icon/cam15.png" title="แนบรูปภาพ"/></div>
                                <img style="width: 25px; height: 25px;" ng-if="facebookInfo.id" ng-src="https://graph.facebook.com/{{ facebookInfo.id }}/picture"/>
                                <input type="text" ng-click="redirectToGamePage(item.match.mid)" ng-enter="commentOn(ki, item, betComments[ki])" ng-model="betComments[ki]" placeholder="comment..."/>
                            </td>
                        </tr>
                    </table>
                </div>

                <!-- end -->

            </div>

        </div>


        <div style="clear: both;"></div>
    </div>





    <!-- modal Top Score คลิกดูรูปใหญ่รางวัล -->

    <div class="section-video" style="display: none;">
        <div class="modal-backdrop fade in"></div>
        <div id="Modal" class="modal hide fade in" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="false" style="display: block;">
            <!--<div class="box-close"><img src="images/icon/close.png"/></div>-->
            <div class="header-video">
                <div class="logos"><img src="images/icon/logo.png"/></div>
                <div class="closed">X</div>
                <div style="clear: both;"></div>

                <div class="bg-topscore">
                    <table>
                        <tr>
                            <td><h1>Top Score</h1><br/>Rank 1<br/>Type : All Ranking<br/>Date : 14-02-2014</td>
                            <td><img src="images/icon-profile/0010.png"/></td>
                        </tr>
                    </table>
                </div>



            </div>
        </div>
    </div>



</div>