<div class="tab-follower">

    
    <div class="box-follower" ng-repeat="item in following.user" ng-show="item.fb_uid">
        <table>
            <tr>
                <td class="icon-follower">
                    <div class="icon-follower-left"><img src="/images/icon/trophy.png"/></div>
                    <div class="tab-situations-icon"></div>
                </td>
                <td class="img-user-follow">
                    <div class="user-follow"><a href="/profile.php?id={{ item.fb_uid }}"><img ng-src="https://graph.facebook.com/{{item.fb_uid}}/picture"/></a></div>
                </td>
                <td class="info-follow">
                    <table>
                        <tr>
                            <td class="tab-info-follow"><span class="tab-follow"><img
                                        src="images/icon/blue-map-marker.png"/> Follower ({{ item.follow_count }})</span> </td>
                        </tr>
                        <tr>
                            <td><span class="font-name name-following">{{ item.display_name || item.fb_firstname }}</span></td>
                        </tr>
                      
                    </table>
                </td>
                <td class="statFive">
                    <div class="icon-stat">
                        <img ng-repeat="r in item.lastResult.split(',') track by $index" ng-src="images/icon/{{ r | fromInitial }}.png" ng-show="r">
                    </div>
                </td>
            </tr>
        </table>
    </div>
</div>