<div class="section-match-result-list">

    <!--ส่วนแสดง Step , Combo-->
    <div class="boxStep stepBg" style="display: snone;">
        <table>
            <tr>
                <td>Step : </td>
                <td class="step" ng-class="{
                    'step3': userInfo.step_combo_today_count == 3,
                    'step4': userInfo.step_combo_today_count == 4,
                    'step5': userInfo.step_combo_today_count == 5,
                    'step6': userInfo.step_combo_today_count == 6,
                    'step7': userInfo.step_combo_today_count == 7,
                    'step8': userInfo.step_combo_today_count >= 8,
                    }"></td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <div class="boxTextStep">
                        <table>
                            <tr>
                                <td style="text-align: left;">Step 3</td>
                                <td>Step 4</td>
                                <td>Step 5</td>
                                <td>Step 6</td>
                                <td>Step 7</td>
                                <td style="text-align: right;">Step 8</td>
                            </tr>
                        </table>
                    </div>
                </td>
            </tr>
            <tr>
                <td>Combo : </td>
                <td>
                    <div class="graph-outer1">
                        <div class="inner-left-cap1" ng-if="userInfo.step_combo_count >= 2"></div>
                        <div class="inner-left-bar1" ng-if="userInfo.step_combo_count >= 2"><b>Combo 2</b></div>
                        <div class="inner-left-cap2" ng-if="userInfo.step_combo_count >= 6"></div>
                        <div class="inner-left-bar1" ng-if="userInfo.step_combo_count >= 6"><b>Combo 6</b></div>
                        <div class="inner-left-cap3" ng-if="userInfo.step_combo_count >= 8"></div>
                        <div class="inner-left-bar1" ng-if="userInfo.step_combo_count >= 8"><b>Combo 8</b></div>
                        <div class="inner-left-cap4" ng-if="userInfo.step_combo_count >= 10"></div>
                        <div class="inner-left-bar1" ng-if="userInfo.step_combo_count >= 10"><b>Combo 10</b></div>
                        <div class="inner-left-cap5" ng-if="userInfo.step_combo_count >= 15"></div>
                        <div class="inner-left-bar1" ng-if="userInfo.step_combo_count >= 15"><b>Combo 15</b></div>
                        <div class="inner-left-cap6" ng-if="userInfo.step_combo_count >= 28"></div>
                        <div class="inner-left-bar1" ng-if="userInfo.step_combo_count >= 28"><b>Combo 28</b></div>
                    </div>
                </td>
            </tr>
        </table>
    </div>
    <!--        end-->


    <div class="tab-menu-profile">
        <table>
            <tbody>
                <tr>
                    <td ng-class="{'active-menu-ranking': !resultFilter.betResult}" ng-click="clearResultFilter()">All match <span class="font-orange1">({{ localFacebookInfo.pts}})</span></td>
                    <td ng-class="{'active-menu-ranking': resultFilter.betResult == 'win'}" ng-click="resultFilter.betResult = 'win'">Win <span class="font-orange1">({{ localFacebookInfo.w}})</span></td>
                    <td ng-class="{'active-menu-ranking': resultFilter.betResult == 'lose'}" ng-click="resultFilter.betResult = 'lose'">Lose <span class="font-orange1">({{ localFacebookInfo.l}})</span></td>
                </tr>

            </tbody>
        </table>
    </div>

    <div class="wrapper-result-match">
        <div class="tab-menu-date">
            <table>
                <tr>
                    <td ng-click="changePlayResultDate('')" ng-class="{'active-menu-date': playResultDateSelect == ''}"><h2>All</h2></td>
                </tr>
                <tr ng-repeat="item in playResultDate">
                    <td ng-class="{'active-menu-date': item.date == playResultDateSelect}" ng-click="changePlayResultDate(item.date)">{{ item.month}} <h2>{{ item.day}}</h2></td>
                </tr>
            </table>
        </div>


        <div class="match-list">

            <div class="box-match-list" ng-repeat="item in plays| filter:resultFilter | filter:playResultDateFilter">
                <table>
                    <tr>
                        <td class="img-result-stat"><img ng-src="images/icon/{{ item.betResult}}.png"/></td>
                        <td ng-class="{'team-played': item.choose == 'home'}"><span class="n-team n-team1" ng-class="{'team-favored': item.betHdp < 0}">{{ allTeams[item.hid].name}}</span><span class="n-percent">({{ item.oddsTimestamp | parseOdds:'home' }})</span></td>
                        <td class="per">{{ item.oddsTimestamp | parseOdds:'hdp' }}</td>
                        <td ng-class="{'team-played': item.choose == 'away'}"><span class="n-percent">({{ item.oddsTimestamp | parseOdds:'away' }})</span><span class="n-team" ng-class="{'team-favored': item.betHdp > 0}">{{ allTeams[item.gid].name}}</span></td>
                        <td class="team-score">{{ item.FT_score | formatScore}}</td>
                    </tr>
                </table>
            </div>
        </div>

        <div style="clear: both;"></div>
    </div>

</div>