


<div class="tab-follower" ng-init="currentRankingTab = 'score'">
    <div class="menutop-type-ranking">
        <table>
            <tr>
                <td ng-class="{'active-type-ranking': currentRankingTab == 'score'}" ng-click="currentRankingTab = 'score'"><img src="images/icon-profile/3001.png"/> <h5>TOP</h5>Score</td>
                <!--<td ng-class="{'active-type-ranking': currentRankingTab == 'rating'}" ng-click="currentRankingTab = 'rating'"><h4>Rating</h4>Top</td>-->
                <td ng-class="{'active-type-ranking': currentRankingTab == 'rating'}" ng-click="currentRankingTab = 'rating'"><img src="images/icon-profile/0001.png"/><h5>TOP</h5>Rating</td>
                <td><img src="images/icon/ranking-ufa.png"/><h5>TOP</h5>5 League</td>
                <td ng-class="{'active-type-ranking': currentRankingTab == 'friends'}" ng-click="currentRankingTab = 'friends'"><img src="images/icon-profile/2001.png"/><h5>TOP</h5>Friends</td>
            </tr>
        </table>
    </div>

    <div ng-init="currentRankingScoreSelect = 'all'" ng-show="currentRankingTab == 'score'">
        <div class="tab-type-rank">
            <table>
                <tr>
                    <td ng-class="{'active-rank': currentRankingScoreSelect == 'all'}" ng-click="currentRankingScoreSelect = 'all'">All Ranking</td>
                    <td ng-class="{'active-rank': currentRankingScoreSelect == 'last14day'}" ng-click="currentRankingScoreSelect = 'last14day'">Now</td>
                    <td ng-class="{'active-rank': currentRankingScoreSelect == 'last2week'}" ng-click="currentRankingScoreSelect = 'last2week'">2 Weeks</td>
                </tr>
            </table>
        </div>
        
        <div class="tab-type-rank" style="display: none;">
            <table>
                <tr>
                    <td class="active-rank"><img src="images/icon/ranking-per.png" style="width: 20px;"> พรีเมียร์ชิพ</td>
                    <td><img src="images/icon/ranking-lali.png" style="width: 20px;"> ลาลีกา เสปน</td>
                    <td><img src="images/icon/ranking-thai.png" style="width: 20px;"> ไทยลีก</td>
                    <td><img src="images/icon/5leauge.png" style="width: 20px;"> แชมป์เปียนลีก</td>
                    <td><img src="images/icon/ranking-uropa.png" style="width: 20px;"> ยูโรป้าลีก</td>
                </tr>
            </table>
        </div>

        <div class="tab-menu-ranking" style="display: none;">
            <table>
                <tr>
                    <td ng-click="currentRankingTab = 'all'" ng-class="{'active-menu-ranking':currentRankingTab == 'all'}">Top Ranking</td>
                    <td ng-click="currentRankingTab = 'friend'" ng-class="{'active-menu-ranking':currentRankingTab == 'friend'}">Top Friend Ranking</td>
                </tr>
            </table>
        </div>

        <div class="wrapper-rank">
            <div ng-show="currentRankingScoreSelect == 'last14day'" class="box-follower" ng-repeat="item in topRanking.scores.last14day| limitTo:10">
                <table>
                    <tr>
                        <td class="icon-follower">
                            <div class="icon-ranking"><img ng-src="/images/icon/{{ $index + 1}}.png"/></div>
                            <div class="tab-situations-icon" style="display: none;"></div>
                        </td>

                        <td class="img-user-follow">
                            <div class="user-follow"><a href="/profile.php?id={{ item.fb_uid}}"><img
                                        ng-src="https://graph.facebook.com/{{ item.fb_uid}}/picture"/></a></div>
                        </td>

                        <td class="info-ranking">
                            <table>
                                <tr>
                                    <td><span class="name-rank">{{ item.display_name || item.displayname || item.fb_firstname}}</span>

                                    </td>
                                </tr>
                                <tr>
                                    <td><span class="font-score">{{ item.focus_gp | toFixed }}</span>
                                        <div class="icon-stat"> <img ng-repeat="r in item.lastResult.split(',') track by $index" ng-src="images/icon/{{ r | fromInitial }}.png" ng-show="r"></div>
                                    </td>
                                </tr>
                            </table>
                        </td>
                        <td class="tab-trophy">
                            <img ng-repeat="prize in item.bestprize" ng-src="{{ prize.picture }}">
                        </td>
                        <td class="box-following">
                            <span ng-if="item.fb_uid != facebookInfo.id" class="tab-follow" ng-switch on="checkIsFollowing(item.fb_uid)">
                                <span ng-switch-when="true"><img ng-src="images/icon/follow1.png"/> Follow</span>
                                <span class="button-following" ng-click="follow(true, item.fb_uid)" ng-switch-when="false" class="btn btn-mini"><img src="images/icon/follow-1.png"/> Follow</span>
                            </span>

                        </td>

                    </tr>
                </table>
            </div>
            <div ng-if="topRanking.own.last14day.rank > 10" ng-show="currentRankingScoreSelect == 'last14day'" class="own-rank box-follower">
                <table>
                    <tr>
                        <td class="icon-follower">
                            <div class="icon-ranking">{{ topRanking.own.last14day.rank }}</div>
                            <div class="tab-situations-icon" style="display: none;"></div>
                        </td>

                        <td class="img-user-follow">
                            <div class="user-follow"><a href="/profile.php?id={{ topRanking.own.last14day.fb_uid}}"><img
                                    ng-src="https://graph.facebook.com/{{ topRanking.own.last14day.fb_uid}}/picture"/></a></div>
                        </td>

                        <td class="info-ranking">
                            <table>
                                <tr>
                                    <td><span class="name-rank">{{ topRanking.own.last14day.display_name || topRanking.own.last14day.displayname || topRanking.own.last14day.fb_firstname}}</span>

                                    </td>
                                </tr>
                                <tr>
                                    <td><span class="font-score">{{ topRanking.own.last14day.focus_gp | toFixed }}</span>
                                        <div class="icon-stat"> <img ng-repeat="r in topRanking.own.last14day.lastResult.split(',') track by $index" ng-src="images/icon/{{ r | fromInitial }}.png" ng-show="r"></div>
                                    </td>
                                </tr>
                            </table>
                        </td>
                        <td class="tab-trophy">
                            <img ng-repeat="prize in topRanking.own.last14day.bestprize" ng-src="{{ prize.picture }}">
                        </td>
                        <td class="box-following">
                            <span ng-if="topRanking.own.last14day.fb_uid != facebookInfo.id" class="tab-follow" ng-switch on="checkIsFollowing(item.fb_uid)">
                                <span ng-switch-when="true"><img ng-src="images/icon/follow1.png"/> Follow</span>
                                <span class="button-following" ng-click="follow(true, item.fb_uid)" ng-switch-when="false" class="btn btn-mini"><img src="images/icon/follow-1.png"/> Follow</span>
                            </span>

                        </td>

                    </tr>
                </table>
            </div>
            <!-- end -->
            <div ng-show="currentRankingScoreSelect == 'last2week'" class="box-follower" ng-repeat="item in topRanking.scores.last2week| limitTo:10">
                <table>
                    <tr>
                        <td class="icon-follower">
                            <div class="icon-ranking"><img ng-src="/images/icon/{{ $index + 1}}.png"/></div>
                            <div class="tab-situations-icon" style="display: none;"></div>
                        </td>
                        <td class="img-user-follow">
                            <div class="user-follow"><a href="/profile.php?id={{ item.fb_uid}}"><img
                                        ng-src="https://graph.facebook.com/{{ item.fb_uid}}/picture"/></a></div>
                        </td>
                        <td class="info-ranking">
                            <table>
                                <tr>
                                    <td><span class="name-rank">{{ item.display_name || item.displayname || item.fb_firstname}}</span>

                                    </td>
                                </tr>
                                <tr>
                                    <td><span class="font-score">{{ item.focus_gp | toFixed }}</span>
                                        <div class="icon-stat"> <img ng-repeat="r in item.lastResult.split(',') track by $index"  ng-src="images/icon/{{ r | fromInitial }}.png" ng-show="r"></div>
                                    </td>
                                </tr>
                            </table>
                        </td>
                        <td class="tab-trophy">
                            <img ng-repeat="prize in item.bestprize" ng-src="{{ prize.picture }}">
                        </td>
                        <td class="box-following">
                            <span ng-if="item.fb_uid != facebookInfo.id" class="tab-follow" ng-switch on="checkIsFollowing(item.fb_uid)">
                                <span ng-switch-when="true"><img ng-src="images/icon/follow1.png"/> Follow</span>
                                <span class="button-following"  ng-click="follow(true, item.fb_uid)" ng-switch-when="false" class="btn btn-mini"><img src="images/icon/follow-1.png"/> Follow</span>
                            </span>

                        </td>

                    </tr>
                </table>
            </div>
            <div ng-if="topRanking.own.last2week.rank > 10" ng-show="currentRankingScoreSelect == 'last2week'" class="own-rank box-follower">
                <table>
                    <tr>
                        <td class="icon-follower">
                            <div class="icon-ranking">{{ topRanking.own.last2week.rank }}</div>
                            <div class="tab-situations-icon" style="display: none;"></div>
                        </td>

                        <td class="img-user-follow">
                            <div class="user-follow"><a href="/profile.php?id={{ topRanking.own.last14day.fb_uid}}"><img
                                    ng-src="https://graph.facebook.com/{{ topRanking.own.last14day.fb_uid}}/picture"/></a></div>
                        </td>

                        <td class="info-ranking">
                            <table>
                                <tr>
                                    <td><span class="name-rank">{{ topRanking.own.last2week.display_name || topRanking.own.last2week.displayname || topRanking.own.last2week.fb_firstname}}</span>

                                    </td>
                                </tr>
                                <tr>
                                    <td><span class="font-score">{{ topRanking.own.last2week.focus_gp | toFixed }}</span>
                                        <div class="icon-stat"> <img ng-repeat="r in topRanking.own.last14day.lastResult.split(',') track by $index" ng-src="images/icon/{{ r | fromInitial }}.png" ng-show="r"></div>
                                    </td>
                                </tr>
                            </table>
                        </td>
                        <td class="tab-trophy">
                            <img ng-repeat="prize in topRanking.own.last2week.bestprize" ng-src="{{ prize.picture }}">
                        </td>
                        <td class="box-following">
                            <span ng-if="topRanking.own.last2week.fb_uid != facebookInfo.id" class="tab-follow" ng-switch on="checkIsFollowing(item.fb_uid)">
                                <span ng-switch-when="true"><img ng-src="images/icon/follow1.png"/> Follow</span>
                                <span class="button-following" ng-click="follow(true, item.fb_uid)" ng-switch-when="false" class="btn btn-mini"><img src="images/icon/follow-1.png"/> Follow</span>
                            </span>

                        </td>

                    </tr>
                </table>
            </div>
            <!-- end -->

            <div ng-show="currentRankingScoreSelect == 'all'" class="box-follower" ng-repeat="item in topRanking.scores.all| limitTo:10">
                <table>
                    <tr>
                        <td class="icon-follower">
                            <div class="icon-ranking"><img ng-src="/images/icon/{{ $index + 1}}.png"/></div>
                            <div class="tab-situations-icon" style="display: none;"></div>
                        </td>
                        <td class="img-user-follow">
                            <div class="user-follow"><a href="/profile.php?id={{ item.fb_uid}}"><img
                                        ng-src="https://graph.facebook.com/{{ item.fb_uid}}/picture"/></a></div>
                        </td>
                        <td class="info-ranking">
                            <table>
                                <tr>
                                    <td><span class="name-rank">{{ item.display_name || item.displayname || item.fb_firstname}}</span>

                                    </td>
                                </tr>
                                <tr>
                                    <td><span class="font-score">{{ item.focus_gp | toFixed }}</span>
                                        <div class="icon-stat"> <img ng-repeat="r in item.lastResult.split(',') track by $index" ng-src="images/icon/{{ r | fromInitial }}.png" ng-show="r"></div>
                                    </td>
                                </tr>
                            </table>
                        </td>
                        <td class="tab-trophy">
                            <img ng-repeat="prize in item.bestprize" ng-src="{{ prize.picture }}">
                        </td>
                        <td class="box-following">
                            <span ng-if="item.fb_uid != facebookInfo.id" class="tab-follow" ng-switch on="checkIsFollowing(item.fb_uid)">
                                <span ng-switch-when="true"><img ng-src="images/icon/follow1.png"/> Follow</span>
                                <span class="button-following"ng-click="follow(true, item.fb_uid)" ng-switch-when="false" class="btn btn-mini"><img src="images/icon/follow-1.png"/> Follow</span>
                            </span>

                        </td>

                    </tr>
                </table>
            </div>
            <div ng-if="topRanking.own.all.rank > 10" ng-show="currentRankingScoreSelect == 'all'" class="own-rank box-follower">
                <table>
                    <tr>
                        <td class="icon-follower">
                            <div class="icon-ranking">{{ topRanking.own.all.rank }}</div>
                            <div class="tab-situations-icon" style="display: none;"></div>
                        </td>

                        <td class="img-user-follow">
                            <div class="user-follow"><a href="/profile.php?id={{ topRanking.own.all.fb_uid}}"><img
                                    ng-src="https://graph.facebook.com/{{ topRanking.own.all.fb_uid}}/picture"/></a></div>
                        </td>

                        <td class="info-ranking">
                            <table>
                                <tr>
                                    <td><span class="name-rank">{{ topRanking.own.all.display_name || topRanking.own.all.displayname || topRanking.own.all.fb_firstname}}</span>

                                    </td>
                                </tr>
                                <tr>
                                    <td><span class="font-score">{{ topRanking.own.all.focus_gp | toFixed }}</span>
                                        <div class="icon-stat"> <img ng-repeat="r in topRanking.own.all.lastResult.split(',') track by $index" ng-src="images/icon/{{ r | fromInitial }}.png" ng-show="r"></div>
                                    </td>
                                </tr>
                            </table>
                        </td>
                        <td class="tab-trophy">
                            <img ng-repeat="prize in topRanking.own.all.bestprize" ng-src="{{ prize.picture }}">
                        </td>
                        <td class="box-following">
                            <span ng-if="topRanking.own.all.fb_uid != facebookInfo.id" class="tab-follow" ng-switch on="checkIsFollowing(item.fb_uid)">
                                <span ng-switch-when="true"><img ng-src="images/icon/follow1.png"/> Follow</span>
                                <span class="button-following" ng-click="follow(true, item.fb_uid)" ng-switch-when="false" class="btn btn-mini"><img src="images/icon/follow-1.png"/> Follow</span>
                            </span>

                        </td>

                    </tr>
                </table>
            </div>
            <!-- end -->
        </div>
    </div>

    <div ng-init="currentRankingRatingSelect = 'rate100'" ng-show="currentRankingTab == 'rating'">
        <div class="tab-type-rank">
            <table>
                <tr>
                    <td ng-class="{'active-rank': currentRankingRatingSelect == 'rate100'}" ng-click="currentRankingRatingSelect = 'rate100'">100 Matches</td>
                    <td ng-class="{'active-rank': currentRankingRatingSelect == 'rate200'}" ng-click="currentRankingRatingSelect = 'rate200'">200 Matches</td>
                </tr>
            </table>
        </div>

        <div ng-show="currentRankingRatingSelect == 'rate100'" class="box-follower" ng-repeat="item in topRanking.rating.rate100| limitTo:10">
            <table>
                <tr>
                    <td class="icon-follower">
                        <div class="icon-ranking"><img ng-src="/images/icon/{{ $index + 1}}.png"/></div>
                        <div class="tab-situations-icon" style="display: none;"></div>
                    </td>
                    <td class="img-user-follow">
                        <div class="user-follow"><a href="/profile.php?id={{ item.fb_uid}}"><img
                                    ng-src="https://graph.facebook.com/{{ item.fb_uid}}/picture"/></a></div>
                    </td>
                    <td class="info-ranking">
                        <table>
                            <tr>
                                <td><span class="name-rank">{{ item.display_name || item.displayname || item.fb_firstname}}</span>

                                </td>
                            </tr>
                            <tr>
                                <td><span class="font-score">{{ item.last_100}}%</span>
                                    <div class="icon-stat"><img ng-repeat="r in item.lastResult.split(',') track by $index" ng-src="images/icon/{{ r | fromInitial }}.png" ng-show="r"></div>
                                </td>
                            </tr>
                        </table>
                    </td>
                    <td class="tab-trophy">
                        <img ng-repeat="prize in item.bestprize" ng-src="{{ prize.picture }}">
                    </td>
                    <td class="box-following">
                        <span ng-if="item.fb_uid != facebookInfo.id" class="tab-follow" ng-switch on="checkIsFollowing(item.fb_uid)">
                            <span ng-switch-when="true"><img ng-src="images/icon/follow1.png"/> Follow</span>
                            <span class="button-following" ng-click="follow(true, item.fb_uid)" ng-switch-when="false" class="btn btn-mini"><img src="images/icon/follow-1.png"/> Follow</span>
                        </span>

                    </td>

                </tr>
            </table>
        </div>
        <div ng-if="topRanking.own.rate100.rank > 10" ng-show="currentRankingRatingSelect == 'rate100'" class="own-rank box-follower">
            <table>
                <tr>
                    <td class="icon-follower">
                        <div class="icon-ranking">{{ topRanking.own.rate100.rank }}</div>
                        <div class="tab-situations-icon" style="display: none;"></div>
                    </td>

                    <td class="img-user-follow">
                        <div class="user-follow"><a href="/profile.php?id={{ topRanking.own.rate100.fb_uid}}"><img
                                ng-src="https://graph.facebook.com/{{ topRanking.own.rate100.fb_uid}}/picture"/></a></div>
                    </td>

                    <td class="info-ranking">
                        <table>
                            <tr>
                                <td><span class="name-rank">{{ topRanking.own.rate100.display_name || topRanking.own.rate100.displayname || topRanking.own.rate100.fb_firstname}}</span>

                                </td>
                            </tr>
                            <tr>
                                <td><span class="font-score">{{ topRanking.own.rate100.last_100}}%</span>
                                    <div class="icon-stat"> <img ng-repeat="r in topRanking.own.rate100.lastResult.split(',') track by $index" ng-src="images/icon/{{ r | fromInitial }}.png" ng-show="r"></div>
                                </td>
                            </tr>
                        </table>
                    </td>
                    <td class="tab-trophy">
                        <img ng-repeat="prize in topRanking.own.rate100.bestprize" ng-src="{{ prize.picture }}">
                    </td>
                    <td class="box-following">
                            <span ng-if="topRanking.own.rate100.fb_uid != facebookInfo.id" class="tab-follow" ng-switch on="checkIsFollowing(item.fb_uid)">
                                <span ng-switch-when="true"><img ng-src="images/icon/follow1.png"/> Follow</span>
                                <span class="button-following" ng-click="follow(true, item.fb_uid)" ng-switch-when="false" class="btn btn-mini"><img src="images/icon/follow-1.png"/> Follow</span>
                            </span>

                    </td>

                </tr>
            </table>
        </div>
        <!-- end -->

        <div ng-show="currentRankingRatingSelect == 'rate200'" class="box-follower" ng-repeat="item in topRanking.rating.rate200| limitTo:10">
            <table>
                <tr>
                    <td class="icon-follower">
                        <div class="icon-ranking"><img ng-src="/images/icon/{{ $index + 1}}.png"/></div>
                        <div class="tab-situations-icon" style="display: none;"></div>
                    </td>
                    <td class="img-user-follow">
                        <div class="user-follow"><a href="/profile.php?id={{ item.fb_uid}}"><img
                                    ng-src="https://graph.facebook.com/{{ item.fb_uid}}/picture"/></a></div>
                    </td>
                    <td class="info-ranking">
                        <table>
                            <tr>
                                <td><span class="name-rank">{{ item.display_name || item.displayname || item.fb_firstname}}</span>

                                </td>
                            </tr>
                            <tr>
                                <td><span class="font-score">{{ item.last_200}}%</span>
                                    <div class="icon-stat"> <img ng-repeat="r in item.lastResult.split(',') track by $index" ng-src="images/icon/{{ r | fromInitial }}.png" ng-show="r"></div>
                                </td>
                            </tr>
                        </table>
                    </td>
                    <td class="tab-trophy">
                        <img ng-repeat="prize in item.bestprize" ng-src="{{ prize.picture }}">
                    </td>
                    <td class="box-following">
                        <span ng-if="item.fb_uid != facebookInfo.id" class="tab-follow" ng-switch on="checkIsFollowing(item.fb_uid)">
                            <span ng-switch-when="true"><img ng-src="images/icon/follow1.png"/> Follow</span>
                            <span class="button-following" ng-click="follow(true, item.fb_uid)" ng-switch-when="false" class="btn btn-mini"><img src="images/icon/follow-1.png"/> Follow</span>
                        </span>

                    </td>

                </tr>
            </table>
        </div>
        <div ng-if="topRanking.own.rate200.rank > 10" ng-show="currentRankingRatingSelect == 'rate200'" class="own-rank box-follower">
            <table>
                <tr>
                    <td class="icon-follower">
                        <div class="icon-ranking">{{ topRanking.own.rate200.rank }}</div>
                        <div class="tab-situations-icon" style="display: none;"></div>
                    </td>

                    <td class="img-user-follow">
                        <div class="user-follow"><a href="/profile.php?id={{ topRanking.own.rate200.fb_uid}}"><img
                                ng-src="https://graph.facebook.com/{{ topRanking.own.rate200.fb_uid}}/picture"/></a></div>
                    </td>

                    <td class="info-ranking">
                        <table>
                            <tr>
                                <td><span class="name-rank">{{ topRanking.own.rate200.display_name || topRanking.own.rate200.displayname || topRanking.own.rate200.fb_firstname}}</span>

                                </td>
                            </tr>
                            <tr>
                                <td><span class="font-score">{{ topRanking.own.rate200.last_200}}%</span>
                                    <div class="icon-stat"> <img ng-repeat="r in topRanking.own.rate200.lastResult.split(',') track by $index" ng-src="images/icon/{{ r | fromInitial }}.png" ng-show="r"></div>
                                </td>
                            </tr>
                        </table>
                    </td>
                    <td class="tab-trophy">
                        <img ng-repeat="prize in topRanking.own.rate200.bestprize" ng-src="{{ prize.picture }}">
                    </td>
                    <td class="box-following">
                            <span ng-if="topRanking.own.rate200.fb_uid != facebookInfo.id" class="tab-follow" ng-switch on="checkIsFollowing(item.fb_uid)">
                                <span ng-switch-when="true"><img ng-src="images/icon/follow1.png"/> Follow</span>
                                <span class="button-following" ng-click="follow(true, item.fb_uid)" ng-switch-when="false" class="btn btn-mini"><img src="images/icon/follow-1.png"/> Follow</span>
                            </span>

                    </td>

                </tr>
            </table>
        </div>
        <!-- end -->
    </div>

    <div ng-init="currentRankingFriendsSelect = 'last14day'" ng-show="currentRankingTab == 'friends'">
        <div class="tab-type-rank">
            <table>
                <tr>
                    <td ng-class="{'active-rank': currentRankingFriendsSelect == 'last14day'}" ng-click="currentRankingFriendsSelect = 'last14day'">Now</td>
                    <td ng-class="{'active-rank': currentRankingFriendsSelect == 'last2week'}" ng-click="currentRankingFriendsSelect = 'last2week'">2 Weeks</td>
                </tr>
            </table>
        </div>

        <div ng-show="currentRankingFriendsSelect == 'last14day'" class="box-follower" ng-repeat="item in topRanking.friends.last14day| limitTo:10">
            <table>
                <tr>
                    <td class="icon-follower">
                        <div class="icon-ranking"><img ng-src="/images/icon/{{ $index + 1}}.png"/></div>
                        <div class="tab-situations-icon" style="display: none;"></div>
                    </td>
                    <td class="img-user-follow">
                        <div class="user-follow"><a href="/profile.php?id={{ item.fb_uid}}"><img
                                    ng-src="https://graph.facebook.com/{{ item.fb_uid}}/picture"/></a></div>
                    </td>
                    <td class="info-ranking">
                        <table>
                            <tr>
                                <td><span class="name-rank">{{ item.display_name || item.displayname || item.fb_firstname}}</span>

                                </td>
                            </tr>
                            <tr>
                                <td><span class="font-score">{{ item.focus_gp | toFixed }}</span>
                                    <div class="icon-stat"><img ng-repeat="r in item.lastResult.split(',') track by $index" ng-src="images/icon/{{ r | fromInitial }}.png" ng-show="r"></div>
                                </td>
                            </tr>
                        </table>
                    </td>
                    <td class="tab-trophy">
                        <img ng-repeat="prize in item.bestprize" ng-src="{{ prize.picture }}">
                    </td>
                    <td class="box-following">
                        <span ng-if="item.fb_uid != facebookInfo.id" class="tab-follow" ng-switch on="checkIsFollowing(item.fb_uid)">
                            <span ng-switch-when="true"><img ng-src="images/icon/follow1.png"/> Follow</span>
                            <span class="button-following" ng-click="follow(true, item.fb_uid)" ng-switch-when="false" class="btn btn-mini"><img src="images/icon/follow-1.png"/> Follow</span>
                        </span>

                    </td>

                </tr>
            </table>
        </div>

        <div ng-show="currentRankingFriendsSelect == 'last2week'" class="box-follower" ng-repeat="item in topRanking.friends.last2week| limitTo:10">
            <table>
                <tr>
                    <td class="icon-follower">
                        <div class="icon-ranking"><img ng-src="/images/icon/{{ $index + 1}}.png"/></div>
                        <div class="tab-situations-icon" style="display: none;"></div>
                    </td>
                    <td class="img-user-follow">
                        <div class="user-follow"><a href="/profile.php?id={{ item.fb_uid}}"><img
                                    ng-src="https://graph.facebook.com/{{ item.fb_uid}}/picture"/></a></div>
                    </td>
                    <td class="info-ranking">
                        <table>
                            <tr>
                                <td><span class="name-rank">{{ item.display_name || item.displayname || item.fb_firstname}}</span>

                                </td>
                            </tr>
                            <tr>
                                <td><span class="font-score">{{ item.focus_gp}}</span>
                                    <div class="icon-stat"><img ng-repeat="r in item.lastResult.split(',') track by $index" ng-src="images/icon/{{ r | fromInitial }}.png" ng-show="r"></div>
                                </td>
                            </tr>
                        </table>
                    </td>
                    <td class="tab-trophy">
                        <img ng-repeat="prize in item.bestprize" ng-src="{{ prize.picture }}">
                    </td>
                    <td class="box-following">
                        <span ng-if="item.fb_uid != facebookInfo.id" class="tab-follow" ng-switch on="checkIsFollowing(item.fb_uid)">
                            <span ng-switch-when="true"><img ng-src="images/icon/follow1.png"/> Follow</span>
                            <span class="button-following" ng-click="follow(true, item.fb_uid)" ng-switch-when="false" class="btn btn-mini"><img src="images/icon/follow-1.png"/> Follow</span>
                        </span>

                    </td>

                </tr>
            </table>
        </div>
    </div>
</div>