

.wrapper-box-bet{
    display: block;
    width: 556px;
}
span.team-name, span.league-name{
    font-size: 18px;
    color: #fff;
    display: block;
    overflow: hidden;
    text-shadow: 1px 1px #888;
}
span.league-name{
    height: 40px;
}
.box-bet{
    display: block;
    background-image: url('/images/bg-bet.png') !important;
    height: 190px;
    background-color: #000;
}
.section-team-bet table, .section-list-bet table, .box-score-match-bet table{
    width: 100%;
}
.section-team-bet td{
    padding: 20px 20px 10px 20px;
    font-size: 15px;
    text-shadow: 0.1em 0.1em 0.05em #555;
    line-height: 20px;
    height: 53px;
    vertical-align: middle;
}
table.section-nameteam td{
    display: block;
    float: left;
    width: 277px;
    height: 25px;
    padding: 15px 0px 0px 0px;
}
td.info-team{
    text-align: center;
    display: block;
    width: 145px;
    float: left;
    color: #fff;
}
td.info-team img{
    width: 15px;
    height: 15px;
}
td.logo-teams1, td.logo-teams2{
    display: block;
    width: 145px;
    float: left;
}
td.logo-teams1{
    text-align: right;
}
td.logo-teams2{
    text-align: left;
}
td.logo-teams1 img, td.logo-teams2 img{
    width: 75px;
    height: 75px;
}
span.team-name{
    font-size: 20px;
    color: #fff;
    display: block;
}
td.named{
    padding: 0;
    border: solid 1px;
}

td.nameteam1, td.nameteam2{
    text-align: center;
}
.team-selected{
    text-decoration: underline;
}

.section-list-bet{
    display: block;
    background-color: #333;
    bottom: 0;
    padding: 5px;
    height: 28px;
    margin-top: 14px;
    background-color:rgba(71,71,71,0.5);
}
.section-list-bet td{
    display: block;
    vertical-align: middle;
    text-align: center;
    border: solid 1px transparent;
}
td.box-user-bet{
    display: block;
    float: left;
    width: 240px;
    height: 32px;
    overflow:hidden;
}
td.box-user-bet img{
/*    border: solid 1px #fff;*/
    border-radius: 5px;
    width: 25px;
    height: 25px;
}
td.vs-user{
    display: block;
    float: left;
    width: 50px;
    color: #fff;
    font-size: 50px;
}
.section-comment,.box-score-match-bet{
    display: block;
}
.section-comment{
    padding: 5px;
}
.box-score-match-bet{
    background-image: url('/images/bet.png');
    height: 35px;

}

.box-score-match-bet td{
    text-align: center;
    height: 36px;
    color: #fff;
    vertical-align: middle;
}
td.home-rate, td.away-rate{
    font-weight: bold;
    font-size: 16px;
}
.box-speech-user-comment-left, .box-speech-user-comment-right{
    display: block;
    width: 259px;
    height: 61px;
    float: left;
    margin-bottom: 3px;
}
.box-speech-user-comment-left{
    background-image: url('/images/home-1.png');
}
.box-speech-user-comment-right{
    background-image: url('/images/away-1.png');
    float: right;
}
.box-comment-user{
    margin-top: 5px;
    position: relative;
}
.tab-situations-comment{
    display: block;
    width: 30px;
    height: 100%;
    position: absolute;
    left: 255px;
    background-image: url('/images/icon/live-tap.png');
    background-repeat: repeat-y;
    background-position: center;
    z-index: -9000;
}
.box-situations-comment-left, .box-situations-comment-right{
    display: block;
    position: absolute;
    text-align: right;
    width: 288px;
}
.box-speech-user-comment-center{
    display: block;
    width: 543px;
    height: 46px;
    margin: 0 auto;
    border-radius: 5px;
    background-image: url('/images/bg-draw.png');
}
.box-situations-comment-right{
    text-align: left;
    margin-top: 33px;
    margin-left: -30px;
}
.box-situations-comment-center{
    display: block;
    position: absolute;
    margin: 0 auto;
    left: 258px;
}
.box-situations-comment-left img, .box-situations-comment-right img, .box-situations-comment-center img{
    width: 30px;
    height: 30px;
}

.comment-from-user table{
    width: 240px;
}
.comment-center table{
    width: 100%;
}
.box-right{
    float: right;
}
.comment-from-user td{
    padding: 5px;
    height: 40px;
    line-height: 15px;
    vertical-align: middle;
    font-size: 12px;
}
td.img-user-comment{
    width: 30px;
}
span.like-comment{
    float: right;
    font-size: 10px;
    cursor: pointer;
}
span.like-comment img{
    width: 10px;
    height: 10px;
    cursor: pointer;
}
td.img-user-comment img{
    border-radius: 50%;
    border: solid 2px #ccc;
}
td.img-user-comment img{
    width: 35px;
    height: 30px;
}
.box-name-user{
    height: 18px;
}
.text-comment, .box-name-user{
    display: block;
}
.draw-comment{
    height: 15px !important;
}
.text-comment{
    height: 30px;
    overflow: hidden;
    color: #7c7c7c;
    text-overflow:ellipsis;
}
.wrapper-box-comment{
    display: block;
    margin-top: 5px;
    border-radius: 5px;
}
.section-comment-input, .section-selected-team{
    display: block;
}
.section-comment-input input{
    width: 97.5%;
    margin: 0;
}
.section-selected-team, .section-selected-team-confirm{
    margin: 10px 1.5px 5px 1.5px;
}
.section-selected-team table{
    width: 100%;
    height: 36px;
    background-image: url('/images/bg-vs-away.png');
}
.section-selected-team td, .section-selected-team-confirm td{
    vertical-align: middle;
    text-align: center;
    color: #fff;
    font-weight: bold;
    /*    border-radius: 10px;
        background-color: #eee;*/
}
.section-selected-team-confirm table{
    width: 100%;
    height: 36px;
}
.confirm-home{
    background-image: url('/images/bg-home.png');
}
.confirm-away{
    background-image: url('/images/bg-away.png');
}
td.selected-teamhome, td.selected-teamaway, td.selected-teamdraw{
    width: 127px;
    height: 33px;
    cursor: pointer;
}
td.selected-teamhome, td.selected-teamaway{
    font-size: 15px;
    color: #fff;
}
.box-comment-center{
    margin-bottom: 3px;
}

.box-stat-win td{
    display: block;
    float: left;
    width: 265px;
    height: 15px;
    padding: 0;
    margin: 0;
    text-align: center;
}

.box-stat-win td:first-child{
    text-align: center;
    padding-right: 10px;
}
.box-stat-win td:last-child{
    text-align: center;
    padding-left: 10px;
}
.box-stat-win img{
    width: 15px;
    height: 15px;
}
.selected-team{
    display: block;
    border-radius: 5px;
    margin-top: 5px;
}
.selected-team table{
    width: 100%;
}
.selected-team td{
    text-align: center;
    color: #aaa;
    font-size: 14px;
}
.selected-team-home{
    text-align: left !important;
}
.selected-team-away{
    text-align: right !important;
}
.selected-team-home button, .selected-team-away button{
    width: 120px !important;
}
.upimages-box-upload{
    display: block;
    width: 20px;
    padding: 2px;
    cursor: pointer;
    margin-left: 515px;
    position: absolute;
}