
.wrapper-box-bet{
    display: block;
    width: 398px;
    height: 208px;
}
.box-bet{
    display: block;
    background-image: url('/images/bg-bet.png') !important;
    height: 208px;
}
.section-team-bet table{
    width: 100%;
}
td.logo-teams1, td.logo-teams2{
    display: block;
    width: 110px;
    float: left;
    padding-top: 35px;
}
td.logo-teams1{
    text-align: right;
}
td.logo-teams2{
    text-align: left;
}
td.logo-teams1 img, td.logo-teams2 img{
    width: 70px;
    height: 70px;
}
td.info-team{
    text-align: center;
    display: block;
    width: 160px;
    float: left;
    color: #fff;
    padding-top: 35px;
    text-shadow: 1px 1px #333;
}
td.info-team img{
    width: 15px;
    height: 15px;
}
span.team-name, span.league-name{
    font-size: 18px;
    color: #fff;
    display: block;
    overflow: hidden;
    text-shadow: 1px 1px #333;
}
span.league-name{
    height: 40px;
}
table.section-nameteam td{
    display: block;
    float: left;
    width: 190px;
    height: 20px;
    padding: 5px 0px 0px 0px; 
}
td.nameteam1, td.nameteam2{
    text-align: center;
    overflow: hidden;
}
.box-stat-win td{
    display: block;
    float: left;
    width: 180px;
    height: 15px;
    padding-top: 5px;
    margin: 0;
    text-align: center;
}
.box-stat-win td:first-child{
    text-align: center;
    padding-right: 10px;
}
.box-stat-win td:last-child{
    text-align: center;
    padding-left: 10px;
}
.box-stat-win img{
    width: 16px;
    height: 16px;
}
