@font-face {
    font-family: 'PSLxChalindaCondensed';
    src: url('../font_menu/PSLxChalindaCondensed.eot?') format('eot'), 
        url('../font_menu/PSLxChalindaCondensed.woff') format('woff'), 
        url('../font_menu/PSLxChalindaCondensed.ttf')  format('truetype'),
        url('../font_menu/PSLxChalindaCondensed.svg#PSLxChalindaCondensed') format('svg');
}



@font-face {
    font-family: 'premier_leagueregular';
    src: url('../font_menu/barclays_premier_league-webfont.eot');
    src: url('../font_menu/barclays_premier_league-webfont.eot?#iefix') format('embedded-opentype'),
        url('../font_menu/barclays_premier_league-webfont.woff2') format('woff2'),
        url('../font_menu/barclays_premier_league-webfont.woff') format('woff'),
        url('../font_menu/barclays_premier_league-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'PSL-Display';
    src: url('../font_menu/932067872-PSL-DisplayBold.eot');
    src: url('../font_menu/932067872-PSL-DisplayBold.eot?#iefix') format('embedded-opentype'),
        url('../font_menu/932067872-PSL-DisplayBold.woff2') format('woff2'),
        url('../font_menu/932067872-PSL-DisplayBold.woff') format('woff'),
        url('../font_menu/932067872-PSL-DisplayBold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

.topMenubar{
    display: block;
    margin-top: 63px;
    text-align: center;
    background-color: #1b1b1b;
    /*border-top: 1px solid #3e3c40;*/
    border-bottom: solid 3px #b6001e;
    position: fixed;
    width: 100%;
    z-index: 5;
    height: 40px;
}
.wrapperBoxHeader{
    display: block;
    margin: 0 auto;
    width: 960px;
}
.boxLogo{
    /*    display: block; 
        float:left;
        width: 173px;
        height: 60px;
        float: left;
        margin-top: 8px;*/
    display: block;
    /* float: left; */
    /* width: 173px; */
    height: 60px;
    /* float: left; */
    margin-top: 8px;
}
.boxLogo img{
    width: auto!important;
}
.wrapperTopmenubar{
    width: auto;
    margin: 0px -10px 0 0;
    float: left;
}
.topMenubar table{
    width: 100%;
}
.topMenubar td{
    /*border-right: dotted 1px #333;*/ 
    width: auto;
    font-weight: bold;
    font-size: 12px;
    text-align: center;
    line-height: 8px;
}
.topMenubar .wrapperTopmenubar img{
    width: 15px; height: 15px; margin-right: 10px;
}
.topMenubar .menu-nt1 a{
    display: block;
    /*font-family: 'premier_leagueregular';*/
    /*font-family: 'PSL-Display';*/
    color: #dcdcdc; 
    font-size: 12px;
    font-weight: bold;
    height: 40px;
    line-height: 40px;
    padding: 0 20px;
    /*font-weight: normal;*/
        text-transform: uppercase;
    text-decoration: none;
    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    position: relative;
}
/*.topMenubar a:hover{
    background-color: #000;
    color: #b6001e;
    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}*/
.menu-nt1 a:hover ,
.menu-nt1 .activeMenu a ,
.menu-nt1 .activeMenu a:hover{
    background-color: #b6001e;
    color: #fff;
    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;

    /*background-image: url(/images/icon/active-menu.png);*/
    background-repeat: no-repeat;
    background-position: bottom center;
}
.menu-nt1 a:hover{
    background-color: #313131;
}
.topMenubar td:last-child{
    border-right: 0px;

}
.topMenubar span{
    width: auto;
    margin-top: -3px;
    display: block;
    float: left;

}
.topMenubar span img{
    margin: 10px 0;
}
.menuWorldcup img{
    width: 100px !important;
    height: 18px !important;
}

.wrapperTopic{
    display: block;
    width: 215px;
}
.topic{
    background-color: #333136;
    padding: 3px 3px 3px 5px; color: #fff;
    font-weight: bold;
    font-size: 13px;
}
.topic img{width: 15px; height: 15px;}
.topicDetail{ background-color: #fff; border: solid 1px #ccc; margin-top: 3px;}
.topicDetail table{
    width: 100%;
}
.topicDetail img{
    width: 30px; height: 30px;
}
.topicDetail td:first-child{
    width: 18%;
}
.topicDetail td{
    padding: 3px;
    vertical-align: top;
    line-height: 15px;
    word-wrap: break-word;
    font-size: 12px;
    color: #888;
}
.topicDetail b{
    width: 150px;
    display: block;
    height: 18px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    color: #333;
}
.topicDetail a{color: #333; text-decoration: none;}
.wrapperDetailTopic{
    margin-bottom: 10px;
}
li.offMenu{
    color: #666;
}
.boxHeading{
    padding: 10px 10px 20px 10px;
    width: 550px;
    font-weight: bold;
}
.boxHeading, .boxHowto{
    background-color: #fff;
}
.boxHowto { width: 530px; padding: 20px;}
.boxMenuHowto{
    display: block;
    border: solid 1px;
    background-color: #1b1b1b;
}
.boxMenuHowto img{margin-top: 12px;}
.boxMenuHowto span{display: block; font-weight: normal !important; width: 86px; float: left; text-align: left; word-break: break-all;}
.boxMenuHowto table{width: 100%;}
.boxMenuHowto td{
    width: 20%; 
    border: solid 1px #1b1b1b; 
    padding: 5px 3px 5px 3px;
    color: #fff;
    background-color: #333136;
    text-align: center;
    vertical-align: middle;
    line-height: 15px;
    cursor: pointer;
}
td.active_menu, .boxMenuHowto td:hover{
    background-color: #1b1b1b; 
}
.dropdownMenuHowto{
    display: block;
    position: absolute;
    width: 180px;
    background-color: #333136;
    margin: 0px 0px 0px 228px;
    border: solid 1px #000;
    box-shadow: 0 3px 10px #000;
    border-radius: 0 0 5px 5px;
}
.dropdownMenuHowto li{
    color: #fff;
    font-size: 12px;
    border-top: 1px solid #3e3c40;
    border-bottom: 1px solid #2a282d;
    padding: 5px;
}
.dropdownMenuHowto li:hover{background-color: #222; cursor: pointer;}
.dropdownMenuHowto ul ,li{padding: 0; margin: 0;}

.hot-minigame{
    position: absolute;
    width: 28px;
    height: 11px;
    overflow: hidden;
    margin-top: 3px;
    right: 5px;
    background-image: url('/images/icon/hot.gif');
}