

.wrapper-box-feed-expand { 
    display: block;
    background-color: #fff;
    padding: 5px;
    margin: 0px 5px 5px 5px;
    border: solid 1px #ccc;
}
td.team-feed-play table{
    width: 100%;
}
td.sec-teams1, td.sec-teams2{
    width: 30%;
    font-size: 13px !important;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
td.sec-teams1, td.sec-teams2{
    background-image: url('/images/logo-team.png');
    height: 104px;
    background-repeat: no-repeat;
    background-position: center;
}
td.select-success{
    width: 30%;
    background-image: url('/images/selected-success.png') !important;
    background-repeat: no-repeat;
    background-position: center;
    height: 104px;
}
td.sec-teams1 img, td.sec-teams2 img{
    width: 50px;
}
.logoCenter, .logoCenter2{
    width: 100px;
    float: right;
    text-align: center;
    padding-top: 29.5px;
}
.logoCenter2{
    width: 105px;
    float:left;
}
.logoVote1, .logoVote2{
    display: block;
    width: 100px;
    text-align: center;
    float:left;
    padding-top: 33px;
}
.logoVote1{
    float: right;
}
/*td.sec-teams1 img{
    border: solid 1px #fff;
    padding: 27px 27px 0px 0px;
}
td.sec-teams2 img{
    border: solid 1px #fff;
    padding: 27px 27px 0px 26px;
}*/
span.game-hdp, .tab-hdpr{
    display: inline-block;
}
span.gamehdp{
    width: 64px;
    display: block;
    float: left; 
    padding: 25px 5px 0px 5px;
}
.hdp-home, .hdp-away{
    display: block;
    float: left;
    padding-top: 45px;
    font-weight: bold;
}
span.gamehdp h6{
    padding: 0;
    margin: 0;
    color: yellow;

}
.tab-hdpr b{
    display: block;
    margin-top: 20px;
    color: #000;
    font-size: 21px !important;
}
.game-hdp{
    width: 64px;
    height: 64px;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url('/images/bg-hdp.png');
}
td.sec-teams1{
    background-position: right;
}
td.sec-teams2{
    background-position: left;
}
td.sec-teams1 span{
    padding-right: 10px;
}
td.sec-teams2 span{
    padding-left:  10px;
}
td.sec-teams1{
    text-align: right;
}
td.sec-teams2{
    text-align: left;
}
td.teams1, td.teams2{
    text-align: center;
    /*    width: 20%;*/
}

tr.vote td{
    width: 30%;
    height: 36px;
    background-repeat: no-repeat;
    background-position: center;
}
tr.vote span{
    display: block;
    width: 161px;
    height: 36px;
    margin: 0 auto;
    cursor: pointer;
}
span.vote-draw{
    position: absolute;
    margin-left: 28px !important;
    background-image: url('/images/icon/v-draw.png');
}
span.vote-draw:hover{
    background-image: url('/images/icon/v-draw1.png');
}
span.vote-home{
    position: absolute;
    margin-left: 25px !important;
    background-position: right;
    background-image: url('/images/icon/v-home.png');
}
span.vote-home:hover{
    background-image: url('/images/icon/v-home1.png');
}
span.vote-away{
    position: absolute;
    margin-left: -25px !important;
    background-position: left;
    background-image: url('/images/icon/v-away.png');
}
span.vote-away:hover{
    background-image: url('/images/icon/v-away1.png');
}

.boxTeam{
    display: inline-block;
    /*    width: 140px;*/
}
span.displayNameTeam{
    display: block;
    height: 20px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 105px;
}
.teamLeft span, .teamRight span{
    float: left;
}
.teamLeft b, .teamRight b{
    display: block;
    float: left;
    width: 30px;
    font-weight: normal;
    font-size: 14px;
    border: solid 1px #fff;
}
/*.teamLeft span{
    text-align: left;
}
.teamRight span{
    text-align: right;
}*/
td.hdpr{
    width: 40%;
    font-size: 18px;
    text-align: center;
    vertical-align: top;
    color: #fff;
}
td.hdpr b{
    font-size: 22px;
}
span.success-score, span.success-score-game{
    font-weight: bold;
    font-size: 45px;
    color: #555;
}
span.success-score-game{
    color: #fff;
    font-size: 30px;
}
td.left-team{
    text-align: right;
}
td.right-team{
    text-align: left;
}
td.left-team b, td.right-team b{
    display: block;
    font-size: 20px;
    width: 190px;
    /*    height: 25px;
        overflow: hidden;
        color: #fff;
        white-space:nowrap;
        text-overflow:ellipsis; */
}
span.bet-right, span.bet-left{
    cursor: pointer;
    display: block;
    width: 190px;
    height: 38px;
    background-repeat: no-repeat;
}
span.bet-right-h, span.bet-left-h {
    cursor: pointer;
    display: block;
    width: 190px;
    height: 38px;
    background-repeat: no-repeat;
}
span.bet-right:hover{
    background-image: url('/images/away-team1.png');
}
span.bet-left:hover{
    background-image: url('/images/home-team1.png');
}
span.bet-right-h{
    margin-left: -25px;
    background-image: url('/images/away-team.png');
    background-position: left;
    position: absolute;
}
span.bet-left-h{
    position: absolute;
    margin-left: 25px;
    background-position:  right;
    background-image: url('/images/team-home.png');
}
span.bet-right{
    margin-left: -25px;
    background-image: url('/images/away-team.png');
    background-position: left;
    position: absolute;
}
span.bet-left{
    position: absolute;
    margin-left: 25px;
    background-position:  right;
    background-image: url('/images/team-home.png');
}
span.selected-home-success, span.selected-away-success{
    cursor: pointer;
    display: block;
    width: 190px;
    height: 38px;
    background-repeat: no-repeat;
    cursor:  auto;
}
span.selected-home-success{
    position: absolute;
    margin-left: 25px;
    background-position:  right;
    background-image: url('/images/icon/selected-h.png');
}
span.selected-away-success{
    position: absolute;
    margin-left: -25px;
    background-position: left;
    background-image: url('/images/icon/selected-a.png');
}
td.vs{
    text-align: center;
    vertical-align: middle;
    color: #fff;
}
.bg-vsbet{
    display: block;
    padding-top: 8px;
}
.macth-hdp{
    font-size: 16px;
    color: #666;
}
.last-stat-fivematch{
    display: block;
    padding: 3px 0px 10px 0px;
    font-size: 12px;
}
.last-stat-fivematch img{
    width: 22px !important;
    height: 22px !important;
}
.text-green{
    color: #119f6a;
}
.text-red{
    color: #c70000;
}
.text-black{
    color: #000;
}
.full-size{
    height: 1000px;
}
.wrapper-feed-expand{
    width: 549px;
}
.tab-header-main table{
    width: 100%;
}
.tab-header-main td{
    vertical-align: top;
    font-size: 12px;
    line-height: 15px;
}
.tab-images-user-left{
    width: 9%;
}

td.img-upload-post, .img-upload-post{
    padding: 5px 0px 10px 0px;
}
td.img-upload-post img, .img-upload-post img{
    float: left;
    width: 500px; 
    height: 280px;
}
.tab-date{
    display: block;
}
span.time{
    float: right;
    color: #999;
}
.user-comment-post{
    width: 510px;
    color: #333;
}
.user-comment-post b{
    color: #333 !important;
}
.box-like-reply{
    width: 120px;
}
.reply-like{
    margin-left: 5px;
    width: 63px;
}
.box-comment-reply input{
    height: 15px !important;
    width: 405px !important;
    margin: 0;
    float: left;
}
.upimages-box-reply{
    display: block;
    width: 20px;
    padding: 5px;
    cursor: pointer;
    margin-left:  390px;
    position: absolute;
}

span.reply{
    font-weight: bold;
    color: #000;
    margin-left: 10px;
    cursor: pointer;
}
span.reply:hover{
    text-decoration: underline;
}
.user-comment-reply{
    width: 500px;
}
.user-comment-reply input{
    height: 15px !important;
    width: 462px !important;
    margin: 0;
    float: left;
    border-radius: 0px;
}
.reply-image-upload{
    display: block;
    padding: 5px 0px 5px 0px;
}
.comment-box-like-match{
    height: 100px;
}
.comment-box-like-match textarea{
    height: 100px !important;
    width: 530px !important;
    margin: 0;
    float: right;
    border: 0 !important;
    border-radius: 0px !important;
}
.upimages-box-match{
    display: block;
    width: 20px;
    padding: 5px;
    cursor: pointer;
    margin-left: 488px;
    position: absolute;
}
td.tab-ui-post{
    background-color: #eee;
    padding: 1px;
    border-top: solid 1px #ddd;
    border-bottom: solid 1px #ddd;
}
.tab-upload-img{
    width: 100px;
    float: left;
    font-size: 11px;
    color: #555;
}
.tab-upload-img img{
    padding: 5px;
    cursor: pointer;
}
span.loading{
    display: block;
    width: 25px;
    float: right;
    padding: 3px;
}
.loading-reply{
    position: absolute;
    margin-left: 430px;
}
span.Boxloading{
    display: block;
    position: absolute;
    width: 60px;
    height: 60px;
    top: 35px;
    left: 250px;
}
span.Boxloading img{
    width: 60px;
    height: 60px;
}
.button-post-img{
    display: block;
    background-color: #008ee2;
    color: #fff;
    padding: 3px 10px 3px 10px;
    float: right;
    cursor: pointer;
    margin: 3px 2px 0px 0px;
    border-radius: 3px;
    font-weight: bold;
}
.wall{
    position: absolute;
    margin-top: -100px;
    padding: 0px 0px 0px 5px !important;
}
.wall img{
    width: 70px;
    height: 60px;
}
.delete-img, .delete-img-postwall{
    position: absolute;
    color: #fff;
    margin-left: 60px;
    background-color: #333;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    text-align: center;
    margin-top: -5px;
    line-height: 18px;
    cursor: pointer;
    font-weight: bold;
}
.delete-img-postwall{
    float: right;
    right: -6px;
}
.img-thumbnail-upload{
    float: left;
    margin-right: 15px;
}
.reply-upload{
    margin-left: 448px;
}
td.user-post{
    padding: 0px 0px 5px 0px
}
.play-team img{
    width: 18px;
    height: 18px;
    margin-right: 5px;
}
.play-team {
    color: #008ee2;
}
.level{
    font-size: 11px;
    font-weight: bold;
}
.upimages{
    padding: 8px 0px 8px 0px;
}


/* Modal full images */
#Modals{
    width: 880px !important;
    border-radius: 0px !important;
    left: 0 !important;
    right: 0 !important;
    margin: 0 auto !important;
    background-color: #191919;
}
.section-show-images{
    /*    background-color: #000;*/
    display: block;
    font-size: 0;
    height: 100%;
    /*    min-height: 402px;*/
    position: relative;
    text-align: center;
    width: 520px;
    line-height: 548px;
    float: left;
}
.section-show-images img{
    display: inline-block;
    image-rendering: optimizeQuality;
    max-height: 548px;
    max-width: 520px;
    vertical-align: middle;
}
.section-show-comment-post{
    display: block;
    float: left;
    width: 340px;
    padding: 10px;
    background-color: #f5f5f5;
}
.table-comment, .section-box-like{
    display: block;
    /*    box-shadow: 0 5px 5px -5px #ccc;*/
    margin-bottom: 5px;
}
.table-comment{
    padding-bottom: 5px;
}
.table-comment table,.section-comment-all table{
    width: 100%;
}
.table-comment td{
    vertical-align: top;
    line-height: 15px;
    font-size: 12px;
}
.avatar-user-posted{
    width: 48px;
    float: left;
}
td.avatar-user-posted img{
    width: 40px;
    height: 40px;
    border-radius: 3px;
}
.tab-name{
    font-size: 14px;
}
.tab-name-commented b{
    color: #3f729b;
}
.tab-time{
    color: #999;
}
.wrapper-box-info{
    border-bottom: solid 1px #ddd;
    padding: 0px 0px 5px 0px;
}
.tab-commented{
    color: #555;
    vertical-align: top;
    padding: 5px 0px 0px 0px;
}
.section-box-like{
    padding: 5px;
    font-size: 12px;
    line-height: 15px;
}
.section-box-like img{
    width: 10px;
    height: 10px;
}
.section-comment-all{
    display: block;
    background-color: #fff;
    padding: 5px;
    border-bottom: solid 1px #ddd;
    margin-bottom: 5px;
    overflow-y: auto;
    max-height: 367px;
    position: relative;
}
.section-comment-all td{
    vertical-align: top;
    font-size: 12px;
    line-height: 15px;
    padding-bottom: 15px;
}
td.avatar-user-commented{
    width: 35px;
}
td.avatar-user-commented img{
    width: 30px;
    height: 30px;
    border-radius: 3px;
}
/*.input-commented{
    border: solid 1px;
}*/
.box-like-posted{
    display: block;
    border: solid 1px #ddd;
    border-radius: 5px;
    padding: 4px 8px 4px 8px;
    float: left;
    margin-right: 3px;
    font-size: 11px;
    cursor: pointer;
}
.box-like-posted:hover{
    background-color: #eee;
}
.box-like-posted img{
    width: 12px;
    height: 12px;
}
.input-commented input{
    width: 328px !important;
    margin: 0 !important;
}
.close-modal{
    display: block;
    margin-left: 865px;
    position: absolute;
    color: #333;
    font-weight: bold;
    cursor: pointer;
}
.tab-next-prev{
    display: block;
    position: absolute;
    height: 70px;
    width: 520px;
    top: 50%;
}
.next-to, .prev-to{
    display: block;
    width: 50px;
    height: 50px;
    background-size:50px 50px;
    background-repeat:no-repeat;
    background-position: center;
    cursor: pointer;
}
.next-to{
    background-image: url('/images/icon/left-sign.png');
    float: left;
}
.prev-to{
    background-image: url('/images/icon/right-sign.png');
    float: right;
}





/*xx*/

.section-display-full-images{
    display: block;
    width:100%;
    position: fixed;
    height: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
.section-display-images{
    display: block;
    font-size: 0;
    height: 100%;
    /*    min-height: 402px;*/
    position: relative;
    text-align: center;
    width:75%;
    float: left;
    background-color: #333;
}
.section-display-images img{
    display: inline-block;
    image-rendering: optimizeQuality;
    height: 92%;
    max-width: 85%;
    margin: 3%;
    vertical-align: middle;
}
.section-info-post{
    /*    display: block;
        position: fixed;
        height: 100%;
        overflow-y: scroll;
        right: 0;
        top: 0;
        width: 24%;
            float: left;
        padding: 5px;*/

    -webkit-transition: 218ms;
    transition: 218ms;
    bottom: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 320px;
    background-color: #f8f8f8;
    height: 100%;
    overflow-y: auto;
    padding: 5px;
}
.wrapper-comment-all{
    display: block;
}
.comment-all{
    display: block;
    background-color: #f5f5f5;
    padding: 5px;
    border-bottom: solid 1px #ddd;
    margin-bottom: 5px;
    position: relative;
}
.comment-all td{
    vertical-align: top;
    font-size: 12px;
    line-height: 15px;
    padding-bottom: 15px;
}
.commented, .posted{
    display: block;
    margin-bottom: 10px;
}
.commented input{
    width: 275px !important;
}
.close-full-modal{
    display: block;
    width: 55px;
    height: 25px;
    float: right;
    text-align: center;
    font-size: 12px;
    font-weight: bold;
    cursor: pointer;
    color: #333;
    cursor: pointer;
}
.box-next-prev{
    display: block;
    position: absolute;
    width: 100%;
    bottom: 0;
    text-align: center;
    top: 50%;
}
.boxprev, .boxnext{
    display: block;
    width: 50px;
    height: 50px;
    background-size:50px 45px;
    background-repeat:no-repeat;
    background-position: center;
    cursor: pointer;
}
.boxprev{
    background-image: url('/images/icon/left-sign.png');
    float: left;
}
.boxnext{
    background-image: url('/images/icon/right-sign.png');
    float: right;
}
.button-like{
    display: block;
    padding: 5px;
    border: solid 1px #ccc;
    border-radius: 3px;
    margin: 2px;
    float: left;
    background-color: #fff;
}
.button-like img{
    width: 12px;
    height: 12px;
}
.box-wrap{
    display: block;
}
table.bg-head{
    width: 100%;
    height: 215px;
    background-image: url('/images/bg22.png');
}

/*modal confirm bet */
.wrapper-box-confirm{
    /*    margin: 10px;*/
}
.box-confirm-bet{
    padding: 15px;
}
.box-confirm-bet table{
    width: 100%;
}
.box-confirm-bet td{
    vertical-align: top;
}
.box-confirm-bet td:first-child{
    width: 15%;
}
.photo-user img{
    width: 65px;
    height: 65px;
    border-radius: 50%;
}
td.box-user-comment-input textarea{
    width: 430px;
    height: 100px;
}
span.box-utility{
    display: block;
}
span.selected-team{
    display:block;
    display: block;
    margin-right: 20px;
    float: left;
}
.team1h, .team2a{
    width: 150px;
    overflow: hidden;
    height: 25px;
}
span.selected-team img{
    width: 35px;
    height: 22px;
}
span.box-utility b{
    float: right;
    padding: 5px;
}
.img-post-comment{
    display: block;
    padding: 5px 0px 5px 35px;
}
.img-post-comment img{
    padding: 5px;
    border: dashed 1px #ccc;
    border-radius: 2px;
}
.tab-reply{
    display: block;
    padding: 3px;
    background-color: #eee;
}
.name-league-game{
    text-align: center;
    color: #DDD;
    padding: 10px 0px 0px 0px;
    font-weight: bold;
    font-size: 12px;
}
.t1, .t2{
    display: block;
    width: 272px;
    height: 25px;
    font-size: 20px;
    color: #fff;
    text-align: center;
    float: left;
    overflow: hidden;
    white-space:nowrap;
    text-overflow:ellipsis;
}
.t1 b, .t2 b{
    display: inline-table;
}
.t1 span, .t2 span{
    display: block;
    height: 25px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 180px;
}
.info-user-post{
    display: block;
    line-height: 18px;
    padding-bottom: 8px;
    margin-bottom: 10px;
    border-bottom: dashed 1px #ccc;
}
span#like-count{font-size: 12px; color: #333;}
.info-user-post b{font-size: 14px; color: #000;}
.previewImgBoard{margin-bottom: 8px; text-align: center;}
.info-user-post img{
    float: left;
    margin-right: 10px;
}
span.timePost{
    color: #888;
    font-size: 12px;
    font-weight: normal;
}
span.hover{
    display: block;
    position: absolute;
    width: 490px;
    height: 23px;
    margin-top: -25px;
    z-index: 2;
    background-color: rgba(255, 255, 255, 0.1);
}

.progress-vote-game, .section-macth-stat-game{
    display: block;
}
.section-macth-stat-game table{
    width: 100%;
    background-color: #e6e6e6;
}
.section-macth-stat-game td{
    vertical-align: middle;
}
.section-macth-stat-game td:first-child{
    padding-left: 10px;
    text-align: right;
}
.section-macth-stat-game a{
    text-decoration: none;
    color: #333;
}

.graph-outer {
    background: black;
    height: 15px;
    width: 100%;   
    overflow: hidden;
}
.section-math-stat-tournament td>img{
    margin: 0 !important;
}
// horizontal bar progress
.inner-left-cap {
    background: #0073de;
    width: 1%;
    height: 100%;
    float: left;
}
.inner-left-bar {
    background: #0073de;
    height: 100%;
    text-align: center;
    float: left;
}
.inner-center-bar{
    background: #fbb100;
    height: 100%;
    text-align: center;
    float: left;
}
.inner-right-cap {
    background: #990202;
    /*    width: 1%;*/
    height: 100%;
    float: left;
}
.inner-right-bar {
    background: #990202;
    height: 100%;
    text-align: center;
    float: left;
}
.inner-center-bar {
    background: #fbb100;
    height: 100%;
    text-align: center;
    float: left;
}
.inner-left-bar, .inner-right-bar, .inner-center-bar{
    line-height: 15px;
    color: #fff;
    font-size: 11px;
}
ul.menuCoinSelect span{
    border-bottom: solid 1px #e5e5e5;
    width: 152px;
    display: block;
    padding: 3px 3px 3px 10px;
    cursor: pointer;
}