

.tab-follower{
    display: block;
}
.box-follower{
    display: block;
    height: 50px;
    margin-bottom: 1px;
    background-color: #fff;
}
.box-follower:hover{
    background-color: #f5f5f5;
}

.box-follower table, .info-follow table{
    width: 100%;
}
.box-follower td{
    vertical-align: middle;
    display: block;
    float: left;
}
.user-follow{
    width: 35px;
    height: 35px
}
.user-follow img{
    width: 35px;
    height: 35px
}
.tab-situations-icon{
    display: block;
    height: 48px;
    width: 50px;
    background-image: url('/images/icon/live-tap.png');
    background-repeat: repeat-y;
    background-position: center;
    float: left;
}
.icon-follower{
    display: block;
    width: 50px;
    height: 50px;
    position: relative;
    z-index: 1;
    /*    overflow: hidden;*/
}
.icon-follower-left{
    width: 35px;
    height: 35px;
    left: 0;
    position: absolute;
    padding: 5px 6px 5px 8px;
}
td.info-follow td{
    display: block;
    width: 340px;
    overflow: hidden;
    font-size: 12px;
    line-height: 16px;
    color: #7F7F7F;
    vertical-align: middle;
}
td.comment-form-user{
    display: block;
    text-overflow: ellipsis;
    text-overflow: clip;
    height: 15px;
}

td.img-user-follow{
    width: 40px;
    padding-top: 10px;
    float: left;
}
.tab-info-follow{
    color: #797979 !important;
    font-size: 10px !important;
}
span.button-following{
    display: block;
    border: solid 1px #ccc;
    text-align: center;
    border-radius: 5px;
    cursor: pointer;
    width: 70px !important;
    background-color: #fff;
    color: #333;
    padding: 2px;
}
