
.box{
    display: block;
    background-color: #fff;
    padding: 5px;
    border: solid 1px #ccc;
}
.box img{width: 22px;}
.box b{
    font-size: 16px; color: #000;
}
.wrapForums{display: block; position: relative;}
.ForumWrap{
    margin-top: 5px;
}
.box-feedForum{
    display: block;
    position: relative;
    width: 500px;
    border: solid 1px #ccc; 
    float: right;
    padding: 5px;
    background-color: #fff;
    margin-bottom: 10px;
}
.ForumDetails{
    display: block;
    border-bottom: solid 1px #ddd;
}
.ForumDetails table{
    width: 100%;
    font-size: 12px;
}
.ForumDetails td{
    line-height: 18px; vertical-align: top;
}
.ForumDetails td:first-child{padding: 3px;}
.ForumDetails b{
    display: block;
    float: left;
    width: 365px;
    color: #008ae2;
}
.titleFor, span.timePostForum, span.reportPost{padding: 5px;}
.boxRep{padding: 0px !important; padding-left: 5px !important; }
span.reportPost{
    float:right;
    display: block;
    width: 10px;
    text-align: right; cursor: pointer;
}
span.reportPost img{
    width: 10px;
    height: 6px;
}
.reports{padding: 0 !important; padding-left: 5px !important;}
span.timePostForum{
    font-size: 11px;
    width: 108px;text-align: right;
}
.titleFor{
    display: block;
    width: 345px;
    float: left;
    height: 20px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
span.timePostForum, span.postBy{
    float: left; 
    text-align: right;
    color: #888;
}
span.postBy{width: 120px;}
.postBy{float: right; text-align: right; color: #888;}
span.by{color: #333; font-weight: bold;}
td.imagePostForum{text-align: center;}
td.imagePostForum img{max-height: 400px;}
.imageRecommend{
    display: block;
    width: 272px;
    height: 190px;
    text-align: center;
    overflow: hidden;
    position: relative;
}
.recommend1, .recommend2{
    width: 272px;
    float: left;
    height: 280px;
    margin-top: 5px;
    padding: 0;
}
.recommend1 img, .recommend2 img{
    /*    width: 273px;
        height: 190px;*/
    max-width: 480px;
    width: 480px;
    display: block;
    left: 0px;
    position: absolute;
    left: -100px;
}
.recommend2{
    margin-left: 10px;
}
.infoBox {
    display: block;
    font-size: 12px;
    color: #555;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 25px;
    width: 260px;
    height: 40px;
    padding: 5px;
}
.infoBox b{
    display: block;
    width: 260px;
    height: 20px;
    color: #008ae2;
    font-size: 13px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.userPost-info{display: block;  padding:0px 5px 10px 5px; font-size: 11px; line-height: 15px; color: #888;}
.userPost-info b{display: block; font-size: 12px; color: #000;}
.userPost-info img{
    width: 30px;
    height: 30px;
    float: left; margin-right: 5px;
    border-radius: 50%;
    position: inherit;
}
.box-recommend{margin-bottom: 10px; }
.postNewsForum{display: block; max-height: 51px; overflow: hidden; line-height: 15px; word-break: break-all;}
.postNewsForum span{padding: 5px; border: solid 1px transparent; display: block; font-size: 12px; line-height: 15px;}
.postNewsForum a{
    text-decoration: none; color: #333 !important;
}
.tableForum table{
    width: 100%;
}
.tableGames table{
    width: 500px;
}
.boardDescription{
    word-wrap:break-word; padding: 15px 0px 10px 0px;
}
.tabPost textarea{
    margin:0px 0px;
    padding:5px;
    line-height:16px;
    display:block;
    margin:0px auto;   
    width: 388px;
    height: 20px;
    border-radius: 0px;
    border:solid 1px #ccc;
    margin: 0;
    margin-top: 5px;
}


/*report post*/
