

.tab-heading, .tab-heading-title{
    margin: 5px;
    font-weight: bold !important;
    font-size: 18px;
    color: #0088cc;
}
.tab-heading-title{
    color: #333;
}
.tab-news-title{
    border-bottom: dashed 1px #aaa;
    margin-bottom: 10px;
    padding-bottom: 5px;
    color: #333;
    font-size: 14px;
    word-break: break-all;
}
.tab-heading img{
    float: left;
    margin-right: 5px;
}
.section-table-leagues{
    margin-bottom: 5px;
}
.section-table-leagues table{
    width: 100%;
    border: solid 1px #ccc;
}
.section-table-leagues td{
    border-bottom: solid 1px #e5e5e5;
    background-color: #fff;
    padding: 3px;
    font-size: 12px;
}
.section-table-leagues th{
    background-color: #ddd;
    border-bottom: solid 1px #ccc;
    border-top: solid 1px #ccc;
}
.section-table-leagues td:first-child{
    width: 5%;
    text-align: center;
    font-weight: bold;
}
.section-table-leagues td+td{
    width: 40%;
}
.section-table-leagues td:nth-child(2) {
    width: 40%;
}
.section-table-leagues td+td img{
    width: 30px;
    height: 30px;
    padding-right: 10px;
}
.section-table-leagues td:nth-child(2) img{
    width: 30px;
    height: 30px;
    padding-right: 10px;
}
.section-table-leagues th+th img, .section-table-leagues td+td+td+td+td img{
    width: 32px;
    height: 32px;
    cursor: pointer;
}
.section-table-leagues th:nth-child(2) img, .section-table-leagues td:nth-child(5) img{
    width: 32px;
    height: 32px;
}
.section-table-leagues th+th+th img{
    width:20px;
    height: 20px; 
}
.section-table-leagues th:nth-child(3) img{
    width:20px;
    height: 20px;
}
.section-table-leagues select{
    margin: 5px;
}


/* Forum News */
.image-news{
    text-align: center;
    margin-bottom: 10px;
}
.image-news img{
    width: 540px;
}
.details-news{
    padding: 5px;
    margin: 10px 0px 10px 0px;
}
.details-video{
    margin: 5px 5px 10px 5px;
}
.box-show-comment{
    border-bottom: solid 1px #fff;
}
.sub-user-comment{
    background-color: #f5f5f5;
}

/* Forum Show News On Feed */
.img-news img{
    width: 170px;
    /*    height: 100px;*/
    float: left;
    margin: 5px;
}
.detail-news-wall{
    height: 130px;
    overflow: hidden;
    padding: 5px;
    font-size: 12px;
}
.show-news{
    height: 150px;
    margin-bottom: 5px;
}
td.news-topic{
    font-size: 14px;
}
td.video-topic{
    padding: 0px 5px 5px 5px;
    font-size: 14px;
    font-weight: bold;
}
.display-video, .show-video{
    height: 285px;
}
table.news-section td{
    vertical-align: top;
}
td.news-img {
    border: solid 1px;
}
td.detail-newss{
    height: 20px;
    line-height: 15px;
    overflow: hidden;
    font-size: 12px;
    color: #333;
    height: 95px;
    display: block;
    width: 300px;
}
.title-news{
    font-weight: bold;
    padding-bottom: 5px;
}

.images-timeline-post{
    text-align: center;
    background-color: #f5f5f5;
    margin-bottom: 10px;
}
.images-timeline-post img{
    max-width: 500px;
}
.photoPagePrevNav{display: block; padding: 5px;}
.photoPagePrevNav table{
    width: 100%;
}
.photoPagePrevNav td{
    font-size: 12px;
    color: #333;
    width: 50%;
}
.photoPagePrevNav td:first-child{
    text-align: left;
    color: #0088cc;
}
.photoPagePrevNav td:last-child{
    text-align: right;
}
.album-name{
    text-align: left;
    padding: 10px 5px 10px 5px;
    color: #000;
    background-color: #fff;
    /*    font-weight: bold;*/
    line-height: 15px;
    font-size: 12px;
    word-wrap: break-word;
}
.remove-ment{
    display: block;
    position: absolute;
    /*    left: 870px;*/
    font-weight: bold;
    cursor: pointer;
    color: #ccc;
    font-size: 13px !important;
}
.remove-ment:hover{
    color: #000;
}
.ment-1{
    margin-left: 533px;
}
.ment-2{
    margin-left: 500px;
}


/*Notifications*/
.tab-notifications{
    display: block;
    background-color: #fff;
    line-height: 35px;
    /*    padding: 8px;*/
    margin: 5px;
    border: solid 1px;
    border-color: #e5e6e9 #dfe0e4 #d0d1d5;
}
.tab-notifications b{
    font-weight: normal
}
.tab-notifications table{
    width:100%;
}
.tab-notifications td{
    color: #aaa;
    text-align: center;
    font-size: 13px;
    border-left: solid 1px #eee;
    border-right: solid 1px #000;
    background-color: #333136;
}
.tab-notifications td:last-child{border-right: solid 1px #fff}
.tab-notifications td:hover{
    background-color: #222;
    color: #fff;
    font-size: 13px;
}
.tab-notifications td ,
.tab-notifications td:hover{
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

td.activeNoti:hover ,
td.activeNoti{
    background-color: #fff;
}
td.activeNoti b{
    font-weight: bold;
    color: #000;

}
.wrapper-box-notifications{
    display: block;
    margin: 5px;
}
.notifications, .readMore-noti{
    border: solid 1px;
    border-color: #e5e6e9 #dfe0e4 #d0d1d5;
    padding: 5px;
    background-color: #fafafa;
    font-size: 12px;
    color: #888;
    margin-bottom: 5px;
}
.notifications:hover, 
.readMore-noti:hover{
    background-color: #f1f1f1;
}
.notifications, 
.readMore-noti,
.notifications:hover, 
.readMore-noti:hover{
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}
.heading-dateNoti{
    color: #555;
    font-weight: bold;
    padding: 3px 0px 3px 0px;
    text-shadow: 0 1px 2px #fff;
}
.notifications table{
    width: 100%;
}
.notifications td:last-child{
    width: 7%;
}
.notifications td:last-child img{
    width: 18px; height: 18px;
}
.nameUser{
    color: #000 !important;
    font-weight: bold;
}
.notifications b{
    color: #333;
}
.font-red-live {
    color: #b30202 !important;
}
.notifications img{
    width: 20px; height: 20px; float: left; margin-right: 5px;
}
.closeNoti{
    display: block;
    float: right;
    position: absolute;
    margin-left: 540px;
    font-weight: bold;
    cursor: pointer;
    color: #ccc;
    font-size: 13px !important;
}
.closeNoti:hover{
    color: #333;
}
.games{
    background-color: #e1e1e1;
}
.readMore-noti{
    margin-top: 30px; text-align: center;
    font-weight: bold; color: #333;
}
.readMore-noti:hover{
    background-color: #ddd; cursor: pointer; text-decoration: underline;
}
.wrapper-boxNoti{margin-bottom: 10px;}
.wrapper-boxNoti a{
    color: #888;
}
.fadeGame{
    display: block;
    position: fixed;
    background-color: rgba(0,0,0,0.7);
    width: 100%;
    height: 100%;
    z-index: 5;
    top: 0;
    left: 0;
    right: 0;
    text-align: center;
    margin: 0 auto;
    padding-top: 80px;
}

.header-resultGame{
    height: 245px;
    background-image: url('/images/totall-bg.png');
    background-repeat: no-repeat;
    border: solid 1px #000;
}
.header-resultGame h5{
    color: #fff;
    margin-top: 100px;
    text-align: center;
    font-size: 22px;
}
.resultGames h4{
    color: #fff; text-align: center;
}
.resultGames table, .tableResult-game table{
    width: 100%; color: #fff;
}
.resultGames td{
    width: 15%;
    text-align: center;
    vertical-align: middle;
}
.wrapScore{
    display: block;
    width: 167px;
    height: 167px;
    background-image: url(/images/bg-circle.png);
    background-size: 150px 150px;
    background-repeat: no-repeat;
    background-position: center;
}
span.result, .tscore b{
    font-size: 25px;
    font-weight: bold;
    padding-bottom: 5px;
    display: block;
}
.tscore b{
    font-size: 33px;
}
.tscore{
    display: block; position: absolute;
    width: 170px;
    padding-top: 60px;
    text-align: center;
    font-size: 20px;
}
.tscore b{
    margin-bottom: 15px; color: #038b00;
}
.twin{
    color: #038b00;
}
.tdraw{
    color: #d9b301;
}
.tlose, .tlose b{
    color: #a90000 !important;
}
.tab, .tab1, .tab2{
    display: block;
}
.pta{
    color: #0285d0;
}
td.scorePta{
    width: 22%;
}
.tabUtility{
    color: #000;
    background-color: #d5d5d5;
    padding: 5px 10px 5px 10px;
}
.tab{
    padding: 5px 10px 5px 10px;
    color: #eee;
}
.tab1{
    float: left;
    font-weight: bold;
}
.tab2{
    float: right;
}
.tableResult-game{
    max-height: 280px;background-color: #fff;
    overflow-y: auto;
}
.tableResult-game td{
    border-bottom: solid 1px #ddd;
    text-align: center;
    color: #333;
    font-size: 12px;
    padding: 3px;
}
.tableResult-game td:last-child img{
    width: 20px; height: 20px;
}
.tableResult-game td:nth-child(5){
    color: #038b00;
}
td.scored{
    background-color: #eee;
    color: green;
}
.seeMore{
    background-color: #333;
    color: #fff;
    font-size: 12px; border-radius: 5px;
    padding: 3px;
}
.text-purple{
    color: #0081b1; font-size: 12px;
}
td.team-played-na{
    color: red;
}

/*Daily Coins*/
.dailyCoins{
    height: 278px;
    background-image: url('/images/daily-coins/login-bg.png');
    background-repeat: no-repeat;
    border: solid 2px #aaa;
    background-size: 700px 278px;
}
.dailyCoins table, .boxDailyCoins table{
    width: 100%;
}
.boxDailyCoins{
    display: block;
    border:solid 2px #fff;
    width: 78px;
    height: 170px;
    padding: 5px;
    background-color: #eee;
    border-radius: 5px;
    margin: 0 auto;
}
.activeDay{background-color: #bde5f9; border:solid 2px #0088cc;}
.activeDay b{color: #0081b1 !important;}
td.boxCoins{
    border-bottom: solid 1px #aaa;
    border-top: solid 1px #fff;
}
.boxDetails tr{
    display: block;
}
.boxDailyCoins td{
    font-size: 18px;
    line-height: 28px;
}
.boxDailyCoins b{font-size: 20px; color: #333;}
.dailyCoins td{
    width: 12.5%;
    text-align: center;
    padding: 5px 0px 5px 0px;
    border-collapse: collapse;
}

.reciveCoins{cursor: pointer;}
.reciveCoins, .labelText{
    text-align: center; padding: 5px;
}
.labelText{color: #fff; font-weight: bold;}
.labelText img{width: 20px;}


/*Statement*/
.tableStatement{
    display:block;
    background-color: #fff;
}
.tableStatement table{
    width: 100%; 
    text-align: center;
}
.tableStatement th{
    border:solid 1px #333;
    width: 20%;
    vertical-align: middle;
    background-color: #000;
    color: #fff;
    font-size: 12px;
    padding: 3px;
    font-weight: normal;
}
.tableStatement td{
    border-left: solid 1px #e5e5e5;
    font-size: 11px;
    padding: 5px;
}
.tableStatement th:first-child{width: 18%;}
.statementCoins td{border: 0;  width: 50%;}
.displayCoin td{border: 0; width: 50%;}
.selectStatementType{
    display:block;
    margin-bottom: 10px;
    text-align: left;
}
td.listType{color: #008ae2; border: 0;}
td.dateTimestamp{color: #8a8a8a; border: 0;}
td.text-Sgold{color: #000;}
td.text-Scoin{color: #888; border-left: none;}
td.text-Sgold b, td.text-Scoin b{font-size: 11px; }
td.totalScoin{color: #555;}

.boxStep{
    background-color: #0b1112;
    padding: 10px;
}
.stepBg{background-color: #333136;}
.boxStep table{width: 100%;}
.boxStep td{
    padding:5px;
    color: #fff;
    font-weight: bold;
    vertical-align: top;
}
.boxStep td:first-child{
    width: 15%; text-align: right;
}
.graph-outer1, .graph-outer2 {
    background: #202425;
    height: 25px;
    width: 430px;   
    border: 3px solid #24292a;
    border-radius: 5px;
    overflow: hidden;
}
.graph-outer2{border: solid 3px #89a39d;}

.inner-left-cap1, .inner-left-cap2, .inner-left-cap3, .inner-left-cap4, .inner-left-cap5, .inner-left-cap6{
    background: #07bb03;
    width: 15.6%;
    height: 100%;
    float: left;
}
.inner-left-bar1{
    background: #07bb03;
    width: 1%;
    height: 100%;
    text-align: center;
    float: left;
}
.inner-left-bar1 b, .inner-left-bar2 b, .inner-left-cap3 b, .inner-left-cap4 b,  .inner-left-cap5 b,.inner-left-cap6 b{
    margin-left: -80px;
    font-weight: normal;
    font-size: 11px;
}
.pastDay b{color: #333;}
td.step, .step{
    background-repeat: no-repeat;
    height: 25px;
    background-position: top center;
    background-image: url('/images/step/step.png');
}
.step{height: 38px; margin: 10px 0px 5px 0px;}
.step3{
    background-image: url('/images/step/step3.png') !important;
}
.step4{
    background-image: url('/images/step/step4.png') !important;
}
.step5{
    background-image: url('/images/step/step5.png') !important;
}
.step6{
    background-image: url('/images/step/step6.png') !important;
}
.step7{
    background-image: url('/images/step/step7.png') !important;
}
.step8{
    background-image: url('/images/step/step8.png') !important;
}
.boxTextStep table{width: 100%;}
.boxTextStep td{width: 16%;  text-align: center; font-weight: normal; font-size: 12px; color: #333; font-weight: bold;}

/*modal combo, step*/
.bgCombo, .bgStep{
    width: 471px;
    height: 465px;
    background-image:url('/images/step/bg-combo.png');
    background-repeat: no-repeat;
    text-align: center;
}
.bgStep{
    background-image:url('/images/step/bg-step.png');
}
.iconDiamond{margin: 20px;}
.titleStep{
    display: block;
    padding: 15px;
    font-size: 25px;
    color: #fff;
    text-align: center;
    font-weight: bold;
    color:#e5e5e5;
}
.detailStepCombos{
    display: block;
    font-size: 20px;
    font-weight: bold;
    color: #000;
}
/*.detailStepCombos b{font-size: 22px;}*/
.wrapperStepCombo{display: block; padding-left: 15px; margin-top: 10px;}
span.bg{
    display: inline-block; 
    background-image:url('/images/icon/bgg.png'); 
    width: 28px; 
    padding: 16px;
    background-repeat: no-repeat;
    font-size: 38px;
}
.comboText{display: block; font-size: 22px; padding: 10px; color: #111;}
.comboText b{font-size: 30px; color: #000;}
.conditions{padding: 5px 15px 5px 15px; display: block; font-size: 12px;}
.buttonSend img{cursor: pointer;}