

#wrapper-box-maintenance, .boxContact{
    display: block;
    width: 960px;
    margin: 0 auto;
}
.box-maintenance{
    display: block;
    background-color: #000;
    margin: 30px 140px 20px 140px;
    border-radius: 30px;
    padding: 30px;
    color: #fff;
    text-align: center;
}
.box-maintenance h2{
    font-size: 30px;
}
.time-close{
    color: #fff;
    font-size: 34px;
    font-weight: bold;
    display: block;
    line-height: 30px;
    margin-top: 15px;
}
.time-close b{
    color: #eeca00;
}
.text{
    margin-top: 5px;
}
.buttons{
    display: block;
    background-color: #fff;
    margin-top: 30px !important;
    border-radius: 10px;
    padding: 5px;
    text-align: center;
    color: #000;
    width: 120px;
    margin: 0 auto;
    cursor: pointer;
}
.buttons-send{
    margin-top: 10px !important;
    border:solid 1px #ccc;
    background: none;
}
.boxContact{
    text-align: center;
    line-height: 20px;
}
.boxContact textarea{
    width: 450px;
    height: 80px;
}
.boxContact img{
    width: 150px;
}