
.content-profile{
    padding: 0px 0px 0px 0px;
    width: 570px;
    display: block;
    border:solid 1px transparent;
    background-color: #e9eaed;
}
.box-img-profiles{
    display: block;
    width: 90px;
    position: absolute;
    top: 180px;
    margin: 10px;
    float: left;
}
.box-info-user{
    width: 200px;
    float: right;
    text-align: left;
    height: 90px;
    position: absolute;
    top: 190px;
    margin-left: 85px;

}
.box-info-user input {
    margin: 0;
    padding: 0;
    margin-left: 15px;
    border-radius: 0px;
}
.edit-name input{
    margin-left: 0;
    width: 165px;
    border-radius: 0px;
}
.name-user-profile input{
    padding: 0px;
    margin: 0px;
    height: 28px;
    width: 145px;
    font-size: 12px;
    border-radius: 0px;
}
.section-header-profile{
    display: block;
    background-image: url(/images/test-bg2.jpg); 
    /*    background-size:780px 190px; */
    background-repeat:no-repeat;
    height: 190px;
}
.wrapper-header-profile{
    background-color: #606668;
    background-color:rgba(0,0,0,0.5) !important;
    height: 48px;
    padding-top: 10px;
}
.section-header-profile, .section-result-score{
    display: block;
}
.section-header-profile table, .section-result-score table, .tab-menu-profile table{
    width: 100%;
}
.section-header-profile td{
    /*    height: 170px;*/
    vertical-align: middle;
    color: #fff;
    line-height: 18px;
    font-size: 11px;
}
.section-header-profile td:nth-child(3),.section-header-profile td:nth-child(4),.section-header-profile td:nth-child(5){
    text-align: center;
    width: 18%;
}
.section-header-profile b{
    font-weight: bold;
    font-size: 18px;
}
td.profile-user-info{
    width: 50%;
    color: #6D6D6D;
    font-size: 12px;
    text-align: center;
}
td.profile-user-info img{
    width: 10px;
    height: 10px;
    cursor: pointer;
}
td.bg-cover-timeline{
    width: 50%;
}
.button-change-cover, .button-sendPM{
    display: block;
    position: absolute;
    margin: 65px 0px 0px 406px;
}
.button-sendPM{margin: 65px 0px 0px 490px;}
.button-sendPM img{width: 13px; height: 10px;}
.button-change-cover img{
    width: 10px !important;
    height: 10px !important;
    float: left;
    padding-top: 5px;
}
.button-change-cover button{
    width: 80px;
}
td.profile-score{
    width: 150px;
}
.menu-info-follow{
    display: block;
    color: #fff;
    font-size: 11px;
    margin: 10px 0px 0px 0px;
    text-align: left;
}
.menu-info-follow img{
    float: left;
    padding-top: 3px;
}
.menu-info-follow button{
    line-height: normal;
    width: 82px !important;
}

span.tab-country, span.tab-follow{
    display: inline;
    margin-right: 10px;
}
span.tab-follow span{
    display: inline-block;
    width: 80px;
    text-align: center;
}
span.tab-country img, span.tab-follow img{
    width: 14px;
    height: 12px;
}
.profile-img{
    display: block;
    width: 75px;
    height: 70px;
    float: left;     
}
.profile-img img{
    width: 75px;
    height: 70px;
    width: 75px !important;
    height: 70px !important;
    border: solid 3px #fff;
}
.img-user-profile{
    display: block;
    /*    float: right;*/
}
.img-user-profile {
    width: 50px;
    height: 50px;
    margin-right: 5px;
}
.name-user{
    font-size: 16px;
    color: #fff;
    padding-left: 15px;
    font-weight: bold;
    text-align: left !important;
    display: block;
    word-break: break-all;
}
.name-user-profile{
    display: block;
    width: 190px;
    height: 43px;
    background-image: url('/images/bg-profile-status1.png');
    margin-left: 15px;
    margin-top: 3px;
    position: absolute;
    background-size: 170px 40px;
    background-repeat: no-repeat;
}
.name-user-profile span{
    display: block;
    padding: 3px 5px 2px 15px;
    height: 28px;
    overflow: hidden;
    line-height: 14px;
    width: 150px;
    font-size: 12px;
    word-break: break-all;
}
.edit-name{
    font-size: 12px;
    color: #008ae2;
    line-height: 15px;
    text-align: left;
    display: block;
    padding-left: 15px;
    display: block;
    margin-top: 42px;
}
.edit-name img, .name-user img, .name-user-profile img{
    width: 12px !important;
    height: 13px !important;
}
.tab-score{
    display: block;
    width: auto;
    background-color:  #2eb0e4;
    float: right;
    color: #fff;
    font-size: 16px;
    padding: 8px;
    text-align: center;
}

.section-result-score{
    background-color: #1b1b1e;
    padding: 5px;
}
.tab-stat table{
    width: 100%;
    background: none !important;
}
.tab-stat td{
    width: 20%;
    text-align: center;
    color: #04aff0;
    font-size: 12px;
    font-weight: bold;
}
.tab-stat h5{
    color: #fff !important;
    font-weight: bold;
    font-size: 16px !important;
}
.section-result-score td:first-child{
    /*    border: solid 1px;*/
    width: 30%;
}
.section-result-score td:last-child{
    border-right: none;
}
.section-result-score td{
    width: 14%;
    color: #a7a7a5;
    vertical-align: middle;
    text-align: center;
    font-size: 11px;
    line-height: 9px;
}
.section-result-score h4, .tab-menu-date h2, td.three-coin ul, .tab-stat h5{
    padding: 0;
    margin: 0;
}
.section-result-score h4{
    color: #eee;
    font-weight: bold;
    font-size: 14px !important;
}
.tab-menu-date h2{
    font-size: 24px !important;
}
td.tab-followr{
    border-right: solid 1px #666;
    padding-left: 20px;
}
td.three-coin{
    background-image: url('/images/three-coin.png');
    background-size: 130px 42px;
    background-repeat: no-repeat;
    background-position: center;
}

td.three-coin li{
    display: inline-block;
    text-align: center;
    font-size: 20px;
    color: #fff;
    text-shadow: 1px 1px #000;
    font-weight: bold;
    width: 40px;
    padding-top: 2px;
}


/**/
.section-match-result,.section-menu-match-profile{
    display: block;
}
.section-menu-match-profile{
    width: 570px;
    background-color: #fff;
    border-top: solid 1px #ccc;
    border-bottom: solid 1px #ccc;
    margin-bottom: 5px;
}
.section-menu-match-profile table{
    width: 100%;
}

.section-menu-match-profile td{
    width: 20%;
    text-align: center;
    font-size: 12px;
    font-weight: bold;
    padding: 5px;
    /*    text-align: center;
        color: #333;
        padding: 5px;
        font-size: 12px;
        background-color: #f5f5f5;
        border-bottom: solid 1px #eee;
        background: rgb(255,255,255);  Old browsers 
        background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(229,229,229,1) 100%);  FF3.6+ 
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(229,229,229,1)));  Chrome,Safari4+ 
        background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%);  Chrome10+,Safari5.1+ 
        background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%);  Opera 11.10+ 
        background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%);  IE10+ 
        background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%);  W3C 
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=0 );  IE6-9 */

}
.section-menu-match-profile a{color: #333;}
.section-menu-match-profile td:hover{
    border-bottom: solid 3px #008ae2;
    cursor: pointer;
    /*        background-color: #2eb0e4;
            background-image: -moz-linear-gradient(top, #5bc0de, #2eb0e4);
            background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#2eb0e4), to(#2eb0e4));
            background-image: -webkit-linear-gradient(top, #5bc0de, #2eb0e4);
            background-image: -o-linear-gradient(top, #5bc0de, #2eb0e4);
            background-image: linear-gradient(to bottom, #5bc0de, #2eb0e4);
            background-repeat: repeat-x;
            border-color: #2eb0e4 #2eb0e4 #1f6377;
            border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff5bc0de', endColorstr='#ff2f96b4', GradientType=0);
            filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
        background: rgb(229,229,229);  Old browsers 
        background: -moz-linear-gradient(top,  rgba(229,229,229,1) 0%, rgba(255,255,255,1) 100%) !important;  FF3.6+ 
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(229,229,229,1)), color-stop(100%,rgba(255,255,255,1))) !important;  Chrome,Safari4+ 
        background: -webkit-linear-gradient(top,  rgba(229,229,229,1) 0%,rgba(255,255,255,1) 100%) !important;  Chrome10+,Safari5.1+ 
        background: -o-linear-gradient(top,  rgba(229,229,229,1) 0%,rgba(255,255,255,1) 100%) !important;  Opera 11.10+ 
        background: -ms-linear-gradient(top,  rgba(229,229,229,1) 0%,rgba(255,255,255,1) 100%) !important;  IE10+ 
        background: linear-gradient(to bottom,  rgba(229,229,229,1) 0%,rgba(255,255,255,1) 100%) !important;  W3C 
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e5e5e5', endColorstr='#ffffff',GradientType=0 ) !important;  IE6-9 
        border-bottom: none !important;
        cursor: pointer;*/
}
.actived-menu{
    color: #000;
    font-weight: bold;
    border-bottom: solid 3px #008ae2;
    /*        border-left: solid 1px #ccc !important;
            border-top: solid 1px #ccc !important;
            border-right: solid 1px #ccc !important;
        background: rgb(229,229,229);  Old browsers 
        background: -moz-linear-gradient(top,  rgba(229,229,229,1) 0%, rgba(255,255,255,1) 100%) !important;  FF3.6+ 
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(229,229,229,1)), color-stop(100%,rgba(255,255,255,1))) !important;  Chrome,Safari4+ 
        background: -webkit-linear-gradient(top,  rgba(229,229,229,1) 0%,rgba(255,255,255,1) 100%) !important;  Chrome10+,Safari5.1+ 
        background: -o-linear-gradient(top,  rgba(229,229,229,1) 0%,rgba(255,255,255,1) 100%) !important;  Opera 11.10+ 
        background: -ms-linear-gradient(top,  rgba(229,229,229,1) 0%,rgba(255,255,255,1) 100%) !important;  IE10+ 
        background: linear-gradient(to bottom,  rgba(229,229,229,1) 0%,rgba(255,255,255,1) 100%) !important;  W3C 
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e5e5e5', endColorstr='#ffffff',GradientType=0 ) !important;  IE6-9 
        border-bottom: none !important;
        cursor: pointer;*/

}
.section-menu-match-profile img{
    width: 18px;
    height: 18px;
}
.section-match-result-list{
    display: block;
    float: left;
    width: 570px;
    border-left: solid 1px #E1E1E1;
    height: auto;
}
.tab-menu-profile{
    width: 495px;
    float: right;
    margin-top: 5px;
}
.tab-menu-profile td{
    padding: 5px;
    text-align: center;
    width: 160px;
    font-size: 12px;
    cursor: pointer;
}
.font-orange1{
    color: #fe9b00;
}
.wrapper-result-match, .tab-menu-date, .match-list{
    display: block;
}
.wrapper-result-match{
    background-color: #f4f4f4;
    margin-left: 5px;
    float: left;
    width: 565px;
}
.tab-menu-date{
    float: left;
    width: 70px;
    background-color: #fff;
}
.tab-menu-date td{
    text-align: center;
    width: 70px;
    font-size: 11px;
    color: #7F7F7F;
    padding: 0px 0px 5px 0px;
    cursor: pointer;
}

.match-list{
    float: left;
    width: 480px;
    margin: 5px 5px 5px 8px;
}
td.active-menu-date, .tab-menu-date td:hover{
    background-color: #f4f4f4;
    border-top: solid 1px #eee;
    border-bottom: solid 1px #eee;
}
td.active-menu-date h2, .tab-menu-date h2:hover{
    color: #E10000;
}
.box-match-list{
    display: block;
    /*    box-shadow: 0px 0px 1px 1px #ccc;*/
    /*    border-radius: 3px;*/
    border: solid 1px #eee;
    background-color: #fff;
    padding: 5px;
    height: 18px;
    margin-bottom: 5px;
}
.box-match-list:hover{
    background-color: #eee;
}
.box-match-list table{
    width: 100%;
}
.box-match-list td{
    display: block;
    float: left;
    text-align: center;
    height: 20px;
    vertical-align: top;
    line-height: 10px;
    font-size: 11px;
}
/*.box-match-list td:nth-child(1),.box-match-list td:nth-child(2),.box-match-list td:nth-child(3), .box-match-list td:nth-child(4),.box-match-list td:nth-child(5){
    border: solid 1px;
}
.box-match-list td:nth-child(2),.box-match-list td:nth-child(4){
    width: 35%;
}
.box-match-list td:nth-child(3){
    width: 10%;
}
.box-match-list td:nth-child(1){
    width: 5%;
}
.box-match-list td:nth-child(5){
    width: 10%;
}*/

td.img-result-stat img{
    width: 20px;
    height: 20px;
}
td.img-result-stat{
    width: 25px;
}
td.per{
    width: 50px;
    padding-top: 4px;
    float: left;
    font-size: 11px;
}
td.team-played{
    color: red;
}
td.team-played, td.team-odds{
    /*    width: 170px;*/
    overflow: hidden;
}
.n-team, .n-percent{
    display: block;
    float: left;
    height: 14px;
    padding-top: 4px;
}
.n-team1{
    text-align: right !important;
}
.n-team{
    width: 125px;
    overflow: hidden;
    text-align: left;
}
.n-percent{
    width: 40px;
}
td.team-score{
    width: 50px;
    text-align: right;
}
td.team-odds{
    text-decoration: underline;
}
td.team-score{
    width: 50px;
    font-size: 15px;
    font-weight: bold;
    padding-top: 4px;
}
.active-menu-ranking {
    background-color: #31353e;
    color: #fff !important;
    /*    border-radius: 5px 5px 0px 0px;*/
}
.section-menutop-feed, .bg-menu-feed{
    display: block;
    height: 65px;
}
.bg-menu-feed{
    width: 390px;
    height: 46px;
    margin: 0 auto;
    background-image: url('/images/bgg.png');
}
.bg-menu-feed table{
    width: 390px;
    height: 46px;
    margin: 0 auto;
}
.bg-menu-feed td{
    background-repeat: no-repeat;
    background-position: center;
    padding-top: 81px;
    cursor: pointer;
    border: solid 1px transparent;
}
.menu-feed{
    background-image: url('/images/img-test/feed.png');
}
.menu-feed:hover{
    background-image: url('/images/img-test/feed-1.png');
}
.menu-ranking{
    background-image: url('/images/img-test/ranking.png');
}
.menu-ranking:hover{
    background-image: url('/images/img-test/ranking-1.png');
}
.menu-play{
    background-image: url('/images/img-test/play.png');
}
.menu-play:hover{
    background-image: url('/images/img-test/play-1.png');
}
.menu-following{
    background-image: url('/images/img-test/follow.png');
}
.menu-following:hover{
    background-image: url('/images/img-test/follow-1.png');
}

.box-trophy{
    display: block;
    height: 65px;
    /*    border-top: solid 2px #aaa;
        border-bottom: solid 2px #aaa;*/
    margin-top: 62px;
    background-color: rgba(255,255,255,0.4) !important;
}
.box-trophy table{
    width: 100%;
    height: 65px;
}
.box-trophy td{
    display: block;
    float: left;
    /*    height: 55px;*/
    width: 50px !important;
    padding: 5px;
    margin: 5px 5px 5px 6px;
    background-color: rgba(255,255,255,0.6) !important;
    box-shadow: 0px 1px 1px 0px #aaa;
    text-align: center;
    cursor: pointer;
}
.box-trophy img{
    width: 45px;
    height: 45px;
}
.prev, .nextt{
    margin-top: 20px;
    display: block;
    position: absolute;
}
.prev img, .nextt img{
    width: 25px;
    height: 28px;
    cursor: pointer;
}
/*.boxs{
    width: 568px;
    height: 55px;
    border:solid 1px red;
    display: block;
    position: absolute;
}*/
.prev{
    float: left;
}
.nextt{
    float: right;
    margin-left: 545px;
}
.menu-dashboard{
    display: block;
    border-top: 1px solid #3e3c40;
    border-bottom: 1px solid #2a282d;
    background-color: #333136;
    display:none;
}
.menu-dashboard table{
    width: 100%;
}
.menu-dashboard td{
    width: 20%;
    text-align: center;
    padding: 3px;
    /*    border-radius: 10px 10px 0px 0px !important;*/
    cursor: pointer;
    color: #fff;
    font-size: 12px;
}
.actived-menu{
    color: #000 !important;
}
.menu-dashboard img{
    width: 25px;
    height: 25px;
}

.tabCoins{
    display: block; padding: 8px;
    background-color: #fff;
    border:solid 1px #ccc;
    margin: 5px 0px 5px 0px;
}
.tabCoins table{
    width: 100%;
}
.tabCoins td:last-child{border-right: none;}
.tabCoins td{ border-right: solid 1px #ccc; font-size: 12px; text-align: center;  color: #777; vertical-align: middle; font-weight: bold;}
.tabCoins img{
    width: 45px;
}
.tabCoins div{display: inline-table;}
.tabCoins b{font-size: 18px; color: #000;}
.tabCoins a{color: #888;}

/*PM*/
.boxMessage table{width: 100%;}
.boxMessage td{
    border-collapse: collapse;
    padding: 5px;
}
.boxMessage textarea{
    width: 510px;
    height: 80px;
    border-radius: 0px;
}
.boxMessage input{border: 0; box-shadow: none;}
.wrapperBoxUserSend{
    display: block;
    border: solid 1px #ddd;
    padding: 5px;
    float: left;
    width: 243px;
    background-color: #f5f5f5;
    border-radius: 5px;
    margin: 3px;
}
li#typeahead-009-8622-option-0 img{border: solid 1px red;}
.boxUserSend{display: block;}
.boxImages img{float: left; width: 25px; height: 25px; margin-right: 5px;}
.wrapperBoxMessage{
    display: block;
    background-color: #f5f5f5;
    border: solid 1px #ccc;
}
.boxOtherChat, .boxAllChat{
    display: block;
}
.boxOtherChat{background-color: #fff;}
.boxOtherChat tr:hover,.activeMessage{background-color: #eee; cursor: pointer;}
.boxOtherChat table, .boxAllChat table{width: 100%;}
.boxOtherChat td{vertical-align: middle; padding: 5px;border-bottom: solid 1px #e5e5e5; cursor: pointer;}
.boxOtherChat td:first-child{width: 25%;}
.boxOtherChat td:last-child{font-size: 10px; color: #888;}
.boxOtherChat img, .boxAllChat img{width: 35px; height: 35px;}
.boxOtherChat{
    float: left;
    width: 180px;
}
.boxAllChat{
    float: right; 
    width: 378px; 
    background-color: #f5f5f5;
    /*        padding: 10px;
        border-left: solid 1px #ccc;*/
}
.boxOtherChat b, span.textMessage{
    display: block; 
    width: 85px; 
    height: 18px;
    text-overflow: ellipsis; 
    white-space: nowrap; 
    word-break: break-all;
    overflow: hidden;
}
.boxOtherChat b{font-size: 12px; color: #000;}
span.textMessage{
    color: #666;
    font-size: 11px;
}
.boxAllChat tr{border-bottom:solid 1px #e5e5e5;}
.boxAllChat tr:last-child{border-bottom:0;}
.boxAllChat td{padding: 8px 5px 8px 5px; vertical-align: top;}
.boxAllChat td:first-child{width: 12%;}
.tabUserMessage b{
    color: #008ae2; 
    display: block;
    width: 210px;
    float: left;
    text-overflow: ellipsis; 
    white-space: nowrap; 
    word-break: break-all;
    overflow: hidden;
    height: 20px;
    font-size: 12px;
}
span.timeChat{float:right; font-size: 11px; color: #888; width: 100px; text-align: right;}
.message{line-height: 15px; font-size: 12px;}
.message img{width: 100px; height: 100px; display: block;}
.dateChat{display: block; border-bottom: solid 1px #999; font-size: 11px;padding: 5px 5px 2px 5px;}
.boxReplyMessage{
    display: block;
    padding: 10px;
    background-color: #e5e5e5;
    border-top:solid 1px #ccc;
}
.boxReplyMessage textarea{
    width: 345px;
    height: 60px;
    margin: 0;
}
.textReply{float: right; font-size: 11px; color: #888;}
.selectMailType{display: block; border: 0;}
.MailType1, .MailType2{
    background-color: #555; color: #eee; font-size: 10px; 
    float: left; padding: 5px; width: 79.5px; display: block;
    cursor: pointer;
}
.MailType1{border-right: 1px solid #222;}
.activeMessageType{background-color: #000;}


/*แลกเปลี่ยนเหรียญ*/
.tabHead{
    display: block;
    background-color: #000;
    padding: 5px;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
}
.boxRightside{
    display: block;
    width: 270px;
    float: left;
}
.boxCoinExchange, .bgResetSgold , .comboBox{display: block; border-radius: 5px; border:solid 1px #ccc; padding: 5px; margin: 10px;}
.boxCoinExchange table, .boxSgoldText table {width: 100%;}
.boxCoinExchange b{font-size: 28px; color: #333;}
.boxCoinExchange td:first-child, .bgResetSgold td:first-child{width: 35%;  text-align: right;}
.boxCoinExchange td, .comboBox span{vertical-align: middle; font-size: 16px; text-align: center; color: #888; font-weight: bold;}
.boxCoinExchange img, .bgResetSgold img{width: 55px; }
.boxSgoldText td{color: #555; line-height: 15px;}
.boxSgoldText input{width: 75px; border-radius: 0;}
.buttonExchange{display: block; margin: 10px;}
.buttonExchange button, .boxExchange button{width: 250px; height: 50px; font-size: 25px; text-shadow: none; }
.bgResetSgold{
    background-color: #00a4e1; color: #fff; font-size: 13px;
    border:solid 2px #fff;
    margin: 3px 3px 2px 3px;
    width: 265px;
    cursor: pointer;
}
.bgResetSgold b{font-size: 20px;}
.comboBox , .boxExchange{text-align: center;}
.comboBox b{font-size: 25px;}
.boxExchange button{width: 150px;}
.headingBox{
    padding: 5px;
    border-bottom: solid 1px #ddd;
    font-weight: bold;
    color: #000;
}
.headingBox ul, li{padding: 0; margin: 0;}
.boxSendMessage{
    display: block;
}
.imageAttrach{
    margin: 5px 0px 5px 0px;
    text-align: center;
}
.imageAttrach img{
    width: 180px;
    height: auto;
    margin: 0px 5px 5px 5px;
    border: solid 3px #fff;
    box-shadow: 1px 1px 1px #ccc;
}

.boxAllCoins, .boxExchangeCoins, .box1, .box2{display: block;}
.boxAllCoins div{display: block; width: 170px; height: 55px; padding: 5px; border: solid 1px #ccc; background-color: #fff; float: left;  margin: 0px 3px 5px 3px;}
.boxAllCoins table{width: 100%; height: 55px;}
.boxAllCoins td{vertical-align: middle; text-align: center; font-size: 16px; font-weight: bold; color: #555;}
/*.boxAllCoins td:last-child{text-align: left;}*/
.boxAllCoins b{font-size: 22px; color:#000;}
.boxAllCoins img{width: 50px;}
.box1, .box2{width: 274px; float: left; margin: 3px;}
.boxCombo{
    display: block; width: 263px; 
    padding: 3px 5px 3px 3px; 
    background-color: #fff; border:solid 1px #ccc;
    margin-bottom: 3px;
}
.boxCombo table, .box2 table, .tableExchanged table{width: 100%;}
.boxCombo td{text-align: center; vertical-align: middle;}
.boxCombo b{font-size: 22px;}
.boxCombo td:last-child{text-align: right;}
.boxCombo button{font-size: 13px; padding: 12px 5px 12px 5px;}
.box2{border: solid 1px #ccc; height: 130px; margin-left: 0; width: 270px; padding: 5px; background-color: #fff;}
.box2 td{height: 130px; vertical-align: middle; text-align: center; line-height: 23px;}
.box2 b{font-size: 28px;}
.tableExchanged {
    margin: 3px 8px 3px 3px;
    background-color: #fff;
}
.tableExchanged select{width: 100px; margin: 0; font-size: 12px;}
.tableExchanged td{vertical-align: middle; color: #000;}
.tableExchanged th, .tableExchanged td{
    padding: 5px; border: solid 1px #ccc;
    text-align: center;
}
.tableExchanged th{background-color: #333; color: #fff;}