
/*Pao Ying Choob*/
.wrapper-miniGames{
    display: block;
    background-image: url('/images/mini-game/paoyingchoob/bg-g1.jpg');
    /*    background-repeat: repeat;*/
}
.bodyGames table, .selectCoin table, .selectWeapon table,
.weaponName table, .table-ResultMiniGames table,.selectWeapon-HightLow table,
.selectCard-Color table
{
    width: 100%;
}
.bodyGames td{
    vertical-align: middle;
    padding: 20px;
    padding-bottom: 30px;
    text-align: center;
}
td.vsGames{width: 20%; padding-top: 80px;}
span.player{
    display: block; 
    padding-bottom: 20px;
}
.selectCoin{
    display: block;
    background-image: url('/images/mini-game/paoyingchoob/bg_select_coin.png');
    height: 223px;
}
.selectCoin td:first-child, .selectCoin td:last-child,
.selectWeapon td:first-child, .selectWeapon td:last-child,
.weaponName td:first-child, .weaponName td:last-child{
    width: 40%;
}
.selectCoin td{
    height: 223px;
    background-repeat: no-repeat;
    cursor: pointer;
    padding-top: 20px;
}
td.selectCoin-100{
    background-position: right;
    background-image: url('/images/mini-game/paoyingchoob/coins_100_defualt.png');
}
td.selectCoin-100:hover, td.activeCoin-100{
    background-image: url('/images/mini-game/paoyingchoob/coins_100_active.png');
}
td.selectCoin-200{
    background-position: center;
    background-image: url('/images/mini-game/paoyingchoob/coins_200_defualt.png');
}
td.selectCoin-200:hover, td.activeCoin-200{
    background-image: url('/images/mini-game/paoyingchoob/coins_200_active.png');
}
td.selectCoin-500{
    background-position: left;
    background-image: url('/images/mini-game/paoyingchoob/coins_500_defualt.png');
}
td.selectCoin-500:hover, td.activeCoin-500{
    background-image: url('/images/mini-game/paoyingchoob/coins_500_active.png');
}
.selectWeapon{
    display: block;
    background-image: url('/images/mini-game/paoyingchoob/bg_select_items.png');
    height: 140px;
}
.selectWeapon td{
    background-repeat: no-repeat;
    height: 120px;
    cursor: pointer;
}
td.weaponScissors{
    background-position: right;
    background-image: url('/images/mini-game/paoyingchoob/slt_defualt_cut.png');
}
td.weaponScissors:hover, td.activeScissors{
    background-image: url('/images/mini-game/paoyingchoob/slt_active_cut.png');
}
td.weaponHammer{
    background-position: center;
    background-image: url('/images/mini-game/paoyingchoob/slt_defualt_hammer.png');
}
td.weaponHammer:hover, td.activeHammer{
    background-image: url('/images/mini-game/paoyingchoob/slt_active_hammer.png');
}
td.weaponPaper{
    background-position: left;
    background-image: url('/images/mini-game/paoyingchoob/slt_defualt_paper.png');
}
td.weaponPaper:hover, td.activePaper{
    background-image: url('/images/mini-game/paoyingchoob/slt_active_paper.png');
}
.weaponName{
    display: block;
    position: absolute;
    width: 565px;
    margin-top: -42px;
}
.weaponName td{
    text-align: center;
    font-weight: bold;
    color: #fff;
}
.weaponName td:first-child{text-align: right; padding-right: 35px;}
.weaponName td:last-child{text-align: left; padding-left: 35px;}
.table-ResultMiniGames{
    display: block;
    padding: 5px;
}
.table-ResultMiniGames td, .table-ResultMiniGames th{
    border: solid 1px #ddd;
    font-size: 12px;
}
.table-ResultMiniGames td:last-child{
    font-size: 11px;
}
.table-ResultMiniGames th{background-color: #e2e2e2; color: #000; padding: 3px;}
.table-ResultMiniGames th:first-child{width: 20%;}
.table-ResultMiniGames td{
    text-align: center; padding: 3px;
}
.table-ResultMiniGames td:first-child{
    overflow: hidden;
    white-space: nowrap;
    text-align: left;
    text-overflow: ellipsis;
}
.table-ResultMiniGames img{
    width: 20px; 
}
.table-ResultMiniGames td:first-child img{
    width: 25px; height: 25px; float: left; margin-right: 5px;
}
.table-ResultMiniGames a{color: #000;}
.titleGames{padding: 5px; margin: 10px 0px 0px 0px; font-weight: bold; color:#000;}
.tabs-tableResult{
    display: block;
}
.tabs-tableResult ul{margin: 0; padding: 0;}
.tabs-tableResult li{
    display: block;
    float: left;
    width: 268px;
    padding: 5px;
    text-align: center;
    font-weight: bold;
    color:#000;
    border: solid 1px #d5d5d5;
    border-radius: 5px 5px 0px 0px;
    border-bottom: 0;
    cursor: pointer;
}
li.active{
    border-radius: 5px 5px 0px 0px;
    background-color: #ddd;
    color: #008ee2;
    border-bottom: solid 1px #fff;
}
tr.bgGray{background-color: #eee;}


/*Hight Low*/
.selectWeapon-HightLow{
    background-image: url('/images/mini-game/hightlow/bg_option_select.png');
}
.selectWeapon-HightLow td{
    height: 180px;
    background-repeat: no-repeat;
    cursor: pointer;
}
td.weaponLow{
    background-position: right;
    background-image: url('/images/mini-game/hightlow/lo-01.png');
}
td.weaponLow:hover, td.activeLow{
    background-position: right;
    background-image: url('/images/mini-game/hightlow/lo-02.png');
}
td.weaponEleven{
    width: 21%;
    background-position: center;
    background-image: url('/images/mini-game//hightlow/11-01.png');
}
td.weaponEleven:hover, td.activeEleven{
    background-position: center;
    background-image: url('/images/mini-game/hightlow/11-02.png');
}
td.weaponHight{
    background-position: left;
    background-image: url('/images/mini-game/hightlow/hi-01.png');
}
td.weaponHight:hover, td.activeHight{
    background-position: left;
    background-image: url('/images/mini-game/hightlow/hi-02.png');
}
.PlayGames, .PlayGames-1{
    display: block; 
    background-image: url('/images/mini-game/card/bg_playcard_select.png');
    height: 86px;
    padding-top: 30px;
}
.PlayGames-1{background-image: none;}
.Play{
    display: block; 
    width: 156px; 
    height: 65px;
    margin: 0 auto;
    background-image: url('/images/mini-game/card/btn_play_card1.png');
    background-repeat: no-repeat;
}
.Play:hover{
    background-image: url('/images/mini-game/card/btn_play_card2.png');
    cursor: pointer;
}
.gameHightLow span{
    /*    display: block;
        text-align: left;
        padding-left: 40px;
        padding-bottom: 5px;*/
    font-size: 20px;
    font-weight: bold;
}
.gameHightLow td{
    padding-top: 20px; padding-bottom: 30px;
}
.totalPoint{
    display: block;
    position: absolute;
    margin: 190px 200px 0px 230px;
}
.paoyingchoob{margin-top: 265px;}
.totalPoint span, .resultAlert span{
    /*    border: solid 1px; padding: 5px; border-radius: 5px;
        color:  #000;*/
    text-align: center;
    padding: 5px 10px 5px 10px !important;
}
.alertResult{font-size: 22px;margin-left: -35px;}
.totalPoint b{font-size: 32px; text-shadow: 2px 2px  #fff;}
.resultAlert span{
    font-size: 20px;
    font-weight: bold;
}
.gameHightLow td:first-child{
    padding-left: 70px;
}
.resultAlert{font-size: 18px; margin-top: 15px; text-align: center;}
.correct{color: green;}
.wrong{color: red;}
.tabTypeGames{padding: 8px;}
.selectCard-Color{
    display: block;
    padding: 50px;
    background-image: url('/images/mini-game/card/bg_colors_select.png');
}
.selectCard-Color td{
    text-align: center;
}
.selectCard-Color img{
    width: 80px;
    cursor: pointer;
}
.cards img{
    width: 75px;
    margin: 2px;
}
.poker{margin-top: 230px}
span.scoreCard{font-size: 20px; padding: 10px 10px 0px 10px; display: block; font-weight: bold; color: #000;}
.point{
    display: block;
    position: absolute;
    width: 52px;
    height: 40px;
    line-height: 48px;
    margin-left: 25px;
    margin-bottom: 50px;
    margin-top: 95px;
    text-align: center;
    color: #fff;
    background-image: url('/images/mini-game/hightlow/bg_noti.png');
    background-repeat: no-repeat;
    font-size: 20px;
    text-shadow: 1px 2px #333;
}

/*หีบสมบัติ*/
.TreasureChest{
    border: solid 1px transparent;
}
.TreasureChest td{
    background-repeat: no-repeat;
    height: 185px;
    cursor: pointer;
    border: solid 1px transparent;
}
td.chestNormalLevel{
    background-position: right;
    background-image: url('/images/mini-game/chest/chest_class_b_defualt.png');
}
td.chestNormalLevel:hover, td.activeNormalLevel{
    background-image: url('/images/mini-game/chest/chest_class_b_active.png');
}
td.chestMaximumLevel{
    width: 40%;
    background-position: center;
    background-image: url('/images/mini-game/chest/chest_class_s_defualt.png');
}
td.chestMaximumLevel:hover, td.activeMaximumLevel{
    background-image: url('/images/mini-game/chest/chest_class_s_active.png');
}
td.chestHightLevel{
    background-position: left;
    background-image: url('/images/mini-game/chest/chest_class_a_defualt.png');
}
td.chestHightLevel:hover, td.activeHightLevel{
    background-image: url('/images/mini-game/chest/chest_class_a_active.png');
}
.NoteButton{display: block; margin: 0 auto; width: 457px;}
.coinChest{
    display: block; text-align: center;
    margin-top: 52px;
    color: #fff; font-weight: bold;
    position: absolute;
    width: 120px;
    font-size: 15px;
}
.normal{width: 160px;}
.maximum{margin-top: 85px !important; width: 185px;}
.hight{width: 80px;}
.alertGift, .alertWin,.alertLose, .alertDraw, .alertCorrect, .alertWrong, .alertDraw1{
    width: 500px;
    height: 400px;
    background-repeat: no-repeat;
    text-align: center;
}
.resultPlay{font-size: 20px;}
.alertGift{
    background-image: url('/images/mini-game/chest/bg_modal.png');
}
.alertWin{
    background-image: url('/images/mini-game/allgames/modal_bg_win.png');
}
.alertLose{
    background-image: url('/images/mini-game/allgames/modal_bg_lose.png');
}
.alertDraw{
    background-image: url('/images/mini-game/allgames/modal_bg_draw.png');
}
.alertDraw1{
    background-image: url('/images/mini-game/allgames/modal_bg_draw1.png');
}
.alertCorrect{
    background-image: url('/images/mini-game/slot/modal_bg_win_slot.png');
}
.alertWrong{
    background-image: url('/images/mini-game/slot/modal_bg_win_lose.png');
}
.titleModal{
    display: block;
    padding: 8px 20px 5px 20px;
    text-align: center;
    width: 458px;
    height: 45px;
}

/*all games*/
.all-games{
    margin-top: 20px;
}
.all-games table{
    width: 100%;
}
.all-games td{
    width: 50%;
    border-right: dotted 1px #aaa;
    border-bottom: dotted 1px #aaa;
    padding: 5px;
    vertical-align: top;
}
.all-games td:last-child{border-right:none; }
.all-games img{float: left;  width: 70px; height: 70px;}
.infoGames{
    display: block;
    float: left;
    width: 165px;
    padding: 10px;
}
.detailGames{font-size: 11px; color:#888;}
.infoGames b{font-size: 18px;}
.play-games{
    display: block;
    width: 67px;
    height: 31px;
    background-image: url('/images/mini-game/allgames/play_btn.png');
}
.play-games:hover{
    cursor: pointer;
    background-image: url('/images/mini-game/allgames/play_btn_hover.png');
}

/*slot*/
.bodygame-slot, .slot{
    display: block;
}
.bodygame-slot {margin: 20px 0px 20px 0px;}
.slot{
    width: 445px;
    height: 200px;
    margin: 0 auto;
    background-image: url('/images/mini-game/slot/bg_slot.png');
    background-repeat: no-repeat;
    margin-bottom: 50px;
}
.slot table, .selectSlot table{width: 100%; border-collapse: collapse;}
.slot td:first-child{text-align: right;}
.slot td:last-child{text-align: left;}
td.slot2{width: 30%;}
.slot td{text-align: center;  padding: 5px 0px 0px 0px;}
.selectSlot{
    display: block;
    background-image: url('/images/mini-game/slot/bg_slot_select.png');
}
.selectSlot td{
    /*    width: 32%;*/
    height: 150px;
    background-repeat: no-repeat;
    cursor: pointer;
    background-position: center;
}
.slot-1{
    background-image: url('/images/mini-game/slot/select_slot_001.png');
}
.slot-1:hover, .active-slot-1{
    background-image: url('/images/mini-game/slot/select_slot_001_active.png');
}
.slot-2{
    background-image: url('/images/mini-game/slot/select_slot_002.png');
}
.slot-2:hover, .active-slot-2{
    background-image: url('/images/mini-game/slot/select_slot_002_active.png');
}
.slot-3{
    background-image: url('/images/mini-game/slot/select_slot_003.png');
}
.slot-3:hover, .active-slot-3{
    background-image: url('/images/mini-game/slot/select_slot_003_active.png');
}
.slot-4{
    background-image: url('/images/mini-game/slot/select_slot_004.png');
}
.slot-4:hover, .active-slot-4{
    background-image: url('/images/mini-game/slot/select_slot_004_active.png');
}
.slot-5{
    background-image: url('/images/mini-game/slot/select_slot_005.png');
}
.slot-5:hover, .active-slot-5{
    background-image: url('/images/mini-game/slot/select_slot_005_active.png');
}
.slot-6{
    background-image: url('/images/mini-game/slot/select_slot_006.png');
}
.slot-6:hover, .active-slot-6{
    background-image: url('/images/mini-game/slot/select_slot_006_active.png');
}
.Card-redwhite{
    border: solid 1px transparent;
}
.Card-redwhite td{
    text-align: center;
    padding: 20px;
}
.slotgameAlert{
    font-size: 20px;
    margin: 230px 0px 0px 140px;
}
.boxHowToPlay-Games{
    border: solid 1px #ccc; border-radius: 5px;
    padding: 8px;
    margin: 0px 5px 0px 5px;
}
.boxHowToPlay-Games ul, li{padding: 0; margin: 0;}
.boxHowToPlay-Games li{
    line-height: 16px; font-size: 12px;
}
.boxStatPlay-Games{
    display: block;
    -webkit-box-shadow: 0 8px 6px -6px #555;
    -moz-box-shadow: 0 8px 6px -6px #555;
    box-shadow: 0 8px 6px -6px #555;
    background-color: #eee;
    margin-top:5px;
    padding: 8px 5px 5px 5px;
}
.boxStatPlay-Games table{
    width: 100%;
}
.bgWhite{background-color: #fff;}
.boxStatPlay-Games img{width: 21px; height: 21px; margin-bottom: 5px;}
.boxStatPlay-Games td{border-right: solid 1px #bbb; border-left: solid 1px #fff; text-align: center; }
.boxStatPlay-Games td:hover{background-color: #e5e5e5;}
.boxStatPlay-Games td:last-child {border-right:none;}
.boxStatPlay-Games td:first-child{border-left: none;}
.gameCards img{
    width: 23px !important;
    height: 28px !important;
}
.slotGames img{
    width: 30px; height: 30px;
}
.goldText{color: goldenrod;}
.mores{display: block;}
input[type=checkbox] {
    position: absolute;
    top: -9999px;
    left: -9999px;
} 
label {
    display: block;
    font-size: 12px;
    color: #333;
    padding: 5px 0px 0px 0px;
    font-weight: bold;
    text-decoration: underline;
}
.to-be-changed{display: none; font-size: 12px; word-break: break-all;}
input[type=checkbox]:checked ~ .to-be-changed {
    display: block;
}
.alertCorrect h3, .alertWrong h3{line-height: 10px;}
.bodygameSlot{
    margin-top: 20px;
}
.slotSelected table{width: 100%;}
.slotSelected td{padding-top: 12px; padding-left: 5px;}
.slotSelected{
    background-image: url('/images/mini-game/slot/bg_slot.png');
    background-repeat: no-repeat;
    background-position: center;
    height: 200px;
}
.starIcon-1, .starIcon-2, .starIcon-3{
    display: block;
    position: absolute;
    margin-top: 165px;
}
.starIcon-1{ margin-left: 90px;}
.starIcon-2{margin-left: 225px;}
.starIcon-3{margin-left: 360px;}

.wrapperAll-Minigames{
    display: block; 
}
.wrapper-miniGames table{
    width: 100%;
}
.wrapperAll-Minigames td{
    text-align: center;
    width: 32%;
    height: 255px;
    background-repeat: no-repeat;
    background-position: center;
}
td.game-pao-ying-choob{
    background-image: url('/images/mini-game/allgames/game_01.png');
}
td.game-hi-lo{
    background-image: url('/images/mini-game/allgames/game_02.png');
}
td.game-pok-deng{
    background-image: url('/images/mini-game/allgames/game_03.png');
}
td.game-redwhite-card{
    background-image: url('/images/mini-game/allgames/game_04.png');
}
td.game-treasure{
    background-image: url('/images/mini-game/allgames/game_05.png');
}
td.game-slot{
    background-image: url('/images/mini-game/allgames/game_06.png');
}
.detailMiniGames{
    display: block;
    width: 170px;
    padding: 15px 15px 15px 10px;
    position: absolute;
    margin-top: 150px;
    line-height: 18px;
    word-wrap: break-word;
}
.detailMiniGames span{
    display: block;
    height: 38px;
    overflow: hidden;
}
.playGames{
    display: block;
    width: 170px;
    height: 28px;
    background-repeat: no-repeat;
    background-position: center bottom;
    background-image: url('/images/mini-game/allgames/btn_start_game.png');
    margin-top: 5px;
}
.playGames:hover{
    background-position: center top;
    cursor: pointer;
}
.pokdeng{
    border: solid 1px transparent;
}
.bgHead{background-color: #e9eaed;;}
td.redcard-selected, td.blackcard-selected{
    height: 42px;
    cursor: pointer;
    background-repeat: no-repeat;
}

td.blackcard-selected{
    background-position: top right;
    background-image: url('/images/mini-game/card/select_black_button.png');
}
td.blackcard-selected:hover{
    background-position: bottom right;
}
td.redcard-selected{
    background-position: top left;
    background-image: url('/images/mini-game/card/select_red_button.png');
}
td.redcard-selected:hover{
    background-position: bottom left;
}
.boxShowPoint{
    display: block;
    margin: 30px 25px 20px 25px;
    border-bottom: solid 1px #ccc;
}
.boxShowPoint img{width: 60px;}
.boxShowPoint table{width: 100%;}