

.section-new-feed-user{
    display: block;
    float: left;
    width: 569px;
    height: auto;
}
.wrapper-feed{
    margin: 5px;
    position: relative;
}
.tab-situations-feed{
    display: none;
    position: absolute;
    height:100%;
    width: 33px;
    float: left;
    background-image: url('/images/icon/live-tap.png');
    background-repeat: repeat-y;
    background-position: center;
}
.img-user-feed{
    background-color: #fff;
    line-height: 15px;
    text-align: center;
    box-shadow: 0px 0px 2px 1px #ccc;
    font-size: 11px;
}
.img-user-feed b{
    font-size: 12px;
    color: #000;
}
.img-user-feed img{
    /*    border: solid 1px #fff;
        box-shadow: 0px 0px 1px 1px #ccc;*/
    /*    border-radius: 50%;*/
    width: 40px;
    /*    height: 40px;*/
}
/*.box-new-feed{
    margin-bottom: 15px;
}*/
.box-feed:after{
    /*    content: "";
        position: absolute;
        top: 10px;
        left: -6px;
        border-style: solid;
        border-width: 8px 12px 8px 0;
        border-color: transparent #fff;
        display: block;
        width: 0;
        z-index: 1;*/
}
.feed-box{
    display: block;
    width: 40px;
    position: absolute;
    float: left;
}
.box-feed{
    display: block;
    position: relative;
    width: 500px;
    border: solid 1px #ccc; 
    float: right;
    padding: 5px;
    background-color: #fff;
    margin-bottom: 10px;
    /*    box-shadow: 0px 0px 1px 1px #d8d8d8;*/
}
.box-feed a{
    text-decoration: none !important;
}
.box-feed table, .box-feed-comment table, .box-show-comment table{
    width:100%;
    word-break: break-all;
}
.box-feed td{
    width: 500px;
    line-height: 16px;
    font-size: 13px;
}
.name-friends{
    font-weight: bold;
}
.name-friends:hover{
    cursor: pointer;
    text-decoration: underline;
}
td.time-to-post{
    width: 370px;
    text-align: center;
    color: #555;
    font-size: 11px;
    vertical-align: top;
    text-align: right;
    padding: 5px 6px 0px 0px;
}

.user-name-feed{
    width: 180px;
    overflow: hidden;
    color: #000;
    font-weight: bold;
    padding: 5px 0px 0px 5px;
}
span.more-info{
    color: #999;
    cursor: pointer;
    font-size: 11px;
}
span.more-info:hover{
    text-decoration: underline;
    color:  #0077b3;
}
.team-selected{
    /*    text-decoration: underline;
        font-weight: bold;
        color: #0077b3;*/
    color: #E10000 !important;
}
td.sec-team1, td.sec-team2{
    width: 30%;
    font-size: 13px !important;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
span.hdp-game b{
    font-size: 20px;
    color: #333;
}
td.sec-team1 span{
    padding-right: 10px;
}
td.sec-team2 span{
    padding-left:  10px;
}
td.sec-team1{
    text-align: right;
}
td.sec-team2{
    text-align: left;
}
td.sec-team1 b, td.sec-team2 b{
    font-size: 15px;
    color: #666;
}
td.hdp-r{
    width: 38%;
    font-size: 12px;
    vertical-align: middle;
}
td.teams1, td.teams2{
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    color: #666;
    width: 42%;
}
td.teams1{
    text-align: right;
}
td.vss img{
    width: 70px !important;
    height: 31px !important;
    cursor: pointer;
}
.box-icon-bet{
    width: 6% !important;
    /*    background-color: #e5e5e5;*/
    background-image: url('/images/bgre.png');
    z-index: 0;
    vertical-align: top;
}
.box-icon-bet img{
    width: 22px;
    height: 22px;
    text-align: left;
}
tr.teamplay{
    display: block;
    /*    width: 94.2%;
        margin-left: 30px;*/
    background-color: #fff;
}
tr.head-feed{
    background-color: #fff;
    display: block;
    padding: 5px 5px 10px 5px;
}
td.time-date-post{
    font-size: 12px;
    color: #333;
}
td.league-name-title{
    text-align: right;
}
td.team-playing td{
    line-height: 16px;
}
td.team-playing img{
    width: 58px;
    height: 58px;
    padding-bottom: 15px;
}
td.team-playing a{
    color: #333;
}
td.team-playing{
    text-align: center;
}
td.more{
    padding-top: 5px;
}
.tab-more-feed-comment{
    display: block;
    font-size: 11px;
    /*    border-bottom: solid 1px #ddd;*/
}
.box-feed-comment{
    display: block;
    background-color: #f5f5f5;
    /*    width: 94.2%;
        margin-left: 30px;*/
}
.box-feed-comment td{ 
    border-top: solid 1px #e5e5e5;
    border-bottom: solid 1px #e5e5e5;
    border-left: none;
    text-align: center;
    border-right: solid 1px #e5e5e5;
}
td.vs-like{
    width: 10%;
    color: #333;
}

td.user-like{
    width: 30%;
}
.box-feed-comment td, .box-show-comment td{
    padding: 3px;
    font-size: 12px;
    vertical-align: middle;
}

.box-feed-comment td:last-child{
    border-right: 0;
}
td.people-like{
    width: 10%;
    color: #1f1f1f;
}
td.people-like img{
    width: 15px;
    height: 15px;
    cursor: pointer;
}
.img-people-like img, .vote-game img{
    width: 20px;
    height: 20px;
    margin: 2px;
    border-radius: 5px;
    cursor: pointer;
}
.vote-game td{
    width: 30%;
}
.user-liked, .time-post-comment-user{
    display: block;
    float: left;
}
.user-liked img{
    width: 12px !important;
    height: 12px !important;
    cursor: pointer;    
}
td.user-comment{
    background-color: #fff;
}
td.user-comment img{
    width: 25px;
    height: 25px;
    padding: 3px 6px 0px 0px;
    float: left;
}
.user-comment input{
    float: right;
    height: 15px !important;
    width: 320px !important;
    margin: 0;
}
.user-comment b{
    color:  #111;
}
span.team-user-selected{
    color: #008ae2; font-size: 11px;
    /*    font-weight: bold;*/
}
.img-preview-upload {
    width: 200px;
    margin-top: 5px;
}
.img-preview-upload img{
    width: 200px;
}

.box-show-comment{
    display: block;
/*    border-top: solid 1px #f5f5f5;*/
    color: #555;
}
.box-show-comment td , .box-input-comment td{
    vertical-align: top;
    line-height: 15px;
}
.box-show-comment td:first-child{
    /*    background-color: #e5e5e5;*/
}
td.user-comment-img{
    width: 25px;
    height: 25px;
    display: block;
    float: left;
    /*    background-color: #e5e5e5;*/
}

.user-comment-img img{
    width: 25px;
    height: 25px;
    float: left;
    margin-right: 6px;
}
.time-post{
    display: block;
}
.time-post img{
    width: 12px;
    height: 12px;
}
.time-post ul{
    padding: 0;
    margin: 0;
}
.time-post li{
    font-size: 10px;
    color: #999;
    display: inline;
    margin-right: 8px;
}
.sub-user-comment{
    display: block;
    width: 515px;
    float: right;
    margin: 0px;
    border: 0;
}
.reply-ment{
    display: block;
    width: 465px;
    float: right;
    margin: 0px;background-color: #F5F5F5;
    border-bottom: solid 1px #fff;
}
.reply-ment input{
    height: 15px !important;
    width: 415px !important;
    margin: 0px;
    float: left;
}
.user-comment-replyment input{
    height: 15px !important;
    width: 413px !important;
    margin: 0;
    float: left;
    border-radius: 0px !important;
}
.photo-upload-reply img{
    /*width: 420px;*/
    /*    width: 140px;*/
    /*    height: 100px;*/
    /*    padding: 3px;
        margin-top: 3px;*/
}
.photo-upload-comment img, .photo-upload-reply img{
    cursor: pointer;
}
.photo-upload-comment{
    height: auto;
    width: 100%;
}
.photo-upload-comment img{
    /*    width: 250px !important;
        height: 150px !important;*/
    width: 50% !important;
    height: auto !important;
}
.sub-user-comment td, .reply-ment td{
    vertical-align: top;
    line-height: 15px;
}
.box-input-comment input{
    height: 15px !important;
    width: 440px !important;
    margin: 0;
}
td.user-comment-img-reply{
    display: block;
    width: 50px; 
}
.box-input-comment,.box-reply-input{
    margin-top: 5px;
}
.reply-box {
    border: 0;
}
.comment-box-like input{
    height: 15px !important;
    width: 435px !important;
    margin: 0;
    float: right;
}
td.comment{
    /*    background-color: #f5f5f5;*/
}
.comment input{
    height: 16px !important;
    width: 450px !important;
    margin: 0;
    float: right;
    border: solid 1px #ddd;
    border-radius: 0px;
}
.upimages-box, .reply-upimg{
    display: block;
    width: 20px;
    padding: 5px;
    cursor: pointer;
    margin-left: 465px;
    position: absolute;
}
.reply-upimg{
    margin-left: 398px;
}
.upimages-box img, .reply-upimg img{
    width: 18px;
    height: 14px;
}
.wall-upload{
    margin-left: 410px;
}
.box-post-to-wall{
    display: block;
    margin-bottom: 10px;
}
.feed-head-comment-wall{
    display: block;
    position: relative;
    width: 500px;
    border: solid 1px;
    border-color: #e5e6e9 #dfe0e4 #d0d1d5;
    float: right;
    padding: 5px;
    background-color: #fff;
}
.img-post-wall img{
    width: 40px;
    height: 40px;
}
.comment-to-wall input, button{
    margin: 0;   
}
.comment-to-wall{
    width: 500px;
}
.img-profile{
    display: block;
    float: left;
    width: 25px;
    padding-right: 5px;
}
.img-profile img{
    width: 25px;
    height: 25px;
}
.tab-utility{
    display: block;
    float: left;
}
.tab-utility span{
    cursor: pointer;
}
.tab-utility span{padding: 2px;}
.tab-utility span:hover{
    background-color: #f5f5f5;
    padding: 2px;
    color: #000;
}
.tab-utility img{
    width: 15px;
    cursor: pointer;
}
.tab-utility b{
    margin-right: 10px;
}
.tab-utility2{
    display: block;
    padding: 5px 11px 5px 5px;
}
.buttons-post{
    display: block;
    background-color: #008AE2;
    border: solid 1px #0077b3;
    color: #FFF;
    padding: 4px;
    border-radius: 3px;
    width: 50px;
    text-align: center;
    float: right;
    cursor: pointer;
}
.buttons-post:hover{
    background-color: #216cb9
}
.buttons-post ,
.buttons-post:hover{
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}
.tabPost table{
    width: 100%;
}
.tabPost td{font-size: 12px;}
.tabPost td:first-child{
    width: 18%; text-align: right;
    font-weight: bold;
    padding-right: 5px;
}
.tabPost input{
    width: 385px;
    height: 20px;
    border-radius: 0px;
    border:solid 1px #ccc;
    margin: 0;
    margin-top: 5px;
}
.tabPost input{
    height: 18px;
}
textarea.tabPost-expand{
    height: 65px !important;
}
/*.comment-to-wall input{
    width: 395px;
    height: 18px;
    border-radius: 0px;
    border:solid 1px #eee;
}*/
.post-to-wall button{
    width: 55px;
    font-weight: bold;
}
.image-post-to-wall{
    display: block;
    padding: 5px 0px 10px 5px;
    float: left;
    position: relative;
    margin-right: 10px;
}

.image-post-to-wall img{
    border: dashed 1px #ccc;
    padding: 5px;
    width: 60px;
    height: 60px;
}
td.img-post ,td.comment-post{
    padding: 3px;
    width: 80% !important;
}
.userContent{
    display: block;
    width: 490px;
    max-height: 46px;
    overflow: hidden;
}
.seemore-userContent{
    display: block;
    width: 490px;
    height: auto !important;
}
span.see-more-content{
    display: block;
    color: #008ae2;
    cursor: pointer;
    padding: 5px 0px 0px 0px;
}
span.see-more-content a:hover{
    text-decoration: underline !important;
}
td.img-post img{
    width: 495px; 
    height: 280px;
}
.more-images{
    margin-bottom: 5px;
}
.img-large{
    display: block;
    height: 265px;
    width: 300px;
    position: relative;
    overflow: hidden;
    float: left;
}
.images-more{
    display: block;
    width: 190px;
    height: 260px;
    float: left;
    margin-left: 5px;
}
span.img-1,span.img-2{
    display: block;
    height: 130px;
    width: 190px;
    margin-bottom: 5px;
    position: relative;
    overflow: hidden;
}


span.img-1 img,span.img-2 img{
    display: block;
    position: absolute;
    max-width: 500px!important;
    height:  130px!important;
}
.more-images-upload {
    display: block;
    width: 500px;
}
.more-images-upload img{
    height: 160px;
    max-width: 500px;
    display: block;
    position: absolute;
}
.more-images-upload span{
    display: block;
    width: 160px;
    height: 130px;
    float: left;
    position: relative;
    overflow: hidden;
    margin: 0px 5px 5px 0px;
}

.two-images, .one-images,.one-images-comment{
    display: block;
    width: 500px;
}
.one-images span{
    display: block;
    text-align: center;
    background-color: #f5f5f5;
}
.one-images span{
    height: auto;
    width: 100%;
}
.one-images img{
    max-height: 400px;
}

.one-images-comment span{
    display: block;
    text-align: center;
    background-color: #f5f5f5;
}
.one-images-comment span{
    height: auto;
    width: 80%;
}
.one-images-comment img{
    max-height: 400px;
}

.two-images span{
    width: 245px;
    height: 163px;
    overflow: hidden;
    float: left;
    margin: 0px 5px 5px 0px;
    text-align: center;
}
.three-images span,.two-images span{
    display: block;
    overflow: hidden;
    text-align: center;
    position:relative;
}
.three-images span:first-child{
    width: 250px;
    height: 237px;
    float: left;
    margin-right: 5px;
}
.three-images span:nth-child(2), .three-images span:last-child{
    float: right;
    width: 245px;
    height: 116px;
    margin-bottom: 5px;
}
.three-images span:nth-child(2) img, .three-images span:last-child img{
    width: 100%;
}
/*.three-images span:first-child+ span{
    float: right;
    width: 245px;
    height: 116px;
    margin-bottom: 5px;
}*/
.three-images span:first-child img{
    max-width: 450px;
    width: 450px;
    display: block;
    left: 0px;
    position: absolute;
}
.two-images img{
/*    height: 163px;*/
    width: 100%;
    display: block;
    position: absolute;
}
.box-like-post{
    display: block;
    border: solid 1px #ccc;
    border-radius: 3px;
    box-shadow: 1px 0px 1px 0px #eee;
    width: 38px;
    padding: 5px 2px 5px 2px;
    font-size: 10px;
    cursor: pointer;
    float: left;
    text-align: center;
}
.box-like-post:hover{
    background-color: #eee;
}
.box-like-post img{
    width: 12px;
    height: 12px;
}

td.section-like-post-wall, .section-like-post-wall{
    font-size: 12px;
    padding: 5px;
    color: #0077b3;
}
td.section-like-post-wall img, .section-like-post-wall img{
    width: 12px;
    height: 12px;
    cursor: pointer;
}
.wrapper-showimg-wall{
    display: block;
    /*    height: 430px;*/
    width: 500px;
    overflow: hidden;
}
.img-post-show-wall img{
    width: 540px;
    height: 300px;
    float: left;
    margin: 5px;
    border:solid 1px #ddd;
}
.wrapper-feed-wall{
    display:block;
    /*    margin-bottom: 15px;*/
}

.feed-situations{
    display: block;
    width: 40px;
    position: absolute;
    float: left;
    margin-top: -5px;
    margin-left: -55px;
}
.commented-box{
    word-wrap: break-word;
}
.removeImg{
    position: absolute;
    color: #FFF;
/*    margin-left: 200px;*/
    right: 0;
    background-color: #333;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    text-align: center;
    margin-top: -5px;
    line-height: 18px;
    cursor: pointer;
    font-weight: bold;
}


/* poll */
.box-option-poll, .box-option, .option{
    display: block;
}
.box-option{float:left; width: 240px; margin: 5px;}
.option, .close-poll{
    box-sizing: border-box;
    padding: 3px 5px 3px 5px;
}
.option{
    float: left;
    background-color: #e5e5e5;
    width: 220px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    font-size: 12px;
}
.close-poll{float: right; text-align: center; }
.close-poll:hover{font-weight:bold; cursor: pointer; color: #000;}
.titleType select{padding: 0; margin: 0;}
.titleType b{ float: left; width: 80px; padding-right: 5px;}
.titleType{display: block; text-align: right; float: left; font-weight: bold; font-size: 12px;  }
table.option-poll-tab{
    width: 100%;
}
table.option-poll-tab td{vertical-align: middle;}
table.option-poll-tab td:last-child, table.option-poll-tab td:first-child{width: 10%; text-align: center; font-weight: bold;}
table.option-poll-tab td:first-child {width: 10%;}
table.option-poll-tab td:first-child input[type="checkbox"]{
    position: relative !important;
    top: auto !important;
    left: auto !important;
}
table.option-poll-tab td:last-child{font-size: 16px;}
.graph-outer-poll {
    background-color:#2e2e2f;
    height: 23px;
    width: 100%;
}

.inner-left-cap-poll {
    background-color: #2e2e2f;
    height: 23px;
    float: left;
}

.inner-left-bar-poll {
    background-color: #00befc;
    height: 23px;
    float: left;
    color: #fff;
    line-height: 23px;
    text-indent: 10px;
}
.img-user-vote{
    margin-top: 5px;
}
.img-user-vote img{
    width: 25px; height: 25px;
    float:left; margin-right: 5px;
}
.more-user-vote{padding-top: 5px; font-size: 12px;}
.wrapper-box-votepoll{margin-top: 10px;}
.bt-vote{display: block; border: dashed 1px #c5c5c5; padding: 5px; text-align: center;}
.bt-vote:hover{background-color: #eee; cursor: pointer; font-weight: bold; color: #008ae2;}
.title-poll{
    font-size: 18px; color: #008ae2; font-weight: bold;
    padding: 10px 0px 0px 10px;
}
.option-poll-tab input[type="text"]{
    float:left; margin-right: 5px; width: 60%;
}