.tab-menu-ranking{
    display: block;
}
.tab-menu-ranking table{
    width: 100%;
}
.tab-menu-ranking td{
    width: 200px;
    padding: 5px;
    color: #7F7F7F;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
}
.active-menu-ranking {
    background-color: #f5f5f5;
    color: #000 !important;
    /*    border-radius: 5px 5px 0px 0px;*/
}
.icon-ranking{
    width: 50px;
    height: 50px;
    left: 0;
    position: absolute;
}

/*.icon-ranking > span.number, .icon-ranking > span.lower-rank{
    position: absolute;
    padding: 18px 10px 10px 20px;
    font-weight: bold;
    font-style:  italic;
    color: #333;
    text-align: center;
    font-size: 16px;
}
.icon-ranking > span.lower-rank{
    padding: 18px 10px 10px 15px;
}*/
td.statFive{
    padding-top: 15px;
    float: right;
}
td.info-follow td{
    display: block;
    width: 340px;
    overflow: hidden;
    font-size: 12px;
    color: #999;
    vertical-align: middle;
    padding: 6px 0px 0px 0px;
}
td.info-ranking{
    display: block;
    overflow: hidden;
    font-size: 11px;
    color: #7F7F7F;
    vertical-align: middle;
    line-height: 20px;
    padding-top: 5px;
    width: 250px;
}
td.tab-trophy{
    padding: 15px 5px 5px 45px;
}
td.tab-trophy img{
    height: 25px;
    width: 25px;
    margin-right: 5px;
}
td.box-following{
    width: 85px;
    float:right;
    padding-top: 12px;
}
span.tab-follow{
    display: block;
    margin-right: 5px;
    color: #888;
    font-size: 12px;
}
.icon-stat {
    width: 95px;
    text-align: left;
    margin-left: 10px;
    margin-top: -2px;
}
.icon-stat img{
    width: 15px;
    height: 15px;
    margin-right:2px;
}
.font-score{
    font-size: 15px;
    color: #333;
    font-weight: bold;
}
.name-rank{
    font-size: 13px;
    margin-right: 10px;
    color: #949494;
    font-weight: bold;
    width: 240px;
    display: block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.tab-follow button{
    height: 20px !important;
    color: #333 !important;
}
.menutop-type-ranking{
    display: block;
    background-color: #fff;
}
.menutop-type-ranking img{
    width: 30px;
    height: 30px;
}
.menutop-type-ranking table{
    width: 100%;
}
.menutop-type-ranking td{
    padding: 8px;
    border-right: solid 1px #ddd;
    width: 25%;
    text-transform: uppercase;
    line-height: 15px;
    font-size: 12px;
    color: #333;
    cursor: pointer;
    border-bottom: solid 1px #ccc;
    font-weight: bold;
}
.menutop-type-ranking td:last-child{border-right: 0;}
.menutop-type-ranking h5{
    padding: 0;
    margin: 0;
    font-size: 18px;
    color: #000;
}
.menutop-type-ranking img{
    float: left;
    display: block;
    padding-left: 20px;
}
td.active-type-ranking, td.active-type-ranking h5{
    background-color:  #008ee2;
    color: #fff;
}
/*.active-type-ranking h4, .active-type-ranking h5{
    color: #fff !important;
}*/
.tab-type-rank{
    background-color: #dbdbdb;
    margin-top: 5px;
}
.tab-type-rank table{
    width: 100%;
    font-size: 12px;
    color: #000;
    text-align: center;font-weight: bold;
    border-left: solid 1px #ccc;
    border-right: solid 1px #ccc;
    border-top: solid 1px #ccc;
}
.tab-type-rank td{
    width: 20%; 
    padding: 6px;
    cursor: pointer; 
}
.tab-type-rank td.active-rank, .tab-type-rank td:hover {
    background-color: #fff;
    border-bottom: solid 1px #fff;
    /*    background-color: #888;
        color: #fff;
        cursor: pointer;
        text-shadow: 1px 1px #777;*/
}
.wrapper-rank{
    display: block; border-right: solid 1px #ccc; border-left:solid 1px #ccc;
}
.own-rank{
    /*    box-shadow: inset 0px 11px 8px -10px #aaa,
            inset 0px -11px 8px -10px #aaa; */
    /*    background-color: #feba59;*/
    background-color: #f5f5f5;
    box-shadow: 0 0 5px 2px #ccc;
    background-color: #f5f5f5;
}
.own-rank div.icon-ranking{
    padding: 15px 0px 0px 0px;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    width: 48px;
}