

.img-b1-main-shareFB ,
.b1-main-shareFB a ,
.detail-b1-main-shareFB ,
.detail-b1-main-shareFB strong ,
.detail-b1-main-shareFB span ,
.detail-b1-main-shareFB p ,
.detail-b1-main-shareFB label ,
.img-b1-main-shareFB-home img{
    display: block;
    float: left;


}
.boxVS{
    display: inline-table;
    vertical-align: middle;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    position: absolute;
    background-color: rgba(225,225,225,0.95);
    border-radius: 50%;
    color: #000;
    font-weight: bold;
    margin: 55px 40px 0px 55px;
    border: solid 1px #fff;
    box-shadow: 0 2px 10px #000;
    left: 0;
    top: 0;

}
.b1-main-shareFB{
    width: 471px;
    height: 154px;
    /*border: solid 1px #eee;*/
    /*margin: 0 auto;*/
}

.img-b1-main-shareFB{
    display: block;
    width: 154px;
    height: 154px;
    margin-right: 16px;
    overflow: hidden;
    position: relative;
}
.img-b1-main-shareFB-away ,
.img-b1-main-shareFB-home{
    float: left;
    width: 77px; 
    height: 154px;
    overflow: hidden;
    position: relative;
}
.img-b1-main-shareFB-away{background-color: #aaa}
.img-b1-main-shareFB-home{background-color: #ddd}
.img-b1-main-shareFB img{}

.img-b1-main-shareFB-away img ,
.img-b1-main-shareFB-home img{
    width: 154px;
    height: 154px; 
    left: 0; 
    position: absolute;
    margin: -0px 0 0 -40px;
}

.detail-b1-main-shareFB{
    width: 300px;
    padding-top: 10px;
}

.b1-main-shareFB a a{text-decoration: none; border: solid 1px;}
.detail-b1-main-shareFB span{
    color: #137ef7;
    font-size: 20px;
    width: 100%;
}
.detail-b1-main-shareFB strong{padding-right: 5px;}
.detail-b1-main-shareFB strong ,
.detail-b1-main-shareFB p{
    width: auto;
    color: #000;
    font-size: 13px;
    line-height: 15px;
}
.detail-b1-main-shareFB p{padding: 10px 0}
.detail-b1-main-shareFB label{
    width: 100%;
    font-size: 14px;
    color: #aaa
}




/*/Page Streming////////////////*/
.container-main-page-stm{
    display: block;
    width: 471px;
    height: 182px;
    /*border: solid 1px #eee;*/
    /*margin: 0 auto;*/
    background-image: url("/images/img-test/backgroung-b1-big.jpg");
}
.topic-main-page-stm{text-align: center; width: 100%; padding: 5px 0 3px 0;}
.topic-main-page-stm span{
    font-size: 12px;
    color: #fff;
    opacity: 0.7;
}
.main-page-stm-row02{position: relative;}
.col-01-page-stm{
    display: block;
    float: left;
    width: 198px;
    position: relative;
}
span.col-01-logo-01 img{
    max-width: 90px;
    max-height: 91px;
    vertical-align: middle
}
span.col-01-logo-01{
    margin: 0 auto;
    display: table;
    text-align: center;
    width: 90px;
    height: 91px;
    line-height: 91px;
    background-image: url("/images/img-test/pageteam-b1-02.png");
}
label.title-logo-01{
    width: 100%;
    left: 0;
    text-align: center;
    position: absolute;
    font-weight: bold;
    color: #fff
}
.col-01-logo-01-01{
    position: absolute;
    color: #fff;
    right: 0;
    top: 0;
    margin-top: 32px;
    font-size: 20px;
    font-weight: bold;
}
.col-01-logo-01-02{left: 0}
.col-02-page-stm{
    display: block;
    float: left;
    font-size: 20px;
    text-align: center;
    width: 52px;
    height: 52px;
    line-height: 52px;
    color: #333;
    margin: 10px;
    font-weight: 700;
    background-image: url("/images/img-test/pageteam-b1-01.png");
    margin-top: 15px;
}
.col-02-page-stm-02{
    font-size: 14px;
    position: absolute; 
    text-align: center;
    color: yellow;
    margin-top: 70px;
    width: 100%;
}
.col-01-page-stm-btn-home ,
.col-01-page-stm-btn-away{
    display: block;
    margin: 0 auto;
    margin-top: 25px;
    cursor: pointer;
    width: 142px;
    height: 32px;
    background-image: url("/images/img-test//team-home.png");
}
.col-01-page-stm-btn-away{
    background-image: url("/images/img-test/away-team.png");
}

.col-02-page-stm-text-01{
    margin: 0 auto;
    width: 80px;
    top: 120px;
    left: 0;
    right: 0;
    color: #fff;
    opacity: 0.7;
    position: absolute;
    font-size: 14px;
}
.title-home-b1{
    text-decoration: underline
}