
.new-match-bg{
    background: none !important;
    border: solid 1px transparent;
    position: relative;
    overflow: hidden;
    padding: 0px 0px 0px 10px;
    width: 560px;
}
.navigator{
    display: block;
    margin: 10px 0px 10px 0px;
    word-wrap:break-word;
    font-size: 12px;
}
.box-score{
    display:block;
    border: solid 1px #333;
    width: 50px;
    height: 50px;
    background-color: #333;
}
.section-match-vs{
    border: solid 1px;
    border-color: #e5e6e9 #dfe0e4 #d0d1d5;
}
.wrapper-match-stat{
    margin-left: 25px;
}
.section-match-vs table, .section-math-stat table, .section-lastest-match table, .section-table table{
    width: 100%;
}
td.tab-league{
    background-color: #fff;
    color: #333;
    text-align: center;
    height:25px;
    font-size: 12px;
    font-weight: bold;
}
.tab-league img{
    width: 22px;
    height: 15px;
}
.section-match-vs table{
    background-color: #fff;
    /*    background-image: url('/images/bg-match-vs.png');
        background-repeat: no-repeat;*/
    width: 100%;
}
.section-match-vs{
    padding: 5px 0px 5px 0px;
    background-color: #fff;
}
.tab-leagued{
    text-align: center;
    font-weight: bold;
    font-size: 12px;
    color: #000;
}
.box-mathes-stat td{
    height: 145px;
}
td.score-team1, td.score-team2{
    width: 100px;
}
.bg-time{
    background-image: url('/images/time-bg1.png');
    background-repeat: no-repeat;
    width: 100px;
    height: 85px;
    background-position: center;
}
span.time-match{
    display: block;
    padding: 33px 0px 0px 23px;
    position: absolute;
    font-weight: bold;
    font-size: 20px;
}
span.now-race{
    width: 50px;
    height: 50px;
    text-align: center;
}
.box-live-time{
    display: block;
    width: 100px;
    margin: 0 auto;
    z-index: 2;
    position: relative;
    margin-top: 18px;
}
.button-playbet{
    display: block;
    width: 60px;
    font-size: 12px;
    height: 18px;
    color: #fff;
    margin: 0 auto;
    border-radius: 5px;
    text-align: center;
    background-color: #cc0000;
    cursor: pointer;
}
.button-playbet a{
    color: #fff;
}
.bg-score{
    display: block;
    width: 263px;
    height: 60px;
    margin-top: 38px;
    position: absolute;
    text-align: center;
    /*    background-image: url(/images/bg-score1.png);*/
    /*    background-position: center;*/
}
span.score-left-team, span.score-right-team{
    display: block;
    color: #000;
    font-size: 50px;
    float: left;
    width: 80px;
    padding: 20px;
    font-weight: bold;
}
span.score-right-team{
    float: right;
}
span.live-time{
    display: block;
    position: absolute;
    padding: 40px 27px 27px 35px;
    font-size: 20px;
    color: #000;
    text-align: center;
}
span.live-score{
    display: block;
    border: solid 1px;
    width: 100px;
    height: 20px;
}
td.logoteam1, td.logoteam2 {
    width: 25%;
    vertical-align: middle;
    text-align: center;
}
td.logoteam1{
    border-right: solid 2px #ecede7;
}
td.logoteam2{
    border-left: solid 2px #ecede7;
}
td.logoteam1 img, td.logoteam2 img{
    width: 50px;
    height: 50px;
}
td.logoteam1 a, td.logoteam2 a{
    text-shadow: 1px 1px #eee;
}
td.time-stat{
    width: 50%;
}
td.time-stat img{
    width: 100px;
    height: 100px;
}
.team{
    display: block;
    color: #000;
}
.team a{
    color: #000;
}
td.name-team1, td.name-team2{
    font-size: 21px;
    color: #ffffff;
    vertical-align: middle;
    padding-left: 5px;
    font-weight: bold;
}
td.name-team1{
    text-align: right;
    padding-right: 5px;
}
span.nameteam{
    display: block;
    width: 150px;
    overflow: hidden;
}
span.box-score-match{
    display: block;
    background-color:rgba(71,71,71,0.5);
    padding: 17px;
    color: #fff;
    font-size: 30px;
    font-weight: bold;
    -moz-box-shadow: inset 0 0 5px #555;
    -webkit-box-shadow: inset 0 0 5px#555;
    box-shadow: inner 0 0 5px #555;
    border-radius: 3px;
    margin-top: 5px;
}
.sc-team1{
    float: right;
    margin-right: 2px;
}
.sc-team2{
    float: left;
    margin-left: 2px;
}

.section-math-stat, .section-math-stat-tournament{
    display: block;
    /*    border-bottom: solid 1px #dadada;*/
}
.section-math-stat{
    margin-top: 5px;
    margin-bottom: 10px;
}
.section-math-stat td{
    /*    padding-bottom: 5px;*/
    /*    border: solid 1px;*/
    color: #000;
}
td.progress-tab{
    width: 10%;
}
.buttons{
    display: block;
    background-color: #808080;
    padding: 3px;
    border-radius: 5px;
    height: 30px;
    width: 68px;
    text-align: center;
    line-height: 15px;
    color: #fff;
    float: left;
    margin-right: 5px;
    cursor: pointer;
}
.buttons:hover{
    background-color: #000;
}
.buttons>ln{
    font-size: 16px;
}
.box-stat-play, .box-table{
    background-color: #fff;
    border: solid 1px;
    border-color: #e5e6e9 #dfe0e4 #d0d1d5;
    margin-bottom: 10px;
}
.box-table{
    padding: 5px;
}
.section-poll{
    /*    margin-top: 10px;*/
}
.section-math-stat-tournament{
    display: block;
    width: 280px;
    margin: 0 auto;
}
.section-math-stat-tournament td:first-child{
    width: 5%;
}
.section-math-stat-tournament{
    padding: 5px 0px 5px 0px;
}
.section-math-stat-tournament td{
    padding-right:10px;
    text-align: left;
    font-size: 12px;
    font-weight: bold;
}
.section-math-stat-tournament td>img{
    margin-right: 2px;
}
.section-math-stat-tournament table{
    /*    margin: 0 auto;*/
    width: 100%;
}
.section-lastest-match img, .section-table img{
    width: 15px;
    height: 15px;
    padding: 2px;
}
.section-math-stat-tournament img{
    width: 15px;
    height: 15px;
}
.section-lastest-match td, .section-table , .section-lastest-match th{
    text-align: center;
    font-size: 12px;
    color: #000;
}
td.order-table{
    border-right: solid 1px #ccc;
}
.header-match{
    padding: 2px 2px 2px 5px;
    font-size: 15px;
    font-weight: bold;
    color: #000;
    /*    border-bottom: solid 1px red;
          background-color: #2d2d2d;*/
}
.team-home, .team-away{
    color: #000;
    font-size: 15px;
    font-weight: bold;
}
.section-table td:nth-child(1),.section-table td:nth-child(2) ,.section-table td:nth-child(9),.section-table td:nth-child(10){
    /*    background-color: #eee;*/
}
.section-table th, .section-fixure th{
    font-size: 12px;
}
.section-table tr{
    border-bottom: solid 1px #eee;
}
td.name-team{
    text-align: left !important;
    padding-left: 5px;
}

.box-close{
    display: block;
    float: right;
    width: 30px;
    height: 30px;
    position: absolute;
    top: -13px;
    left: 543px;
    cursor: pointer;
}

.box-comment-user-match{
    margin-top: 5px;
    position: relative;
}
.wrapper-box-event{
    display: block;
    position: relative;
    margin-bottom: 10px;
}
.title-event{
    text-align: center;
    font-weight: bold;
    border-bottom: solid 1px #ccc;
}
.box-event-live{
    display: block;
}
.speech-event-live{
    display: block;
}
.box-event{
    display: block;
    width: 230px;
    float: right;
    /*    margin-bottom: 3px;*/
    height: 28px;
}
.left-event{
    float: left;
    width: 250px;
}

.box-time-live{
    display:block;
    width: 20px;
    height: 20px;
    position: absolute;
    left: 260px;
    border-radius: 50%;
    text-align: center;
    margin-top: 3px;
    color: #fff;
    background-color: #555;
    font-size: 11px;
}
.bubble img, .bubble-left img{
    margin: 2px;
}
.bubble 
{
    position: relative;
    width: auto;
    height: 20px;
    float: left;
    padding: 2px 5px 2px 2px;
    background: #a5a9ae;
    /*    -webkit-border-radius: 3px 0px 0px 3px;
        -moz-border-radius:3px 0px 0px 3px;
        border-radius: 3px 0px 0px 3px;*/
    color: #fff;
    font-size: 12px;
}

.bubble:after 
{
    /*    content: "";
        position: absolute;
        top: 7px;
        left: -9px;
        border-style: solid;
        border-width: 6px 10px 6px 0;
        border-color: transparent #000000;
        display: block;
        width: 0;
        z-index: 1;*/
}


.bubble-left 
{
    position: relative;
    width: auto;
    height: 20px;
    float: left;
    padding: 2px 2px 2px 5px;
    background: #a5a9ae;
    /*    -webkit-border-radius: 0px 3px 3px 0px;
        -moz-border-radius: 0px 3px 3px 0px;
        border-radius:  0px 3px 3px 0px;*/
    color: #fff;
    float: right;
    font-size: 12px;
}

.bubble-left:after 
{
    /*    content: "";
        position: absolute;
        top: 6px;
        right: -10px;
        border-style: solid;
        border-width: 6px 0 10px 15px;
        border-color: transparent #000000;
        display: block;
        width: 0;
        z-index: 1;*/
}


/* tag */
.tab-header-tag{
    margin-bottom: 5px;
    text-align: left;
}
.tab-header-tag div{
    font-size: 14px;
    color: #000;
    font-weight: bold;
}
.tab-header-tag, .tab-percent, .tab-comment, .tab-select-team{
    display: block;
}
.tab-comment{
    border-bottom:solid 1px #ccc;
}
.tab-percent{
    height: auto;
    display: block;
    padding: 10px 0px 10px 0px;
}
.tab-percent table{
    width: 68%;
    margin: 0 auto;
}
.tab-percent td{
    display: block;
    text-align: center;
    float: left;
    width: 100px;
    margin: 0px 10px 0px 0px;
    font-size: 12px;
    vertical-align: top;
}
.wrap-percentVote{
    display: block;
    margin-top: 50%;
    z-index: 2;
    position: absolute;
    width: 100px;
    font-size: 16px;
    font-weight: bold;
}
span.percent-vote{
    display: block;
    width: 30px;
    margin: 0 auto;
    overflow: hidden;
    display: inline;
    color:#000;
}
.votes{
    display: block;
    width: 98px !important;
    margin-top: 5px !important;
    cursor: pointer;
    color: #000;
    border:solid 1px #ccc;
    border-radius: 5px;
    box-shadow: 0 0 1px #eee;
}
.votes:hover{
    border:solid 1px #008ae2;
    box-shadow: 0 0 2px #008ae2;
}
.box-percent{
    font-size: 12px;
}
.progress{
    padding: 0 !important;
    margin: 0 !important;
    height: 50px;
}

.progress .bar{
    position: relative;
    display: block;
    float: left;
    width: 100px !important;
    background-color: #9eea30;
}
/*.progress .bar {
    height: 30px;
}*/
.progress-title{
    font-weight: bold;
}

.vertical {
    position: relative;
    width: 100px;
    min-height: 110px;
    /*    background: none;*/
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    border: none;
    border-top-left-radius: 0px !important;
    border-bottom-left-radius: 0px !important;
    bottom: 0px !important;
    border-radius: 0px !important;
}
.progress{
    padding: 0 !important;
    margin: 0 !important;
}
.bar{
    position: absolute !important;
    margin: 0 auto !important; 
    bottom: 0 !important; 
}

.box-comment{
    margin-bottom: 5px;
}
.box-comment input{
    height: 15px !important;
    width: 525px !important;
    margin: 0;
}
.upimages-box-upload{
    display: block;
    width: 20px;
    padding: 2px;
    cursor: pointer;
    margin-left: 515px;
    position: absolute;
}
.tab-select-team table{
    width: 100%;
}
.tab-select-team td{
    border-right: solid 1px #ddd;
    width: 33%;
    text-align: center;
    background-color: #2d2d2d;
    color: #fff;
    padding: 5px;
}
.tab-select-team td:hover{
    background-color: #555;
    cursor: pointer;
}
.tab-select-team td:first-child{
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
.tab-select-team td:last-child{
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
.time-post-comment{
    text-align: right;
    color: #aaa;
    font-size: 10px;
    display: block;
    float: right;
}
.left-time{
    float: left;
    text-align: left !important;
}
.img-user-commented {
    margin-right: 5px;
    border:solid 2px #fff;
    box-shadow: 0px 0px 1px 1px #ccc;
    border-radius: 50%;
    margin-right: 15px;
    width: 30px;
    height: 30px;
}
.right-img{
    margin-left: 15px;
}
.tab-user-comment-home{
    margin-top: 5px;
}
.tab-user-comment-home td, .tab-user-comment-away td{
    vertical-align: top;
}
.img-user-commented img{
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.bubble-comment-right {
    position: relative;
    width: 483px;
    float: left;
    padding: 3px;
    background: #00c1e4;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    color: #fff;
    font-size: 12px;
    line-height: 13px;
}
.text-commented{
    width: 400px;
    float: left;
}

.bubble-comment-right:after 
{
    content: "";
    position: absolute;
    top: 8px;
    left: -9px;
    border-style: solid;
    border-width: 8px 10px 8px 0;
    border-color: transparent #00c1e4;
    display: block;
    width: 0;
    z-index: 1;
}
.tab-ui {
    width: 60px;
    height: 25px;
    font-size: 10px;
    color: #000;
    display: block;
    float: right;
    text-align: right;
    line-height: 12px;
}
.tab-ui img{
    width: 11px !important;
    height: 11px !important;
}
.tab-ui a>img{
    width: 20px !important;
    height: 6px !important;
    padding-right: 2px;
}
.tab-user-comment-away{
    display: block;
}
.left-ui{
    float: left;
    text-align: left;
    width: 60px;
    line-height: 12px;
    height: 25px;
    font-size: 10px;
    color: #000;
    display: block;
    padding-left: 3px;
}
.left-ui img{
    width: 11px;
    height: 11px;
}
.left-ui a>img{
    width: 20px;
    height: 6px;
    padding-right: 2px;
    cursor: pointer;
}
.bubble-comment-left
{
    position: relative;
    width: 479px;
    float: left;
    padding: 3px;
    background: #eee;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius:  3px;
    color: #555;
    float: right;
    font-size: 12px;
    line-height: 13px;
    box-shadow: 0px 0px 1px 1px #ddd;
}

.bubble-comment-left:after 
{
    content: "";
    position: absolute;
    top: 8px;
    right: -12px;
    border-style: solid;
    border-width: 6px 0 13px 15px;
    border-color: transparent #eee;
    display: block;
    width: 0;
    z-index: 1;
}
.box-comment-with-images, .section-comment-with-images{
    display: block;
    float: right;
    width: 160px;
}
.box-comment-with-images{
    padding: 5px;
    border-radius: 3px;
    box-shadow: 0px 0px 1px 1px #ccc;
    border: solid 1px transparent;
    font-size: 12px;
    color: #333;
}
.box-comment-with-images img{
    width: 160px;
    height: 100px;
}
.section-comment-with-images{
    height: auto;
}
span.text-comment-images{
    display: block;
    margin-bottom: 5px;
    height: 16px;
    overflow: hidden;
}
.comment-with-images-more{
    width: 160px;
    height: 10px;
}
.table-bg{
    background-color: #f6f6f6;
    border-bottom: solid 5px #e30000;
    text-align: center;
}
tr.bg-current-team>td, tr.bg-current-team>.name-team a{
    color: #e51111 !important;
    font-weight: bold;
    background-color: #fff !important;
}
.wrapper-slide-comment-top{
    display: block;
    height: 60px;
    margin-left: 170px;
    margin-bottom: 10px;
}
.box-comment-top{
    display: block;
    width: 188px;
    height: 55px;
    overflow: hidden;
    border: solid 1px;
    border-color: #e5e6e9 #dfe0e4 #d0d1d5;
    float: left;
    margin: 0px 0px 0px 5px;
    background-color: #fff;
}
.box-comment-top td:first-child{
    width: 50px;
}
.box-comment-top img{
    width: 50px;
    height: 45px;
}
.box-comment-top table{
    width: 100%;
}
.box-comment-top td{
    vertical-align: top;
    padding: 5px;
    font-size: 12px;
}
.box-comment-top b{
    display: block;
    height: 20px;
    overflow: hidden;
    width: 120px;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.detail-news{
    display: block;
    height: 25px;
    line-height: 12px;
    overflow: hidden;
    font-size: 11px;
    color: #888;
}
.tab-situations-match{
    display: block;
    position: absolute;
    height: 100%;
    width: 30px;
    float: left;
    background-image: url('/images/icon/live-tap.png');
    background-repeat: repeat-y;
    background-position: center;
    margin-left: -10px;
}
.icon-status-match{
    position: absolute;
    display: block;
    margin-left: -43px;
    width: 30px;
    border-radius: 50px;
}
.icon-status-match img{
    width: 30px;
    height: 30px;
    border-radius: 50px;
    position: absolute;
    margin-left: 8px;
}
.box-comment-match, .box-comment-match-slide{
    display: block;
}
.box-comment-match{
    margin-bottom: 10px;
}
.box-comment-match-slide{
    background-color: #fff;
    width: 260px;
    height: 50px;
    float: left;
    border: solid 1px #ccc;
    overflow: hidden;
}
.box-comment-match-slide img{
    width: 30px;
    height: 30px;
}
.icon-team-selected img{
    width: 40px !important;
    height: 15px !important;
}
.slider1{
    margin-right: 10px;
}
.box-comment-match-slide table{
    width: 100%;
    height: 50px;
}
.box-comment-match-slide td{
    vertical-align: top;
    font-size: 12px;
    height: 50px;
    line-height: 15px;
}
.box-comment-match-slide td:first-child{
    width: 35px;
    border-right: solid 1px #ddd;
    text-align: center;
    padding-top: 2px;
}
.box-comment-match-slide td:last-child{
    padding: 5px;
    word-break: break-all;
}
.box-comment-match-slide b{
    color: #000;
}
#match-events-none{
    padding: 2px;
    text-align: center;
    border-radius: 5px;
    color: #333;
    font-size: 12px;
}

/*test text ellipsis two lines*/
.commentUser {
    font-size:12px;
    line-height:13px;
    height: 40px;
    width: 200px;
    overflow: hidden;
    position: relative;
    background: white;
    word-break: break-all;
}
.pre-dots {
    float: right;
    height: 25px;
}
.dots {
    float: right;
    clear: right; 
    font-size: 14px;
}
.hidedots1 {
    background: white;
    width: 200px;
    height: 14px;       
    position: absolute; 
}
.hidedots2 {
    background: white; 
    width: 200px;
    height: 40px;       
    position: absolute;
}
.heading-modal{
    display: block;
    float: left;
    color: #eee;
    padding: 10px;
    width: 370px;
    text-align: center;
}
.textAll-ranking{padding: 10px; color: #999; font-size: 12px; float:right;}
.textAll-ranking a{color: #999;}
.wrapperShow{display: block;}
.sectionShow{
    display: block;
    border: solid 1px #ccc; 
    width: 260px; 
    height: 150px; 
    float: left;
    position: relative;
    overflow: hidden;
    background-color: #fff;
}
.sectionShow img{width: 100%;}
.News{margin-right: 5px;}
.tabInfoNews{
    position: absolute;
    display: block;
    width: 260px; 
    background-color:rgba(0,0,0,0.8);
    padding: 5px; 
    margin-top: 120px;
}
.tabInfoNews span{
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 12px;
    color: #fff;
    width: 250px;
}
.CoverVideo{
    display: block;
    width: 260px;
    height: 150px;
    background-color: transparent;
    position: absolute;
    z-index: 3;
}