body{
    background-color: #e9eaed;
}
textarea { resize: none; }
#wrapper{
    display: block;
    margin: 0 auto;
    height:auto;
    width: 960px;
    padding-top: 115px;
}
.menu-worldcup img{
    width: 170px !important;
    height: 37px !important;
}
.nav{
    background-color: #090909 !important;
    box-shadow: none !important;
    border: none !important;
    height: 63px;
}
.nav-topbar{
    margin: 0 auto;
    display:block;
    width: 960px;
}
.wrapper-menu-top{
    display: block;
    width: 960px;
    margin: 0 auto;
}
.logo, .logos{
    display: block;
    text-align: center;
    float: left;
}
.logos{
    padding: 5px;
}
.logos img{
    height: 25px;
}
.logo img{
    height: 35px;
}
.section-tabmenu-top{
    display: block;
}
.section-tabmenu-top table{
    width: 100%;
}
.section-tabmenu-top td:first-child{
    /*width: 78%;*/
}
.section-tabmenu-top td:last-child{
    text-align: right;
}
.section-tabmenu-top td{
    color: #fff;
    font-size: 12px;
    padding-top: 0;
    vertical-align: middle;
}
.section-tabmenu-top b ,
.section-tabmenu-top img{
    cursor: pointer;
    opacity: 1
}
.section-tabmenu-top img:hover{
    opacity: 0.8
}
.section-tabmenu-top button{
    margin-right: -12px;
    background-image: none;
    border-color: #000;
    padding: 6px 15px 5px 10px;
    background-color: #191c1f
}
.box-all-match, .box-stat, .box-profile{
    width: 33%;
    height: 100%;
    float: left;
}
/*tab-apps*/
.tab-apps {
    margin-top: 10px;
    display: block;
    float: left;
}
.tab-apps ul{
    margin: 0;
}
.tab-apps li{
    display: block;
    float: left;
    width: 31px;
    height: 31px;
    margin: 2px;
    cursor: pointer;
}
.tab-apps img{
    width: 30px;
    height: 30px;
}
.box-all-match{
    width: 50%;
}
.section-registered{
    display: block;
    width: 160px;
    padding: 5px;
    height:auto;
    background-color: #333136;
    word-break:brek-all;
    word-wrap:break-word;
    border-radius: 5px 5px 0px 0px;
}
.box-left-menu{
    border-radius: 0px 0px 5px 5px;
}
.box-user-login{
    display: block;
    width: 140px;
    margin: 10px;
}
.box-user-login img{
    width: 40px;
    height: 40px;
    border: solid 1px #222;
    box-shadow: 0 1px 1px #222;
}
.box-user-login table{
    width: 100%;
}
.box-user-login td{
    text-align: left;
    vertical-align: top;
    color: #fff;
}
.box-user-login td:first-child{
    width: 45px;
    padding-right: 5px;
}
.box-user-login a{
    color: #fff;
}
.img-user, .info-user{
    display: block;
    float: left;
}
.img-user img{
    width: 45px;
    height: 45px;
    border: solid 2px #fff;
    box-shadow: 0px 0px 1px 1px #ccc;
    border-radius: 50%;
}
.info-user{
    width: 95px;
    height: 20px;
    overflow: hidden;
    font-size: 12px;
}
span.score{
    font-weight: bold;
    font-size: 12px;
}
/*Menu Left*/

.wrapper-menu-left{
    display: block;
    width: 170px;
    height:auto;
    float: left;
    background-color: #333136;
}
.fixed-menu{
    width: 170px;
/*    position: fixed;*/
}
.beforeLoading{
    display: block;
    position: absolute;
    width: 170px;
    height: 155px;
    background-color: transparent;
    text-align: center;
    padding-top: 140px;
}
.beforeLoading img{
    width: 35px;
}
.section-menulist ul, .menu-teams-list ul, .sectionCoin ul{
    padding: 0;
    margin: 0;
}
.section-menulist ul li, .sectionCoin ul li{
    border-top: 1px solid #3e3c40;
    border-bottom: 1px solid #2a282d;
}
.section-menulist li, .tab-header-menu, .sectionCoin li{
    display: block;
    line-height: 35px;
    background-color: #333136;
    color: #fff;
    padding-left: 10px;
    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}
.section-menulist li:hover, .menu-teams-list tr:hover{
    background-color: #1b1b1e;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}
.section-menulist li>a{
    color: #fff !important;
    font-size: 13px;
}
.section-menulist li{
    font-size: 13px;
}
.section-menulist li>a:hover{text-decoration: none}
.section-menulist li, .back-box{
    cursor: pointer;
}
.section-menulist li>img{
    width: 26px;
    height: 12px;
    margin-right: 10px;
    float: right;
    padding: 12px 0px 0px 0px;
}
.league-head{
    border-top: 1px solid #3e3c40;
}
.tab-header-menu{
    text-align: center;
    line-height: 25px;
    color: #888;
    font-weight: bold;
    font-size: 11px;
}
span.name-country{
    display: block;
    width: 98px;
    word-break: break-all;
    padding-left: 5px;
    cursor: pointer;
    line-height: 15px;
    height: 15px;
    overflow: hidden;
}
.menu-teams-list table{
    width: 100%;
}
.subcate table{
    width: 100%;
    font-size: 12px;
}
.subcate td{
    line-height: 25px;
}
.subcate tr{
    display: block;
    padding-left: 10% !important;
    border-bottom: 0px !important;
}
tr.actived{
    background-color: #ffd8c5;
}
.subcate tr:hover{
    background-color: #ffd8c5;
    cursor: pointer;
}
.menu-teams-list tr {
    display: block;
    line-height: 25px;
    padding-left: 10px;
    font-size: 12px;
    color: #000;
}
.menu-teams-list a{
    color: #fff;
}
.menu-teams-list td{
    vertical-align: middle;
}
.menu-teams-list td:first-child{
    width: 16%;
}
.menu-teams-list td:last-child{
    width: 15%;
    text-align: right;
}
.wrapper-content{
    display: block;
    float: left;
    width: 540px;
    height: auto;
    padding: 0px 15px 0px 15px;
    height: 100%;
    /*    box-shadow: -10px 0 10px -10px #aaa;   เงาด้านซ้าย*/
    /*    box-shadow: 8px 0 8px -4px rgba(0, 0, 0, 0.2), -8px 0 8px -4px rgba(0, 0, 0, 0.2);*/
    border: 1px solid;
    border-color: #e5e6e9 #dfe0e4 #d0d1d5;
    z-index: 3;
    background-color: #fff;
    margin-left: 8px;
}
.wrapper-menu-right{
    display: block;
    float: right;
    width: 210px;
}
.menu-right{
    height: auto;
}
.right-menu{
    /*    background-image: url('/images/icon/menu-right.png');*/
    text-align: left;
    color: #666;
    font-size: 14px;
    padding: 5px 0;
    font-weight: bold;
}
.sidebar-style{
    display: block;
    float: left;
    width: 200px;
    padding: 5px;
    margin: 0 0 10px 5px;
    background-color: #fff;
    border: 1px solid;
    border-color: #e5e6e9 #dfe0e4 #d0d1d5;
}
.menu-bets-list table{
    width: 100%;
}
.menu-bets-list td,.menu-feed-list td{
    padding: 5px;
    color: #333;
    vertical-align: top;
}
.menu-feed-list td{
    border-bottom: solid 1px #eee;
}
.menu-bets-list tr{
    background-color: #fafafa;
    margin-bottom: -1px;
    border: solid 1px #d6d7da;
}
.menu-bets-list tr:hover{
    background-color: #eee;
    border-top:solid 1px #ddd;
    border-bottom: solid 1px #ddd;
}
.menu-bets-list tr:hover ,
.menu-bets-list tr{
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}
.menu-bets-list td{
    font-size: 12px;
    padding: 2px;
    line-height: 15px;
    margin: 0;
}
.menu-bets-list td:last-child{
    width: 5%;
}
tr.bg-gray{
    background-color: #eff0f1;
}
.text-blue{
    color: #008ee5;
}
span.time-race{
    color: #a2a5a6;
    font-size: 9px;
}
td.bg-gray{
    display: block;
    background-color: #ddd;
    text-align: center;
    font-size: 10px;
    width: 50px;
}
.menu-feed-list td {
    line-height:13px;
    color: #989898;
    font-size: 11px;
    vertical-align: top;
}
.menu-feed-list table, .section-comment-match table{
    width: 100%;
}
.menu-feed-list td:first-child{
    width: 22%;
}
.menu-feed-list td:last-child > span{
    width: 120px;
}
.menu-feed-list tr:hover, .menu-toprank-list tr:hover, .menu-toprank-list tr:hover{
    background-color: #f1f1f1;
}
.menu-feed-list tr, .menu-toprank-list tr, .menu-toprank-list tr ,
.menu-feed-list tr:hover, .menu-toprank-list tr:hover, .menu-toprank-list tr:hover{
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}
.menu-feed-list img{
    width: 30px;
    height: 30px;
}
.images-user img{
    float: left;
    width: 25px;
    height: 25px;
}
.images-user{
    display: block;
    width: 25px;
    float: left;
    margin-right: 8px;
}
.menu-toprank-list{
    display: block;
    width: 200px;
    height: 205px;
    margin-bottom: 5px;
}
.menu-toprank-list table{
    width: 100%;
}
.menu-toprank-list td{
    text-align: left;
    line-height: 13px;
    vertical-align: middle;
}
.menu-toprank-list td:first-child{
    width: 20%;
}
.menu-toprank-list tr{
    border-top: solid 1px #fff;
    border-bottom: solid 1px #d6d7da;
}
.ranking-icon img{
    width: 38px;
    height: 38px;
}
.tab-situations{
    display: block;
    position: absolute;
    height:100%;
    width: 30px;
    float: left;
    background-image: url('/images/icon/live-tap.png');
    background-repeat: repeat-y;
    background-position: center;
}
.forumLine{
    background-image: url('/images/line.png');
}
.box-situations{
    display: block;
    width: 29px;
    position: absolute;
    float: left;
    margin-top: -5px;
}
.tab-menu, .tab-menu-result{
    display: block;
    width: 100%;
    margin-bottom: 2px;
    background-color: #333136;
}
.tab-menu td{
    display: block;
    float: left;
    line-height: 25px;
    padding: 5px;
    text-align: center;
    width: 123px;
    cursor: pointer;
    color: #fff;
    border-left: solid 1px #666;
    border-right: solid 1px #000;
}
.tab-menu td img{cursor: pointer;}
.tab-menu td:hover{
    background-color: #222;
}
.tab-menu td ,
.tab-menu td:hover{
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}
.tab-menu ul{
    padding: 0;
    margin: 0;
}
li.tab-live ,li.tab-odds{
    width: 20%;
}
td.activated:hover ,
td.activated{
    font-size: 95%;
    cursor: default;
    color: #333 !important;
    background-color: #fff;
    border: solid 1px transparent;
    font-weight: bold;
}
.font-name{
    font-size: 13px;
    clear: both;
    color: #333;
    /*    font-weight: bold;*/
    width: 118px;
    height: 18px;
    display: inline-block;
    overflow: hidden;
    white-space:nowrap; 
    text-overflow:ellipsis;
}
.font-name a{
    color: #333 !important;
}
.name-ranking{
    width: 100px;
}
.name-following{
    width: 300px;
}
.score-user{
    font-size: 13px;
    display: block;
    font-weight: bold;
}
.font-orange{
    color: #ff2222;
}
.font-red-live{
    color: #b30202;
}
.font-red{
    color: #333;
}
.score-live{
    font-weight: bold;
    color: #b30202!important;
    text-align: center;
    font-size: 11px;
}
.font-gray{
    color: #525252;
}
.font-blue{
    color: #008ae2;
}
.box-all-livemath{
    margin-top: 10px;
    width: 540px;
}
.box-all-livemath > table, .tab-menu table, .section-vs-stat table, .section-top-rank table{
    width: 100%;
}
tr.bg-red,tr.bg-blue{
    color: #fff;
}
tr.bg-red{
    background-color: #e33e3e;
}
tr.bg-blue{
    background-color: #0e8ebd;
}
.box-all-livemath td{
    padding-left: 5px;
    line-height: 21px;
    font-size: 12px;
}
.box-speech{
    display: block;
    float: left;
}
.speech-left {
    display: block;
    float: left;
    width: 8px;
    height: 18px;
    margin-top: 3px;
    margin-left: 35px;
    background-repeat: no-repeat;
}
.speech-left-red{
    background-image: url('/images/icon/red-speech.png');
}
.speech-left-blue{
    background-image: url('/images/icon/blue-speech.png');
    margin-top: 2px;
}
.speech-left-white{
    background-image: url('/images/icon/white-speech.png');
    position: relative;
    z-index: 1;
    margin-right: -1px;
}
.speech-left-green{
    background-image: url('/images/icon/green-speech.png');
}
.speech{
    float: left;
    width: 492px;
    color: #fff;
    font-size: 12px;
    margin-bottom: 2px;
    padding-bottom: 1px;
}
.bg-red img, .bg-blue img, .bg-green img{
    padding-left: 5px;
    width: 18px;
    height: 13px;
}
.bg-red{
    background-color: #b6001e;
    border:solid 1px #b6001e;
}
.bg-blue{
    background-color: #008ae2;
    border:solid 1px #008ae2;
}
.bg-green{
    background-color: #74c4b9;
    border: solid 1px #74c4b9;
}
.bg-white{
    background-color: #fff;
    border:solid 1px #e9e9e9;
    position: relative;
    z-index: 0;
}

/*team*/
.speech table{
    color: #000;
    width: 100%;
}
.speech td:first-child{
    width: 28px;
}
td.team1,td.team2{
    display: block;
    overflow: hidden;
    width: 120px;
    height: 18px;
    vertical-align: top;
    white-space:nowrap;
}
td.team1{
    width: 132px;
}
.team1 img, .team2 img{
    margin-top: -10px;
}
td.team1, td.status-team, td.scores-team{
    text-align: right;
}
td.scores-team{
    width: 40px;
    text-align: center;
}
td.status-team{
    padding-right: 3px;
    width: 50px;
}
td.status-team img{cursor: pointer}
td.team2{
    text-align: left;
}
td.logo-team1 img, td.logo-team2 img, .menu-bets-list td>img {
    width: 16px;
    height: 16px;
}
.menu-feed-list, .menu-toprank-list, .last-event{
    background-color: #fafafa;
    border: solid 1px;
    border-color: #e5e6e9 #dfe0e4 #d0d1d5;
    /*    border: solid 1px #d6d7da;*/
}
.last-event{
    /*width: 205px;*/
    height: 250px;
}
.last-event table{
    width: 100%;
}
.last-event a{
    color: #666;
    text-decoration: none;
}
.last-event td{
    border-bottom: solid 1px #eee;
    font-size: 12px;
    font-weight: normal;
    vertical-align: middle;
    line-height: 17px;
}
.last-event td:first-child{
    width: 35px;
    background-color: #ddd;
    text-align: center;
    color: #000;
    font-weight: bold;
    font-size: 10px;
}
.last-event td:last-child{
    width: 35px;
    text-align: center;
}
td.event-detail{
    width: 80px;padding-left: 3px;
    line-height: 13px;
    font-size: 11px;
}
td.event-detail span{
    display: inline-block;
    width: 80px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: #888;
}
td.event-detail b{
    color: #333;
}
.menu-bets-list img{
    width: 13px;
    height: 13px;
}
td.nameLeague{
    width: 30px;
    text-align: center;
    font-size: 10px;
    background-color: #ccc;
    color: #008ae2;
}
td.scores{
    width: auto;
    text-align: center;
    cursor: pointer;
    text-align: center;
}
td.logo-team1, td.logo-team2{
    width: 20px;
}
td.logo-team1{
    text-align: right;
}

/*footer*/
.footer{
    display: block;
    padding: 25px;
    /*    background-color: #000;*/
    font-size: 12px;
    color: #000;
}
.footer table{
    color: #000;
    float:right;
}
.footer td{
    border-right: solid 1px #666;
    /*border-left: solid 1px #000;*/
    padding:0px 10px 0px 10px;
}
.footer td:last-child{
    border-right: none;
}
.footer a{
    color: #000;
}
.more-footer{
    display:block;
    float: left;
}
.content{
    height: 100%;
    position: relative;
    margin-bottom: 10px;
}

/*setting*/
.section-setting , .tab-right-sign{
    display: block;
    position: absolute;
    left: 545px;
    top: 252px;
}
.tab-right-sign{
    width: 20px;
    height: 20px;
}
.box-setting{
    margin-bottom: 5px;
}
.section-setting{
    width: 220px;
    padding: 10px;
    background-color: #fff;
    z-index: 2;
    /*    left: -5px; */
    top: 98px;
    -moz-box-shadow: 0 0 8px #666;
    -webkit-box-shadow: 0 0 8px #666;
    box-shadow: 0 0 8px #666;
}
.section-setting table{
    width: 100%;
    background-color: #fff;
}
.section-setting td{
    width: 50%;
    border-bottom: dashed 1px #ddd;
    line-height: 28px;
    color: #000;
    font-size: 12px;
}
td.title-set{
    width: 35%;
}
.table-sort{
    border-top: solid 1px #ddd;
    border-bottom: solid 1px #ddd;
}
.table-sort td{
    text-align: center;
    width: 30%;
    background-color: #eee;
    font-weight: bold;
    font-size: 11px;
}
.table-sort td:hover, .tab-sort-active-menu{
    background-color: #ddd !important;
    cursor: pointer;
}
td.sign-edit{
    width: 8%;
    padding-left: 5px;
}
td.sign-edit img{
    width: 16px;
    height: 16px;
    cursor: pointer;
}
td.add-team{
    padding-left: 5px;
}
.table-edit td:hover{
    background-color: #f5f5f5;
}
.tab-menu-result table{
    width: 100%;
    text-align: center;
}
.tab-menu-result td{
    line-height: 30px;
    cursor: pointer;
    width: 50%;
    color: #fff;
}
.tab-menu-result{
    border-bottom: solid 1px;
}
span.teambet{
    display: block;
    cursor: pointer;
    width: 100px;
    height: 15px;
    overflow: hidden;
}
.box-notification{
    display: block;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #b6001e;
    border: solid 1px #b6001e;
    text-align: center;
    color: #fff;
    font-size: 10px;
    position: absolute;
    line-height: 1.50em; 
    margin-left: 32px;
    font-weight: bold;
}
.menu-teams-list{
    display: block;
    background-color: #333136;
}
.league{
    cursor: pointer;
    border-top: solid 1px transparent;
    border-bottom: solid 1px transparent;
}
.league:hover{
    background-color: #1b1b1e;
    border-top: solid 1px #1a1a1a;
    border-bottom: solid 1px #1a1a1a;
}
.league ,.league:hover{
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}
.active-league{
    background-color: #ffd8c5;
}
.subcate-league{
    display: block;
}
.league li, .subcate-league li{
    display: block;
    float: left;
    height: 18px;
    color: #fff;
}
.subcate-league li{
    padding: 0px !important;
}
.league li{
    /*    border-bottom: solid 1px #3c3f48;*/
    padding: 2px 0px 2px 0px;
}
li.flag-icon, li.name-league, li.right-icon{
    display: block;
}
li.flag-icon{
    width: 30px;
    margin-left: 10px;
}
li.sub-icon{
    width: 20px;
}
li.sub-icon img{
    width: 14px !important;
    height: 12px !important;
}
li.flag-icon img, .menu-teams-list td:first-child>img{
    width: 16px;
    height: 15px;
}
li.name-league{
    width: 100px;
    font-size: 11.5px;
    color: #fff;
    overflow: hidden;
}
li.right-icon{
    width: 20px;
    text-align: right;
}
li.flag-icon img, li.right-icon img{
    margin-top: -5px;
}

.subcate-league{
    margin-left: 30px;
}
.subcate-league li{
    border-bottom: none !important;
}
.subcate-league ul{
    margin-bottom: 3px;
}
.subcate-league ul:hover{
    background-color: #1b1b1e;
    cursor: pointer;
}
li.league-sub{
    width: 95px;
    overflow: hidden;
    font-size: 11.5px;
    color: #c2c4cc !important;
}
.menu-bets-list, .menu-feed-list{
    width: 200px;
    height: 235px; 
}
.section-more{
    display: block;
    padding: 3px 10px 3px 10px;
    text-align: center;
    cursor: pointer;
    font-size: 11px;
    color: #fff;
}
.tab-rank{height: 25px !important;overflow: hidden;}
.tab-rank li{
    width: 99px !important;
    height: 25px !important;
    text-align: center;
    background-color: #eee;
}
.tab-rank a:hover{
    color: #0e8ebd !important;
}
.tab-rank a{
    margin: -6px !important;
    color: #000;
}
.tab-rank ul{
    padding: 0;
    margin: 0;
}
.box-loading,.box-notification-alert{
    display: block;
    width: auto;
    height: auto;
    position: absolute;
    z-index: 4;
}
.box-notification-alert{
    width: 280px;
    border: solid 1px #ccc;
    background-color: #fff;
    border-radius: 5px;
    margin-top: 20px;
    margin-left:40px;
}
.box-notification-alert table{
    width: 100%;
}
.box-notification-alert td{
    vertical-align: top;
    line-height: 15px;
    font-size: 12px;
    padding: 5px;
    border-bottom: solid 1px #ddd;
    text-align: left;
}
.box-notification-alert tr:hover{
    background-color: #f5f5f5;
}
.box-notification-alert td:first-child{
    width: 20%;
}
.box-notification-alert td:first-child img{
    width: 45px;
    height: 42px;
}
span.time-posted{color: #ccc; font-size: 11px;}
.wrapper-new-ranking{
    display: block;
    float: left;
    margin-bottom: 8px;
}
.tab-top-rank-type, .tab-menu-rank{
    display: block;
    text-align: center;
    padding: 3px;
}
.tab-top-rank-type{
    text-align: left;
    padding: 5px 0px;
    font-weight: bold;
    font-size: 14px;
    color: #333;
    margin-bottom: 5px;
}
.tab-menu-rank{padding: 5px; width: 192px; background-color: #eee;}
.tab-menu-rank table{
    width: 100%;
    font-size: 12px;
    color: #000;
}
.twoColumn td{width: 50%;}
.threeColumn td:last-child{width: 50%;}
.tab-menu-rank td{text-align: center; font-weight: bold;}
.tab-menu-rank td.active-rank, .tab-menu-rank td:hover {
    background-color: #008ae2;
/*    border-radius: 5px;*/
    color: #fff;
    cursor: pointer;
    text-shadow: 1px 1px #888;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}
.team-favored{text-decoration: underline;}
.ranking-scroll{
    display: block;
    border: solid 1px;
}
.closed{
    display: block;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    float: right;
    line-height: 25px;
    text-align: center;
    font-size: 14px;
    background-color: #1c1c1d;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    margin: 6px;
}
.closed:hover{ background-color: #000;}
.section-comment-match{
    display: block;
    width: 195px;
    height: 203px;
    background-color: #f5f5f5;
}
.section-comment-match b{
    color: #333;
}
.section-comment-match tr{
    display: block;
    border-bottom: solid 1px #eee;
    height: 33px;
    overflow: hidden;
}
.section-comment-match tr:hover{
    background-color: #fff;
}
.section-comment-match td{
    line-height: 15px;
    font-size: 11.5px;
    vertical-align: top;
    color: #888;
    height: 30px;
    display: block;
    float: left;
}
td.commented-post{
    height: 30px;
    overflow: hidden;
    width: 125px;
    padding-left: 5px;
}
td.team-bet{
    height: 30px;
    width: 13px;
    background-size: 13px 30px;
}
.select-team-home{
    background-image:url('/images/icon/home1.png');
}
.select-team-away{
    background-image:url('/images/icon/away1.png');
}
td.images-commented-user{ width: 30px;}
.section-comment-match img{
    width: 30px;
    height: 30px;
}
.name-user-login{
    display: block;
    height: 20px;
    width: 85px;
    overflow: hidden;
}
.boxGolden{display: block; height: 20px;} .boxGolden img{width: 18px; height: 18px; box-shadow: none; border: 0;}
.boxGolden b{font-weight: normal; font-size: 11px;}
.bet-select-button {
    width: 140px;
    -moz-border-radius:8px;
    -webkit-border-radius:8px;
    border-radius:8px;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:arial;
    font-size:16px;
    font-weight:bold;
    padding:5px 5px;
    text-decoration:none;
    -moz-box-shadow: 0px 10px 14px -7px #276873;
    -webkit-box-shadow: 0px 10px 14px -7px #276873;
    box-shadow: 0px 10px 14px -7px #276873;
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #599bb3), color-stop(1, #408c99));
    background:-moz-linear-gradient(top, #599bb3 5%, #408c99 100%);
    background:-webkit-linear-gradient(top, #599bb3 5%, #408c99 100%);
    background:-o-linear-gradient(top, #599bb3 5%, #408c99 100%);
    background:-ms-linear-gradient(top, #599bb3 5%, #408c99 100%);
    background:linear-gradient(to bottom, #599bb3 5%, #408c99 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#599bb3', endColorstr='#408c99',GradientType=0);
    background-color:#599bb3;
    text-shadow:0px 1px 0px #3d768a;
}
.bet-select-button-favored {
    -moz-box-shadow: 0px 10px 14px -7px #73273d;
    -webkit-box-shadow: 0px 10px 14px -7px #73273d;
    box-shadow: 0px 10px 14px -7px #73273d;
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #b35959), color-stop(1, #99404f));
    background:-moz-linear-gradient(top, #b35959 5%, #99404f 100%);
    background:-webkit-linear-gradient(top, #b35959 5%, #99404f 100%);
    background:-o-linear-gradient(top, #b35959 5%, #99404f 100%);
    background:-ms-linear-gradient(top, #b35959 5%, #99404f 100%);
    background:linear-gradient(to bottom, #b35959 5%, #99404f 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#b35959', endColorstr='#99404f',GradientType=0);
    background-color:#b35959;
    text-shadow:0px 1px 0px #8a3e51;
}
#facebookG{
    width:45px}

.facebook_blockG{
    background-color:#FFFFFF;
    border:1px solid #000000;
    float:left;
    height:32px;
    margin-left:2px;
    width:9px;
    opacity:0.1;
    -moz-animation-name:bounceG;
    -moz-animation-duration:1s;
    -moz-animation-iteration-count:infinite;
    -moz-animation-direction:linear;
    -moz-transform:scale(0.7);
    -webkit-animation-name:bounceG;
    -webkit-animation-duration:1s;
    -webkit-animation-iteration-count:infinite;
    -webkit-animation-direction:linear;
    -webkit-transform:scale(0.7);
    -ms-animation-name:bounceG;
    -ms-animation-duration:1s;
    -ms-animation-iteration-count:infinite;
    -ms-animation-direction:linear;
    -ms-transform:scale(0.7);
    -o-animation-name:bounceG;
    -o-animation-duration:1s;
    -o-animation-iteration-count:infinite;
    -o-animation-direction:linear;
    -o-transform:scale(0.7);
    animation-name:bounceG;
    animation-duration:1s;
    animation-iteration-count:infinite;
    animation-direction:linear;
    transform:scale(0.7);
}

#blockG_1{
    -moz-animation-delay:0.3s;
    -webkit-animation-delay:0.3s;
    -ms-animation-delay:0.3s;
    -o-animation-delay:0.3s;
    animation-delay:0.3s;
}

#blockG_2{
    -moz-animation-delay:0.4s;
    -webkit-animation-delay:0.4s;
    -ms-animation-delay:0.4s;
    -o-animation-delay:0.4s;
    animation-delay:0.4s;
}

#blockG_3{
    -moz-animation-delay:0.5s;
    -webkit-animation-delay:0.5s;
    -ms-animation-delay:0.5s;
    -o-animation-delay:0.5s;
    animation-delay:0.5s;
}

@-moz-keyframes bounceG{
    0%{
        -moz-transform:scale(1.2);
        opacity:1}

    100%{
        -moz-transform:scale(0.7);
        opacity:0.1}

}

@-webkit-keyframes bounceG{
    0%{
        -webkit-transform:scale(1.2);
        opacity:1}

    100%{
        -webkit-transform:scale(0.7);
        opacity:0.1}

}

@-ms-keyframes bounceG{
    0%{
        -ms-transform:scale(1.2);
        opacity:1}

    100%{
        -ms-transform:scale(0.7);
        opacity:0.1}

}

@-o-keyframes bounceG{
    0%{
        -o-transform:scale(1.2);
        opacity:1}

    100%{
        -o-transform:scale(0.7);
        opacity:0.1}

}

@keyframes bounceG{
    0%{
        transform:scale(1.2);
        opacity:1}

    100%{
        transform:scale(0.7);
        opacity:0.1}

}
#favorite-list-box, #competition-list-box{
    display: block;
}
#favorite-list-box{
    max-height: 80px;
    overflow-y: auto;
}
#competition-list-box{
    /*    max-height: 250px;
        overflow-y: auto;*/
}
.remove-comment{
    display: block;
    float: right;
    position: absolute;
    left: 490px;
    font-weight: bold;
    cursor: pointer;
    color: #ccc;
    font-size: 13px !important;
}
.remove-comment:hover{
    color: #000;
}

.default-cursor {
    cursor: default !important;
}
.preLoading, .loading-post{
    display: block;
    width: 25px;
    float: right;
    position: absolute;
    left: -20px;
}
.loading-post{
    left: 420px;
    padding: 3px;
}
.soundSetting, .gamesMenu{
    display: block;
    position: absolute;
    width: 140px;
    z-index: 3;
    border: solid 1px #000;
    margin: 8px 0 0 -5px;
    box-shadow: 0 3px 5px #000;
    padding: 3px;
    border-top: 1px solid #3e3c40;
    background-color: #333136;
}
.gamesMenu{
    margin-top: 80px;
}
.gamesMenu td{color: #fff; font-size: 12px; width: 200px; padding: 3px 0px 3px 0px;}
.gamesMenu img{width: 15px; margin-right: 5px;}
.gamesMenu td:hover{background-color: #2a282d; cursor: pointer;}
.soundSetting table{
    width: 100% !important;
}
.soundSetting td, .gamesMenu td{
    border: 0;
    border-top: 1px solid #3e3c40!important;
    border-bottom: 1px solid #2a282d!important;
    color: #eee;
    /*    height: 15px;*/
    font-size: 12px;
}
.soundSetting td:hover{background-color: transparent}
.soundSetting img{
    width: 18px;
}
.soundSetting h6{
    padding: 0;margin: 0;color: #00a2cb;
}
.soundSetting td:first-child{
    width: 90px;
    text-align: left;
}
.soundSetting td:last-child{
    width: 30px;
    text-align: right;
}
.list-menu-top li{
    padding: 0px 8px 0px 10px;
    color: #555;
    font-size: 12px;
    border-top: 1px solid #3e3c40;
    border-bottom: 1px solid #2a282d;
}
.list-menu-top {
    background-color: #333;
    max-height: 450px;
    overflow-y: auto;
}
.list-menu-top li> a{
    color: #fff;
}
.list-menu-top li>a:hover{
    background: #2a282d !important;
}
.display-Ads{
    display: block;
    position: fixed;
    background-color: rgba(0,0,0,0.7);
    width: 100%;
    height: 100%;
    z-index: 4;
    top: 0;
    left: 0;
    right: 0;
    text-align: center;
    margin: 0 auto;
    padding-top: 80px;
}
.display-Ads img{
    width: 100%;
}
.closeAds{
    display: block;
    font-size: 18px;
    color: #fff;
    right: 0;
    border-radius: 50%;
    background-color: #000;
    width: 25px;
    height: 25px;
    position: absolute;
    margin-top:-10px;
    margin-right: -10px;
    cursor: pointer;
}
.wrapperAds{
    width: 960px;
    position: absolute;
    margin: 0 auto;
    height: 500px;
    left: 0;
    right: 0;
}
.boxNoti{
    display: block;
    height: 13px;
    background-color: #df1536;
    font-size: 10px;
    text-align: center;
    padding: 2px 3px 2px 3px;
    line-height: 13px;
    cursor: pointer;
    position: absolute;
    border-radius: 2px;
    box-shadow: 1px 1px #111;
}
.boxNoti{
    margin-left: 20px;
    margin-top: -32px;
}
.messageNoti{
    margin-left: 20px;
    margin-top: -32px;
    color: #fff;
}
.boxMessageNoti, #notifications-button{
    width: 30px;
    float: right;
    height: 35px;
    margin: 5px 5px 0px 0px;
}
.detailNoti{
    display: block;
    position: absolute;
    width: 265px;
    background-color: #333136;
    margin: 2px 0px 0px 550px;
    border: solid 1px #000;
    box-shadow: 0 3px 10px #000;
    border-radius: 0 0 5px 5px;
}
.iconPM, .iconNoti{
    width: 30px;
    height: 35px;
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}
.iconNoti{
    background-image: url('/images/icon/noti-1-b.png');
    background-size: 15px;
}
.iconNoti:hover, .activeNotificate{background-image: url('/images/icon/noti-1-w.png');}
.iconPM{
    background-image: url('/images/icon/mail-1-b.png');
}
.iconPM:hover, .activePM{background-image: url('/images/icon/mail-1-w.png');}
.detailNoti table{
    width: 100%;text-align: left !important;
}
.detailNoti td:first-child{
    width: 18%;text-align: center;
}
.detailNoti td:last-child{
    width: 10%; text-align: center;
    border-left:solid 1px transparent;
}
.detailNoti td:first-child img{
    width: 38px; height: 35px;
}
.detailNoti td:last-child img{
    width: 16px; height: 16px;
}
.detailNoti tr{
    display: block;
}
.detailNoti td{
    border-top: 1px solid #3e3c40;
    border-bottom: 1px solid #2a282d;
    padding: 5px;
    color: #999;
    vertical-align: middle;
    word-break: break-all;
    font-size: 12px;
    line-height: 18px;
}
.chooseLanguage{margin-top: -5px;}
.chooseLanguage input{margin: 0}
.chooseLanguage img{
    margin: 0px 5px 0px 5px;
}
span.userName, .detailNoti b{
    font-weight: bold; color: #fff!important;
}
span.closeNotificate{
    color: #fff; font-size: 11px; font-weight: bold;
    cursor: pointer;
}
.detailNoti tr:hover{
    background-color: #1b1b1e;
}
.detailNoti tr ,
.detailNoti tr:hover{
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}
td.seeMore-Noti{
    color: #fff; cursor: pointer;
}
span.visionComment a{
    color:#fff!important;
}
/*a span.ng-binding{color: #888;}*/
.seeMore-Noti a:hover ,
.infoNoti a:hover{text-decoration: none}

.seeMore-Noti a:hover{color: #fff}
.seeMore-Noti a{color: #888}
.sectionCoin table{width: 100%;}
.sectionCoin td{text-align: center; width: 50%; border-right:solid 1px #222;}
.sectionCoin img{
    width: 18px;
}
.sectionCoin{font-size: 11px;}
.titleCountdown {
    text-align: center;
    padding: 5px;
    font-weight: bold;
    color:#b30202;font-size: 16px;
}
.timeCountdowns{
    display: block;
    padding: 5px;
    background-image: url('/images/time-thohy-bg.png');
    height: 65px;
    width: 190px;
    background-repeat: no-repeat;
}
.timeCountdowns table{
    width: 100%;
}
.timeCountdowns td{text-align: center; width: 25%; color: #fff; padding-top: 10px; font-size: 12px; text-shadow: 2px 2px #555;}
.timeCountdowns b{font-size: 28px; display: block; text-shadow: 2px 2px #333;}
.AlertMaintenance{
    display:block;
    margin: 30px 20px 30px 20px;
    text-align: center;
}
.timeClose{font-size: 22px; line-height: 35px;}
.timeClose b{font-size: 28px;}
.headingTop5{display: block; background-color: #333; box-shadow: 1px 2px #ccc;}
.headingTop5 table{width: 100%;} .headingTop5 img{width: 25px;}
.headingTop5 td{width: 20%; padding: 5px; text-align: center; cursor: pointer;}
.headingTop5 img{
   width: 20px !important;
}
td.activeRankingTop5{background-color: #fff;}
span.hoticon{
    display: block;
    position: absolute;
    margin-left: 75px;
    margin-top: -8px;
}
span.hoticon img{width: 28px !important; height: 11px !important;}