
td.tab-like-this-team{
    width: 30px;
    cursor: pointer;
}
td.tab-like-this-team img{
    width: 28px;
    height: 26px;
}
td.tab-logo-header{
    width: 60px;
}
.logo-team-stat img{
    width: 50px;
    height: 50px;
}
.logo-team-stat{
    float: left;
}
.country-stat img{
    width: 25px !important;
    height: 17px !important;
}
.bg-goal{
    /*    background-color: #e5e5e5 !important;*/
    font-weight: bold !important;
    color: #000 !important;
}
.bg-team{
    /*    background-color: #f6f6f6;*/
}
.header-match-title{
    display: block;
    color: #333;
    font-size: 16px;
    font-weight: bold;
    padding: 2px 2px 2px 5px;
}
.section-lastest-match, .section-fixure, .section-table{
    margin-bottom: 5px;
}
.section-lastest-match table, .section-fixure table, .section-table table{
    width:100%;
}
.section-lastest-match thead, .section-fixure thead{
    /*    border-bottom: solid 2px #ddd;*/
    background-color: #e7e7e7;
    line-height: 25px;
    color: #000;
}
.section-lastest-match thead, .section-fixure thead{
    font-weight: bold;
    background-color: #e7e7e7;
    line-height: 25px;
}
.section-lastest-match td, .section-fixure td{
    text-align: center;
    font-size: 12px;
    color: #464646;
    line-height: 25px;
    border-top: solid 1px #eee;
}
/*.section-lastest-match td:last-child, .section-fixure td:last-child{
    text-align: left;
}*/


/*for ie8*/
.section-lastest-match td:first-child+ td + td, .section-fixure td:first-child+ td + td{
    text-align: right;
}

.section-lastest-match td:first-child+ td + td + td +td, .section-fixure td:first-child+ td + td + td +td{
    text-align: left;
}
/**/


.section-lastest-match td:nth-child(3), .section-fixure td:nth-child(3){
    text-align: right;
}
.bg-team span{
    display: inline-block;
    width: 130px;
    height: 20px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    vertical-align: top;
}
/*
.section-lastest-match td:nth-child(5){
    width: 35%;
}*/
.section-lastest-match a, .section-fixure a, .section-table a{
    color: #464646;
    text-decoration: none;
}
td.date-match{
    width: 20%;
    text-align: center;
}
td.league-match{
    width: 10%;
}

td.teamhome-match img, td.teamaway-match img, td.team-h img , td.team-a img{
    width: 15px;
    height: 15px;
}
td.teamhome-match, td.team-h{
    text-align: right;
    padding-right: 5px;
}
td.teamaway-match, td.team-a{
    text-align: left;
    padding-left: 5px;
}
td.teamhome-match, td.teamaway-match{
    width: 30%;
    /*    background-color: #fafafa;*/
}
span.teamhome-m, span.teamaway-m{
    display: block;
    width: 130px;
    float: left;
    overflow: hidden;
}
span.teamaway-m{
    float: right;
}
.lose-bg, .win-bg, .draw-bg{
    /*    background-color: #fd7c7c;*/
    background-color: #fff;
}
.win-bg{
    /*    background-color: #00c682;*/
}
.draw-bg{
    /*    background-color: #fdef7c;*/
}

td.team-h, td.team-a{
    width: 38%;
    /*    background-color: #f6f6f6;*/
}
td.score-match{
    /*    background-color: #e5e5e5;*/
}
th.tab-total{
    background-color: #555 !important;
    color: #fff !important;
}
td.order-table{
    border-right: solid 1px #ccc;
}
.section-table td{
    border-bottom: solid 1px #eee;
    font-size: 12px;
    text-align: center;
    color: #000;
}
.section-table td:first-child{
    background-color: #fff;
}
tr.heading-table>td{
    text-align: center;
}
.font-gray{
    color: #000;
    font-weight: bold;
}
td.name-team{
    text-align: left !important;
    padding-left: 5px;
}
.tab-menu-table td{
    cursor: pointer;
    width: 33%;
}
.tab-menu-table th{
    cursor: pointer;
}
.bg-team-selected>td , .bg-team-selected>.name-team a{
    color: #e51111 !important;
    font-weight: bold;
    background-color: #fff !important; 
}
.bg-team-degraded{
    /*    background-color:  #F0C7AB !important;*/
}
.bg-team-goto-champion-league{
    /*    background-color: #8decf7 !important;*/
}
.table-bg{
    border-bottom: solid 5px #e30000;
}
.section-table td:nth-child(10),.section-table td:nth-child(11){
    /*    background-color: #eee;*/
}
.league-cover{
    height: 80px !important;
}
.league-cover td:nth-child(3){
    width: 30px;
}
.league-cover td+td+td{
    width: 30px;
}
.league-cover table{
    height: 80px !important;
}
.league-cover td{
    background-color: #fff !important;
}
.league-name-title{
    color: #333 !important;
    padding-left: 0px !important;
}

.stat-icon{
    width: 5%;
}