
.image-flag{
    display: block;
    width: 27px;
    height: 20px;
    position: absolute;
    float: left;
}
.image-flag img{
    border-radius: 50%;
    width: 22px;
    height: 20px;
}
.image-flag span{
    display: block;
    border-radius: 50%;
    border:solid 1px #ddd;
    padding: 2px;
    -moz-box-shadow: 0 0 5px #ddd;
    -webkit-box-shadow: 0 0 5px#ddd;
    box-shadow: 0 0 5px #ddd;
    background-color: #fff;
}
.tab-favorite{
    display: block;
    float: left;
    width: 495px;
    font-size: 12px;
    margin-bottom: 2px;
    border:solid 1px #e9e9e9;
    height: 23px;
    background-color: #fff;
    cursor: pointer
}
.tab-favorite:hover{
    background-color: #f5f5f5;
}
.tab-favorite ,
.tab-favorite:hover{
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;

}
.tab-favorite-team{
    border: 0;
    margin-bottom: 0px !important;
}
.tab-favorite table{
    width: 100%;
}
.tab-favorite td {
    display: block;
    float: left;
}
td.name-teamcountry{
    width: 420px;
    cursor: pointer;
}
td.like{
    width: 58px;
    text-align: right;
}
td.like img{
    width: 16px;
    height: 16px;
    cursor: pointer;
}

.wrapper-league, .wrapper-league-team{
    display: block;
    float: right;

}
.wrapper-league img{
    width: 18px;
    height: 16px;
}
.box-like-total{
    font-size: 10px;
    background-color: #27272c;
    display: block;
    border-radius:50%;
    width: 15px;
    height: 15px;
    text-align: center;
    float: right;
    margin-top: 4px;
    position:relative; 
    line-height: 1.67em; 
    color: #fff;
}
.wrapper-league-team{
    border:solid 1px #e9e9e9;
    width: 495px;
    margin-bottom: 3px;
}