
.wrapper-box-matches, .tab-datetime{
    display: block;
}
.tab-datetime{
    color: #666;
    padding: 3px;
    border-bottom: solid 1px #333;
}
.tab-datetime b{
    color: #000;
}
.tab-matches table{
    width: 100%;
}
.tab-matches td{
    line-height: 15px;
    vertical-align: middle;
    padding: 3px;
    border-bottom: solid 1px #ddd;
    text-align: center;
    font-size: 12px;
}
.tab-matches td:last-child img{
    width: 23px;
    cursor: pointer;
}
td.dateTime{
    width: 100px;
    text-align: left;
    color: #888;
}
td.dateTime b{
    color: #777;
}
td.logoCountry1 , td.logoCountry2 {
    width: 25px;
}
td.logoCountry1 img, td.logoCountry2 img{
    width: 25px;
    height: 15px;
}
span.nameTeam{
    display: block;
    width: 125px;
    height: 20px;
    overflow: hidden;
    text-align: center;
    word-break: break-all;
    line-height: 18px;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.home1{
    text-align: right !important;
    float: right;
}
.away2{
    text-align: left !important;
}
td.teamScores{
    width: 40px;
    font-weight: bold;
}
.playScore{
    color: #905151;
}
.playTime{
    color: #888;
}

/*table world cup*/
.headerGroup{
    display: block;
    padding: 3px;
    font-weight: bold;
    border-bottom: solid 3px #d64546;
}
.table-worldcup table{
    width: 100%;
    font-size: 12px;
}
.table-worldcup td{
    padding: 2px 5px 2px 5px;
    text-align: center;
    background-color: #eee;
    border-right: solid 1px #fff;
}
.table-worldcup tr:first-child td {
    background-color: #d1d1d1 !important;
}
.table-worldcup tr:nth-child(2) td{
    background-color: #ddd !important;
}
.table-worldcup th:first-child{
    text-align: left;
}
.table-worldcup td:first-child{
    text-align: left;
    width: 40%;
}
.table-worldcup td:first-child img{
    width: 22px;
    height: 15px;
    margin-right: 5px;
}
.table-worldcup td:nth-child(3), .table-worldcup td:nth-child(4),
.table-worldcup td:nth-child(5), .table-worldcup td:nth-child(6), 
.table-worldcup td:nth-child(7), .table-worldcup td:nth-child(8){
    background-color: #f5f5f5;
}
.table-group{
    margin-bottom: 10px;
}

/*Top Score world cup*/
.tab-topScore{
    border-bottom: solid 1px #ccc;
}
.tab-topScore td{
    padding: 8px;
    vertical-align: middle;
}
.tab-topScore table, .tab-otherScore table{
    width: 100%;
}
.tab-topScore td:first-child{
    width: 18%;
}
.tab-topScore td:nth-child(3){
    text-align: center;
    width: 5%;
}
.tab-topScore td:last-child{
    text-align: center;
    line-height: 5px;
    width: 20%;
}
.tab-topScore b{
    font-size: 20px;
}
.tab-topScore h2{
    margin: 0;
    padding: 0;
}
.numberOrder{
    display: block;
    position: absolute;
    width: 37px;
    height: 40px;
    z-index: 1;
    margin: 27px 0px 0px 60px;
    background-repeat: no-repeat;
    background-image: url('/images/icon/no1.png');
}
.numberOrder b{
    display: block;
    position: absolute;
    z-index: 2;
    color: #000;
    padding: 10px 0px 0px 11px;
    font-size: 14px;
}
.numberOrder-other{
    display: block;
    position: absolute;
    width: 37px;
    height: 40px;
    z-index: 1;
    margin: 25px 0px 0px 25px;
    background-image: url('/images/icon/no1.png');
}
.numberOrder-other b{
    display: block;
    position: absolute;
    z-index: 2;
    color: #000;
    padding: 8px 0px 0px 11px;
    font-size: 14px;
}
.label-text{
    font-size: 11px;
    color: #888;
}
.userPhoto{
    display: block;
    width: 55px;
    height: 55px;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
    float: right;
}
.otherPhoto{
    display: block;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
}
.userPhoto img, .otherPhoto img{
    width: 100%;
    height: 100%;
}
.tab-otherScore h3{
    margin: 0;
    padding: 0;
    font-size: 14px;
    line-height: 15px;
}
.tab-otherScore td{
    border-bottom: solid 1px #eee;
    text-align: left;
    vertical-align: middle;
}
.tab-otherScore td:first-child{
    width: 8%;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
}
td.detailUser{
    width: 8%;
}
td.infoOrder img{
    width: 15px;
    height: 15px;
}
.tab-otherScore td{
    padding: 3px;
    line-height: 20px;
}
.tab-otherScore td:last-child{
    width: 20%;
    text-align: center;
}

/* Bracket World cup*/
.bg-wordcup{
    background-image: url('/images/bg-worldcup.png');
    background-repeat: no-repeat;
    background-position: center;
}
.wrapper-box-bracket, .box-bracket{
    display: block;
}
.box-bracket{
    border:solid 1px #ccc;
    float: left;
    width: 134px;
    height: 130px;
    margin: 3px;
    background-color: #fff;
}
.bracket{
    width: 134px;
    background-color: #0b0b0d !important;
    box-shadow: none;
    border:0 !important;
    color: #999 !important;
}
.bracket th:first-child, .bracket td:first-child{
    text-align: left;
    width: 98px !important;
    overflow: hidden; word-break: break-all;
}
.bracket td, .bracket th{
    border-bottom: solid 1px #222 !important;
}
.box-bracket table, .box-team-raceRound table,
.Rounding table, .QuarterRound table,
.semiFinal-round table, .final-round table, .line-center table
, .line-center2 table, .Rounding2 table{
    width: 100%;
    font-size: 11px;
}
.box-bracket td, .box-bracket th{
    border-bottom: solid 1px #ddd;
    display: block;
    height: 15px;
    float: left;
    padding: 1px 3px 5px 3px;
}
.box-bracket th:first-child, .box-bracket td:first-child{
    text-align: left;
    width: 101px;
    overflow: hidden; word-break: break-all;
}
.box-bracket th:last-child, .box-bracket td:last-child{
    text-align: center;
    width: 20px;
}
.box-bracket td:first-child img, .box-team-raceRound td:first-child img{
    width: 18px;height: 12px;
    margin-right: 2px;
}
.nameGroup, .group{
    padding-left: 5px;
    font-size: 12px;
    font-weight: bold;
    background-color: #009c3a;
    color: #fff;
}
.group{
    background: none;
    font-size: 11px !important;
}
.tab-round, .tabs2{
    display: block;
    padding: 5px;
    text-align: center;
    font-weight: bold; color: #888;
    border: 0;
    color: #fff;
}
.tabs2{
    border-bottom: solid 1px #fff !important;
    padding: 5px !important;
    margin-bottom: 5px;
}
.box-team-raceRound{
    display: block;
    border: solid 1px #c3c3c3;
    /*    box-shadow: 0px 0px 1px 1px #ddd;*/
    float: left;
    width: 129px;
    margin: 3px;
    background-color: #fff;
}
.box-first-race{
    padding: 5px;
}
.box-team-raceRound td{
    display: block;
    float: left;
    height: 15px;
    overflow: hidden;
    padding: 3px;
}
.box-team-raceRound td:first-child{
    width: 97px !important;word-break: break-all;
}
.box-team-raceRound td:last-child{
    width: 20px;
    text-align: right;
    font-weight: bold;font-size: 15px;
    color: #000;
}
.TimeRacing{
    font-size: 11px;
    text-align: center;
    background-color: #eee;
    color: #555;
}
.Rounding td, .QuarterRound td, .Rounding2 td{
    vertical-align: middle;
    font-size: 11px;
}
.Rounding td:first-child, .Rounding td:last-child, .Rounding2 td:first-child, .Rounding2 td:last-child{
    width: 40%;
    height: 52px;
    background-repeat: no-repeat;
    background-position: right;
    background-image: url('/images/line1.png');
}
.Rounding2 td:first-child, .Rounding2 td:last-child{
    background-image: url('/images/line4.png');
}
.Rounding td:last-child, .Rounding2 td:last-child{
    background-position: left;
}
td.title-round, .titie-semi{
    text-align: center;
    font-weight: bold;
    font-size: 12px;
}
.titie-semi{
    text-align: right;padding-right: 25px;
}
td.Round1, td.Round2{
    width: 40%;
}
.semiFinal-round td{
    width: 38%;
    vertical-align: middle;
}
.final-round{
    display: block;
    padding: 10px;
    box-shadow: inset 0 0 10px #888;
    background: rgba(0, 0, 0, 0.10);
    margin: 5px 0px 5px 0px;
}
.final-round h4{
    text-align: center;
    font-weight: bold;
    margin: 0;padding: 5px;
    font-size: 22px;
}
td.fifa-round{
    vertical-align: top;
    text-align: center;
}
.final-round td{
    width: 33%;
}
.line-center td, .line-center2 td{
    text-align: center;
    height: 46px;
    background-image: url('/images/line2.png');
    background-position: center;
    background-repeat: no-repeat;
    border: solid 1px transparent;
}
.line-center2 td{
    background-image: url('/images/line3.png');
}
span.tab-champion{
    display: block;
    width: 130px;
    border-radius: 5px;
    height: 15px;
    padding: 2px;
    background-color: #006cfe;
    margin: 0 auto;
    margin-top: 2px;
    color: #fff;
    font-size: 11px;
    line-height: 15px;
    text-align: left;
    font-weight: bold;
    overflow: hidden;
    word-wrap:break-word;
}
span.tab-champion img{
    width: 12px;
    height: 10px;
}

/*index world cup*/
.teamPlay-Match{
    display: block;
    margin: 5px;
    background-image: url('/images/bg-m.png');
}
.Box1{
    display: block;
    width: 260px;
    /*    height: 85px;*/
    float: left;
    margin: 5px;
    padding: 8px 5px 8px 5px;
    background-color: rgba(255,255,255, 0.25);
}
.Box1 table{
    width: 100%;
}
.Box1 td{
    width: 33%;
    text-align: center;
    vertical-align: middle;
    font-size: 11px;
    color: #fff;
    line-height: 13px;
}
.Box1 b{
    font-weight: bold;
    font-size: 30px;
    color: #fff;
    display: inline-table;
}
.Box1 img{
    width: 50px;
    height: 30px;
}
.nameTeams{
    display: block;
    width: 80px;height: 15px;
    padding: 3px;
    overflow: hidden;
    font-size: 12px;
    font-weight: bold;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.fontYellow{
    color: #f7d802;
}
.wrapper-content-worldcup{
    display: block;
    margin-top: 3px;
}
.boxLeft, .boxRight{
    display: block;
    border: 1px solid;
    border-color: #e5e6e9 #dfe0e4 #d0d1d5;
    /*border: 1px solid #ccc;*/
    width: 270px;
    float: left;
    padding: 3px;
    margin: 3px;
    /*    box-shadow: 0 0px 1px 1px #ddd;*/
    background-color: #fff;
}
.tabs img{
    width: 18px;
    height: 18px;
    float:left;
    margin-right: 5px;
}
.tabs{
    display: block;
    padding: 2px;
    border-bottom: solid 1px #ccc;
    font-weight: bold;
    text-align: left;
}
.tab-round{
    color: #fff;
    text-align: left;
    border-bottom: 0;
    padding: 5px;
}
.boxNews{
    text-align: center;
    padding: 5px;
}
.boxNews img{
    width: 260px;
    height: 155px;
}
.boxDetails{
    display: block;
    text-align: left;
    width: 260px;
    line-height: 15px;
    font-size: 12px;
    padding: 5px 5px 5px 0px;
    color: #888;
    word-break: break-all;
}
.boxDetails b{
    color: #008ee2;
    display: inline-block;
    height: 18px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    width: 256px;
}
.tab-moreNews{
    display: block;
    padding: 0px 5px 0px 5px;
}
.tab-moreNews img{
    width: 18px;
    height: 18px;
    float:left;
    margin-right: 5px;
}
.tab-moreNews b{
    font-size: 11px;
    float: right;
}
.boxMenu-date{
    display: block;
    width: 50px;
    float: left;
    border-right: solid 1px #ccc;
}
.boxDetails-fixure{
    display: block;
    width: 208px;
    max-height: 430px;
    overflow: auto;
    /*    border-left: solid 1px #ccc;*/
    /*    border-bottom: solid 1px #ccc;*/
    padding: 5px;
    float:left;
}
.boxMenu-date table, .boxDetails-fixure table{
    width: 100%;
}
.boxDetails-fixure tr{}
.boxDetails-fixure tr:hover{background-color: #fafafa}

.boxDetails-fixure tr ,
.boxDetails-fixure tr:hover{
    border-radius: 3px;
    cursor: pointer;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

.boxMenu-date table{
    color: #888;
}
.boxMenu-date b{
    font-size: 16px;
    color: #333;
}
.boxMenu-date tr{
    display: block;
    border:solid 1px #fff; 
}
.boxMenu-date tr:hover{
    color: #E10000;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}
tr.activeDate{
    border:solid 1px #ccc;
    border-radius: 5px 0px 0px 5px;
    border-right: 0;
    color: #E10000;
    border-right: solid 1px #fff;
    margin-right: -1px;

}
.boxMenu-date td{
    display: block;
    line-height: 17px;
    margin-bottom: 5px;
    text-align: center;
    font-size: 10px;
    cursor: pointer;
    padding-top: 5px;
}
.boxDetails-fixure img{
    width: 18px;
}
.boxDetails-fixure td{
    font-size: 10.5px;
    width: 20%;
    text-align: center;
    vertical-align: middle;
}
.boxDetails-fixure span{
    width: 52px;
    height: 22px;
    overflow: hidden;
    display: block;
    color: #888;
    word-break: break-all;
    white-space: nowrap;
}
.boxDetails-fixure td:first-child{
    text-align: right;
    padding-right: 5px;
}
.boxDetails-fixure td:last-child{
    text-align: left;
    padding-left: 5px;
}
td.resultFixure{
    width: 40px;
    display: block;
    text-align: center;
    font-weight: bold;
}
.scores, td.resultFixure, td.resultFixure b{
    color: #860000;
}
td.tab-dateTime{
    background-color: #fff;
    /*    border-top:solid 1px #ccc;*/
    border-bottom: dashed 1px #ccc;
    font-size: 11px;
    font-weight: bold;
}
.wrapperBox{
    height: 430px;
    overflow: hidden;
}
.tableRound{
    background-color: #1f2023;
    margin: 5px;
}
.moreTable a{
    color: #fff;
}
.boxTopscore{
    height: 475px;
}
.wrapperScore{
    display: block;
    height: 430px; 
    overflow: hidden;
}
.boxTopscore table{
    width: 100%;
}
.boxTopscore td{
    border-bottom: solid 1px #ccc;
    font-size: 11px;
    vertical-align: middle;
    line-height: 16px;
    font-weight: normal;
    padding: 5px;
}
.boxTopscore td:last-child{
    width: 15%;
    text-align: center;
    font-size: 16px;
    font-weight: bold
}
td.userImage{
    width: 28px;
}
td.userImage img{
    width: 28px;height: 28px;
}
.boxBracket{
    text-align: center;
    height: 475px;
}
.wrapper-round32{
    height: 136px;
}

/* News World Cup */
.boxNews-woldcup{
    display: block;
    background-color: #fff;
    width: 266px;
    float:left;
    margin: 5px;
    text-align: center;
    padding: 4px;
    box-shadow: 0 0px 1px 1px #ddd;
}
.boxNews-woldcup img{
    width: 260px;
    height: 173px;
    margin-bottom: 5px;
}
.infoNews, .dateNews{
    text-align: left;
    display: block;
    height: 80px;
    overflow: hidden;
    word-wrap: break-word;
    font-size: 12px;
}
.dateNews{
    padding-top: 10px;
    height: 20px;
    font-weight: bold;
    color: #555;
    font-size: 11px;
}
.dateNews img{
    float: left;
    width: 13px;
    height: 13px;
    margin-right: 5px;
}
.infoNews b{
    display: block;
    color: #0083e1;font-size: 13px;
}

.tabRanking{
    display: block;
    border: solid 1px;
    margin: 5px;
    background-color: #0a210d;
    background-image: url(/images/worldcup-bg.png);
}
.tabRanking table{
    width: 100%;
}
.tabRanking b{
    font-size: 10px; color: #888;
}
.tabRanking img{
    width: 35px;
    height: 35px;
    border-radius: 50%;
}
.tabRanking td{
    border-bottom: solid 1px #333;
    color: #fff;
    line-height: 15px;
    vertical-align: middle;
    font-size: 12px;
    padding: 3px;
}
.tabRanking tr ,
.tabRanking tr:hover{
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}
.tabRanking tr:hover{
    background-color: #000;
}
.tabRanking td:first-child{
    width: 10%;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
}
.tabRanking td:last-child img{
    width: 28px;
    height: 28px;
}
td.imgRank{
    width: 9%;
}
td.nameRank{
    width: 50%;
}
td.pointRank{
    text-align: center;
    font-size: 15px;
}
.boxTrophy{
    display: block;
    width: 22px;
    height: 22px;
    border-radius: 50%;
    /*    background-color: #f8f4e0;*/
    padding: 3px;
    text-align: center
}
.boxTrophy img{
    width: 22px;
    height: 22px;
}
tr.own-ranking{
    background-color: #009c3a;
}
tr.own-ranking b{
    color: #333;
}
.banner img{
    width: 560px;
    height: 97px;
}